<div class="flex justify-between mt-6">
  <h2>Lista Instruments</h2>
  <app-create-button
    [label]="'Nuovo instrument'"
    (clicked)="onCreateSource()"
  />
</div>

<app-filters
  [itemsPage]="itemsPerPage ? itemsPerPage : '10'"
  (filterEmit)="filterUpdate($event)"
/>
<div *ngIf="instrumentsList">
  <app-admin-table
    [tableData]="instrumentsList"
    [tableColumns]="instrumentsTableColumns"
    [isActions]="true"
    [currentPage]="currentPage"
    [itemsPerPage]="itemsPerPage"
    [totalItems]="totalItems"
    [pageCount]="pageCount"
    [hasNext]="hasNext"
    [hasPrev]="hasPrev"
    (viewItem)="onViewSource($event)"
    (deleteItem)="onDeleteSource($event)"
    (editItem)="onEditSource($event)"
    (pageChanged)="onPageChange($event)"
  ></app-admin-table>
</div>
