<div class="container">
  <div class="page-title">
    <h1 [innerHTML]="'USER.VERIFY.TITLE' | translate"></h1>
  </div>
  <!-- Correct url query parameters or no parameters -->
  <ng-container *ngIf="workingText !== ''">
    <p [innerHTML]="workingText"></p>
    <p *ngIf="!error">{{ "USER.VERIFY.GO_BACK_TO_APP" | translate }}</p>
    <input
      *ngIf="error"
      [(ngModel)]="email"
      type="email"
      class="p-inputtext input-width"
      placeholder="{{ 'SIGN_UP.REPRESENTATIVE.EMAIL' | translate }}"
    />
    <button
      *ngIf="error"
      class="mt-2 lg:mt-0 lg:ml-0"
      mat-stroked-button
      color="primary"
      [disabled]="email === ''"
      (click)="sendValidationEmail()"
    >
      {{ "USER.NOT_VERIFIED.REQUEST_NEW_EMAIL_LINK" | translate }}
    </button>
  </ng-container>

  <!-- Wrong url query parameters -->
  <ng-container *ngIf="workingText === ''">
    <p>{{ "USER.VERIFY.NOT_VERIFIED" | translate }}</p>
    <p>{{ "USER.VERIFY.REQUEST_NEW_VALIDATION" | translate }}</p>
    <input
      *ngIf="error"
      [(ngModel)]="email"
      type="email"
      class="p-inputtext input-width"
      placeholder="{{ 'SIGN_UP.REPRESENTATIVE.EMAIL' | translate }}"
    />
    <button
      *ngIf="error"
      mat-stroked-button
      color="primary"
      style="margin-left: 1em"
      [disabled]="email === ''"
      (click)="sendValidationEmail()"
    >
      {{ "USER.NOT_VERIFIED.REQUEST_NEW_EMAIL_LINK" | translate }}
    </button>
  </ng-container>
  <br />
  <span style="color: darkred" [innerHTML]="errorText"></span>
</div>
