mat-panel-title {
    font-weight: bold;
}

p {
    margin: 2px;
}

.merchant-title {
    @apply uppercase font-bold text-left;
}

.pos-card {
    margin-top: 1em;
}

.btn-stats {
<<<<<<< HEAD
    @apply bg-[#B7CDFF] text-white p-2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
=======
    display: flex;
    color: #fff;
    justify-content: center;
    border-radius: 20px;
    padding: 9px 27px;
    background-image: linear-gradient(to right, #3CA55C 0%, #B5AC49 100%);
    box-shadow: 0 4px 12px -2px gray;
    text-transform: uppercase;
}     
>>>>>>> origin/dev

.btn-stats:hover {
    background-position: right center;
    color: #3498DB;
    text-decoration: none;
}