<div class="container">
    <div class="mat-card" >
        <h3>{{"USER.MERCHANT.WELCOME" | translate}}, {{username}}</h3>
        <mat-divider></mat-divider>
        <div class="merchant-container">
            <div class="merchant-header">
                <h1>{{"USER.MERCHANT.MERCHANT_TITLE" | translate}}</h1>
                <div class="button-container" >
                    <button mat-icon-button color="primary" matTooltip="{{'USER.MERCHANT.ADD_MERCHANT_TOOLTIP' | translate}}"
                            (click)="addMerchant()">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
            </div>

            <ng-container *ngIf="merchants">
                <mat-accordion class="merchant-mat-accordion">
                    <ng-container *ngFor="let merchant of merchants.merchants">
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <button mat-icon-button
                                            color="primary"
                                            matTooltip="{{'USER.MERCHANT.EDIT_MERCHANT_TOOLTIP' | translate}}"
                                            (click)="editMerchant(merchant)">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                    {{merchant.name}}
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <mat-divider></mat-divider>

                            <p>
                                <b>{{"USER.MERCHANT.MERCHANT.CODE" | translate}}</b>:
                                {{merchant.fiscalCode}}
                            </p>
                            <p>
                                <b>{{"USER.MERCHANT.MERCHANT.ADDRESS" | translate}}</b>:
                                {{merchant.address}},
                                {{merchant.zipCode}},
                                {{merchant.city}},
                                {{merchant.country}}
                            </p>
                            <p>
                                <b>{{"USER.MERCHANT.MERCHANT.ACTIVITY_TYPE" | translate}}</b>:
                                {{merchant.primaryActivity}}
                            </p>
                            <p *ngIf="merchant.url">
                                <b>{{"USER.MERCHANT.MERCHANT.URL" | translate}}</b>:
                                <a [href]="merchant.url" target="_blank">{{merchant.url}}</a>
                            </p>
                            <p *ngIf="merchant.description">
                                {{merchant.description}}
                            </p>
                            <!--<button mat-raised-button
                                    color="primary"
                                    matTooltip="{{'USER.MERCHANT.EDIT_MERCHANT_TOOLTIP' | translate}}"
                                    (click)="editMerchant(merchant)">
                                {{"USER.MERCHANT.EDIT_MERCHANT_BTN" | translate}}
                            </button>-->
                            <!-- POS LIST -->
                            <mat-card class="pos-card">
                                <mat-card-header>
                                    <div class="button-container">
                                        <button mat-icon-button
                                                color="primary"
                                                matTooltip="{{'USER.MERCHANT.MERCHANT.ADD_POS_TOOLTIP' | translate}} {{merchant.name}}"
                                                (click)="addPos(merchant.id)">
                                            <mat-icon>add</mat-icon>
                                        </button>
                                    </div>
                                    <mat-card-title>{{"USER.MERCHANT.MERCHANT.POS_TITLE" | translate}}</mat-card-title>
                                    <mat-card-subtitle>{{"USER.MERCHANT.MERCHANT.POS_SUBTITLE" | translate}}</mat-card-subtitle>
                                </mat-card-header>
                                    <ng-container *ngFor="let pos of merchant.pos">
                                        <mat-card-content>
                                            <button mat-icon-button
                                                    color="primary"
                                                    (click)="editPos(merchant.id, pos)">
                                                <mat-icon>edit</mat-icon>
                                            </button>
                                        <button mat-button (click)="editPos(merchant.id, pos)">{{pos.name}}</button>
                                        </mat-card-content>
                                    </ng-container>
                            </mat-card>
                        </mat-expansion-panel>
                    </ng-container>
                </mat-accordion>
            </ng-container>
        </div>
    </div>
</div>
