<mat-tab-group class="min-w-[800px]">
    <mat-tab *ngIf="currentUser.role === 'Admin'" label="Lista Merchant">
        <app-merchants-tab></app-merchants-tab>
    </mat-tab>
    <mat-tab label="I tuoi Merchant">
        <div class="container">
            <div>
                <div class="flex justify-between items center my-6">
                    <h2 class="merchant-title">
                        {{ "USER.MERCHANT.MERCHANT_TITLE" | translate }}
                    </h2>
                    <div class="flex gap-6 items-center">
                        <button
                                class="justify-self-end"
                                mat-mini-fab
                                color="primary"
                                matTooltip="{{ 'USER.MERCHANT.ADD_MERCHANT_TOOLTIP' | translate }}"
                                (click)="addMerchant()"
                        >
                            <mat-icon>add</mat-icon>
                        </button>
                    </div>
                </div>
                <div class="">
                    <ng-container *ngIf="merchants">
                        <mat-accordion class="merchant-mat-accordion">
                            <ng-container *ngFor="let merchant of merchants">
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header class="my-2">
                                        <mat-panel-title class="flex justify-between items-center">
                                            <ng-template
                                                    [ngIf]="merchant.enabled"
                                                    [ngIfElse]="not_enabled"
                                            >
                                                <div class="flex items-center gap-1">
                                                    <button
                                                            mat-icon-button
                                                            color="primary"
                                                            matTooltip="{{
                          'USER.MERCHANT.ENABLED_MERCHANT_TOOLTIP' | translate
                        }}"
                                                    >
                                                        <p class="text-sm">✅</p>
                                                    </button>
                                                    <p class="text-xl">{{ merchant.name }}</p>
                                                </div>
                                            </ng-template>
                                            <ng-template #not_enabled>
                                                <div class="flex items-center gap-1">
                                                    <button
                                                            mat-icon-button
                                                            color="primary"
                                                            matTooltip="{{
                          'USER.MERCHANT.NOT_ENABLED_MERCHANT_TOOLTIP'
                            | translate
                        }}"
                                                    >
                                                        <p class="text-sm">🚫</p>
                                                    </button>
                                                    <p class="text-xl">{{ merchant.name }}</p>
                                                </div>
                                            </ng-template>
                                            <div class="flex items-center">
                                                <div *ngIf="merchant && merchant.enabled == false">
                                                    <button
                                                            mat-stroked-button
                                                            color="warn"
                                                            (click)="requestEnabling(merchant)"
                                                    >
                                                        {{
                                                            "USER.MERCHANT.MERCHANT.SEND_ACTIVATION_REQUEST"
                                                                | translate
                                                        }}
                                                    </button>
                                                </div>

                                                <button
                                                        mat-icon-button
                                                        color="primary"
                                                        matTooltip="{{
                        'USER.MERCHANT.EDIT_MERCHANT_TOOLTIP' | translate
                      }}"
                                                        (click)="editMerchant(merchant)"
                                                >

                                                    <mat-icon>edit</mat-icon>
                                                </button>
                                                <div class="flex justify-start gap-2">
                                                    <button (click)="openStats(merchant.id)" class="btn-stats">
                                                        <mat-icon>bar_chart</mat-icon>
                                                    </button>
                                                </div>
                                            </div>
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <mat-divider></mat-divider>
                                    <p>
                                        <b>{{ "USER.MERCHANT.MERCHANT.CODE" | translate }}</b
                                        >:
                                        {{ merchant.fiscalCode }}
                                    </p>
                                    <p>
                                        <b>{{ "USER.MERCHANT.MERCHANT.ADDRESS" | translate }}</b
                                        >: {{ merchant.address }}, {{ merchant.zipCode }},
                                        {{ merchant.city }},
                                        {{ merchant.country }}
                                    </p>
                                    <p>
                                        <b>{{ "USER.MERCHANT.MERCHANT.ACTIVITY_TYPE" | translate }}</b
                                        >:
                                        {{ merchant.primaryActivity }}
                                    </p>
                                    <p *ngIf="merchant.url">
                                        <b>{{ "USER.MERCHANT.MERCHANT.URL" | translate }}</b
                                        >:
                                        <a [href]="merchant.url" target="_blank">{{ merchant.url }}</a>
                                    </p>
                                    <p *ngIf="merchant.description">
                                        {{ merchant.description }}
                                    </p>
                                    <!--<button mat-raised-button
                                                          color="primary"
                                                          matTooltip="{{'USER.MERCHANT.EDIT_MERCHANT_TOOLTIP' | translate}}"
                                                          (click)="editMerchant(merchant)">
                                                      {{"USER.MERCHANT.EDIT_MERCHANT_BTN" | translate}}
                                                  </button>-->
                                    <!-- POS LIST -->
                                    <mat-card class="pos-card">
                                        <mat-card-header>
                                            <div class="button-container">
                                                <button
                                                        *ngIf="merchant.enabled"
                                                        mat-icon-button
                                                        color="primary"
                                                        matTooltip="{{
                        'USER.MERCHANT.MERCHANT.ADD_POS_TOOLTIP' | translate
                      }} {{ merchant.name }}"
                                                        (click)="addPos(merchant.id)"
                                                >
                                                    <mat-icon>add</mat-icon>
                                                </button>
                                            </div>
                                            <mat-card-title>{{
                                                    "USER.MERCHANT.MERCHANT.POS_TITLE" | translate
                                                }}
                                            </mat-card-title>
                                            <mat-card-subtitle>{{
                                                    "USER.MERCHANT.MERCHANT.POS_SUBTITLE" | translate
                                                }}
                                            </mat-card-subtitle>
                                        </mat-card-header>
                                        <ng-container *ngFor="let pos of merchant.pos">
                                            <div
                                                    class="w-96 flex justify-between items-center pl-5"
                                                    (click)="editPos(merchant.id, pos)"
                                            >
                                                <p>
                                                    {{ pos.name }}
                                                </p>
                                                <div>
                                                    <button
                                                            mat-icon-button
                                                            color="primary"
                                                            (click)="editPos(merchant.id, pos)"
                                                    >
                                                        <mat-icon>edit</mat-icon>
                                                    </button>
                                                </div>
                                            </div>
                                        </ng-container>
                                    </mat-card>
                                </mat-expansion-panel>
                            </ng-container>
                        </mat-accordion>
                    </ng-container>
                </div>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>