mat-panel-title {
    font-weight: bold;
}

p {
    margin: 2px;
}

.merchant-title {
    @apply uppercase font-bold text-left;
}

.pos-card {
    margin-top: 1em;
}

.btn-stats {
    @apply bg-[#B7CDFF] text-white p-2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.btn-stats:hover {
    background-position: right center;
    color: #3498DB;
    text-decoration: none;
}