<div class="bg-slate-200 p-8">
  <form
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    class="bg-white p-8 rounded-xl shadow-md mx-auto space-y-6"
  >
    <h2 class="text-2xl font-semibold text-gray-800">Creazione Badge</h2>

    <!-- Nome -->
    <div formGroupName="name" class="grid grid-cols-1 md:grid-cols-4 gap-4">
      <div>
        <div class="flex gap-2 items-start">
          <label class="block text-sm font-medium text-gray-700"
            >Nome (IT)</label
          ><span class="text-red-600">*</span>
        </div>
        <input formControlName="it" type="text" class="inputField" />
      </div>
      <div>
        <div class="flex gap-2 items-start">
          <label class="block text-sm font-medium text-gray-700"
            >Nome (EN)</label
          ><span class="text-red-600">*</span>
        </div>
        <input formControlName="en" type="text" class="inputField" />
      </div>
    </div>
    <!-- Is Public e challenge-->
    <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
      <div>
        <div class="flex gap-2 items-start">
          <label for="isPublic" class="block text-sm text-gray-700"
            >Pubblico?</label
          >
          <span class="text-red-600">*</span>
        </div>
        <input
          type="checkbox"
          formControlName="isPublic"
          id="isPublic"
          class="h-4 w-4 text-blue-600 border-gray-300 rounded"
        />
      </div>

      <div *ngIf="form.get('isPublic')?.value === false" [@fadeSlide]>
        <label class="block text-sm font-medium text-gray-700">Challenge</label>
        <select formControlName="challenge" class="inputField">
          <option value="easy">Easy</option>
          <option value="medium">Medium</option>
          <option value="hard">Hard</option>
        </select>
      </div>
    </div>
    <!-- Filter -->
    <div>
      <label class="block text-sm font-medium text-gray-700"
        >Filter (JSON string)</label
      >
      <textarea formControlName="filter" rows="3" class="inputField"></textarea>
    </div>

    <!-- Image Upload -->
    <div>
      <label class="block text-sm font-medium text-gray-700"
        >Carica Immagine</label
      >
      <input
        type="file"
        (change)="onFileChange($event)"
        class="mt-1 block w-full text-sm text-gray-500 file:mr-4 file:py-2 file:px-4 file:rounded-md file:border-0 file:text-sm file:font-semibold file:bg-blue-50 file:text-blue-700 hover:file:bg-blue-100"
      />
    </div>

    <!-- Descrizione -->
    <div
      formGroupName="description"
      class="grid grid-cols-1 md:grid-cols-2 gap-4"
    >
      <div>
        <label class="block text-sm font-medium text-gray-700"
          >Descrizione (IT)</label
        >
        <textarea formControlName="it" rows="3" class="inputField"></textarea>
      </div>
      <div>
        <label class="block text-sm font-medium text-gray-700"
          >Descrizione (EN)</label
        >
        <textarea formControlName="en" rows="3" class="inputField"></textarea>
      </div>
    </div>

    <!-- Info URL -->
    <div>
      <label class="block text-sm font-medium text-gray-700">Info URL</label>
      <input formControlName="informationUrl" type="url" class="inputField" />
    </div>

    <!-- Submit Button -->
    <button
      type="submit"
      [disabled]="form.invalid"
      class="w-full py-2 px-4 bg-blue-600 text-white font-semibold rounded-md hover:bg-blue-700 transition duration-200 disabled:opacity-50"
    >
      Submit
    </button>
  </form>
</div>
