<div class="container mt-10">
  <div class="flex flex-row gap-4 lg:flex-row justify-between">
    <img
      class="h-[25px] w-fit md:h-[40px] lg:h-[50px]"
      src="/assets/images/pesaro2024/logo-pesaro2024.png"
      alt="pesaro2024"
    />
    <img
      class="h-[25px] w-fit md:h-[40px] lg:h-[50px]"
      src="/assets/images/pesaro2024/logo-cte-square.png"
      alt="cte-square"
    />
  </div>
  <div class="mt-10">
    <h1 class="text-center">WOM per Pesaro 2024</h1>
    <div class="mt-6">
      <p>
        Benvenuti nella guida ufficiale su come guadagnare e utilizzare
        <span class="italic">WOM</span>
        durante l'entusiasmante esperienza di
        <a href="https://pesaro2024.it/" class="font-semibold underline italic"
          >Pesaro 2024!</a
        >
      </p>
      <p>
        Il Comune di Pesaro, nell’ambito di
        <span class="italic">Pesaro 2024</span> e per iniziativa della
        <a href="https://ctesquare.it/" class="font-semibold underline italic"
          >Casa della Tecnologie Emergenti</a
        >, ha adottato la piattaforma digitale
        <span class="font-semibold italic">WOM</span>.
        <br />
        <span class="font-semibold italic">WOM - "Worth One Minute"</span>
        rappresenta
        <span class="font-semibold"
          >il tuo contributo attivo alla co-creazione di valore sociale</span
        >, consentendoti di partecipare attivamente a iniziative culturali e di
        scoprire le bellezze di Pesaro.
      </p>
      <p>
        Prepariamoci a esplorare insieme le opportunità offerte da questa
        piattaforma innovativa!
      </p>
      <h2>Come Funziona?</h2>
      <p>
        Guadagna <span class="italic">WOM</span> partecipando ad
        <span class="font-semibold"
          >eventi, visitando luoghi culturali, facendo azioni socialmente utili
          o adottando comportamenti sostenibili</span
        >. Ogni <span class="italic">WOM</span> rappresenta
        <span class="font-semibold">un minuto di impegno</span>. I
        <span class="italic">WOM</span>
        guadagnati potranno essere riconosciuti come voucher da
        <span class="font-semibold"
          >Commercianti, esercenti, enti pubblici e privati</span
        >
        che hanno deciso di premiare con sconti o agevolazioni l'impegno sociale
        conseguito.
      </p>
      <p>
        <span class="font-semibold italic">WOM Pocket</span> è l'app gratuita
        per Android e iOS che ti permette di collezionare
        <span class="italic">WOM</span>.
      </p>
      <div class="mx-6">
        <app-store-logos
          [appName]="'Balance'"
          [appleURL]="'https://apps.apple.com/it/app/wom-pocket/id1466969163'"
          [googleURL]="
            'https://play.google.com/store/apps/details?id=social.wom.pocket'
          "
        ></app-store-logos>
      </div>
      <h2>Come Guadagnare <span class="italic">WOM</span>?</h2>
      <p>
        Durante l'anno saranno esposti nei luoghi di
        <span class="italic">Pesaro 2024</span> e negli eventi diversi QR code.
        <span class="font-semibold">Scansiona i QR code</span> con WOM Pocket
        per accumulare <span class="italic">WOM</span>.<br />
        Tutti i <span class="italic">WOM</span> collezionati saranno poi
        conservati all'interno dell'applicazione.
      </p>
      <p>
        Per darvi il benvenuto, e per ringraziarvi della partecipazione, a
        <span class="italic">Pesaro 2024</span> ti invitiamo a scansionare con
        l'applicazione <span class="italic">WOM</span> Pocket il
        <span class="font-semibold">QR code qui presente</span>:
      </p>
      <div class="flex justify-center my-6">
        <img
          class="max-w-[300px]"
          src="/assets/images/pesaro2024/benvenutoQR.jpg"
          alt="pesaro2024"
        />
      </div>
      <p>
        Inoltre, <span class="font-semibold">esplorando la città</span> sarà
        possibile trovare vari codici scansionabili, come:
      </p>
      <ul class="text-xl pl-6">
        <li class="list-disc">
          <span class="font-semibold">
            <span class="italic">WOM</span> di benvenuto:</span
          >
          nei punti di accoglienza o centri di informazione di Pesaro, e
          dintorni, è presente un QR code dal valore di 15
          <span class="italic">WOM</span> scansionabile una tantum;
        </li>
        <li class="list-disc">
          <span class="font-semibold"
            ><span class="italic">WOM</span> associati ai luoghi di Pesaro
            2024:</span
          >
          di fronte ai palazzi e ai monumenti di Pesaro sono affissi piccoli QR
          Code che valgono 15 <span class="italic">WOM</span>;
        </li>
        <li class="list-disc">
          <span class="font-semibold"
            ><span class="italic">WOM</span> associati agli eventi di Pesaro
            2024:</span
          >
          in occasione degli eventi di
          <span class="italic">Pesaro 2024</span> verranno mostrati QR Code che
          potranno essere scansionati con
          <span class="italic">WOM</span> Pocket. Il numero di
          <span class="italic">WOM</span> associati a ogni evento è pari alla
          durata indicativa dell’evento, in minuti.
        </li>
        <li class="list-disc">
          <span class="font-semibold"
            ><span class="italic">WOM</span> associati all'applicazione
            Contapassi:</span
          >
          l’esercizio fisico serve a mantenersi in forma e il benessere
          individuale è un valore per la collettività. Scopri di più
          <a href="https://wom.social/applications/stepcounter">qui</a>
          scaricando l'applicazione
          <span class="italic">WOM Contapassi</span>
        </li>
      </ul>
      <h2>Sei un volontarx di <span class="italic">Pesaro 2024</span>?</h2>
      <p>
        Se sei o vuoi
        <a class="underline" href="https://pesaro2024.it/volontarx/"
          >diventare</a
        >
        un volontarx oltre a contribuire attivamente a
        <span class="italic">Pesaro 2024</span> avrai modo di guadagnare
        <span class="italic">WOM</span> che riconosceranno il tuo prezioso
        impegno.<br />
        In fase di registrazione ti sarà assegnato un tesserino che ti
        permetterà di riscattare i <span class="italic">WOM</span> in base alla
        durata della tua attività di volontariato.
      </p>

      <h2>Dove puoi usare i tuoi <span class="italic">WOM</span>?</h2>
      <p>
        I <span class="italic font-semibold">WOM</span> hanno un importante
        valore simbolico per chiunque li collezioni:
        <span class="font-semibold"
          >rappresentano il proprio contributo alla co-creazione di valore
          sociale</span
        >
        a <span class="italic">Pesaro 2024</span>.
        <br />
        Ma a Pesaro è anche possibile utilizzare i propri
        <span class="italic">WOM</span> per
        <span class="font-semibold"
          >accedere agli sconti e alle agevolazioni</span
        >
        che commercianti, artigiani ed esercenti offrono spontaneamente a chi ne
        possiede, in segno di apprezzamento del contributo dato a
        <span class="italic">Pesaro 2024</span>. L’elenco delle offerte viene
        presentato nell’app <span class="italic">WOM</span> Pocket in ordine
        inverso di distanza dal luogo in cui ci si trova. È anche possibile
        riconoscere negozi che praticano offerte vedendo l'etichetta della
        piattaforma <span class="italic">WOM</span> esposta in vetrina.
      </p>
      <div class="flex justify-center">
        <img
          class="max-w-[300px]"
          src="/assets/images/pesaro2024/accettanoWOM.jpeg"
          alt="merchant-eitchetta"
        />
      </div>

      <div class="mt-11 flex justify-center relative">
        <p class="italic text-base lg:text-2xl font-semibold relative">
          WOM per Pesaro 2024:
          <br /><span class="font-bold text-2xl lg:text-3xl relative"
            >Il valore della cultura a portata di mano
          </span>
        </p>
      </div>
      <p class="mt-6">
        Con <span class="italic">WOM</span>, rendi la tua partecipazione a
        <span class="italic">Pesaro 2024</span> ancora più significativa!
        Scopri, contribuisci e goditi al massimo questa straordinaria esperienza
        culturale.
      </p>
    </div>
  </div>
</div>
