<div class="container">
  <h1>{{'PRIVACY.OVERVIEW.TITLE' | translate}}</h1>
  <p [innerHTML]="'PRIVACY.OVERVIEW.MAIN_CONTENT' | translate"></p>
  <h2 class="mb-2" [innerHTML]="'PRIVACY.OVERVIEW.SECTION_1_TITLE' | translate"></h2>
  <p [innerHTML]="'PRIVACY.OVERVIEW.SECTION_1_CONTENT' | translate"></p>
  <h2 class="mb-2" [innerHTML]="'PRIVACY.OVERVIEW.SECTION_2_TITLE' | translate"></h2>
  <p [innerHTML]="'PRIVACY.OVERVIEW.SECTION_2_CONTENT' | translate"></p>
  <h2 class="mb-2" [innerHTML]="'PRIVACY.OVERVIEW.SECTION_3_TITLE' | translate"></h2>
  <p [innerHTML]="'PRIVACY.OVERVIEW.SECTION_3_CONTENT' | translate"></p>
</div>
