<div class="container">
  <div class="page-title">
    <h1 [innerHTML]="'APPLICATIONS.UNIVERSITIES.TITLE' | translate"></h1>
  </div>
  <div fxLayout="row wrap" fxLayoutGap="20px grid">
    <div fxFlex="100%">
      <p [innerHTML]="'APPLICATIONS.UNIVERSITIES.MAIN_CONTENT' | translate"></p>
    </div>
    <div fxFlex="100%">
      <mat-list>
        <mat-list-item>
          <mat-icon>link</mat-icon>
          <a href="https://wom.uniurb.it/" target="_blank" title="WOM UniUrb"
            >wom.uniurb.it</a
          >
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</div>
