<div class="container">
  <div class="page-title">
    <h1 [innerHTML]="'APPLICATIONS.UNIVERSITIES.TITLE' | translate"></h1>
  </div>
  <p [innerHTML]="'APPLICATIONS.UNIVERSITIES.MAIN_CONTENT' | translate"></p>
  <mat-list>
    <div class="flex items-center justify-center">
      <mat-icon>link</mat-icon>
      <a
        class="underline text-blue-400"
        href="https://wom.uniurb.it/"
        target="_blank"
        title="WOM UniUrb"
        >wom.uniurb.it</a
      >
    </div>
  </mat-list>
</div>
