<div class="overflow-hidden w-full">
  <div class="logo-track">
    @for (img of duplicatedImages; track $index) {
      @if (img.url) {
        <div class="logo-item">
          <a [href]="img.url" target="_blank">
            <img [src]="img.path" [alt]="img.path" />
            @if (img.title) {
              <p
                class="mt-2 text-center text-md font-normal text-gray-800"
                [innerHTML]="img.title | translate"
              ></p>
            }
          </a>
          <!-- <p class="mt-2 text-center text-sm font-semibold text-gray-800">
          {{ img.title }}
        </p> -->
        </div>
      } @else {
        <div class="logo-item">
          <img [src]="img.path" [alt]="img.path" />
          @if (img.title) {
            <p
              class="mt-2 text-center text-md font-normal text-gray-800"
              [innerHTML]="img.title | translate"
            ></p>
          }
        </div>
      }
    }
  </div>
</div>
