<!-- carousel.component.html -->
<div class="relative w-full group overflow-hidden">
  <!-- Slide Track -->
  <div
    class="flex transition-transform duration-500 ease-in-out"
    [style.transform]="'translateX(-' + currentSlideIndex * 100 + '%)'"
    [style.width.%]="100 * slideGroups.length"
  >
    <div
      *ngFor="let group of slideGroups"
      class="grid grid-cols-2 sm:grid-cols-4 gap-4 w-full flex-shrink-0"
    >
      <img
        *ngFor="let img of group"
        [src]="img.path"
        class="object-contain max-w-[200px]"
        alt="carousel image"
      />
    </div>
  </div>

  <!-- Left Arrow -->
  <button
    (click)="prevSlide()"
    class="absolute top-1/2 -translate-y-1/2 left-2 bg-white bg-opacity-70 rounded-full p-2 shadow hover:bg-opacity-100 hidden group-hover:flex items-center justify-center z-10"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6 text-black"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M15 19l-7-7 7-7"
      />
    </svg>
  </button>

  <!-- Right Arrow -->
  <button
    (click)="nextSlide()"
    class="absolute top-1/2 -translate-y-1/2 right-2 bg-white bg-opacity-70 rounded-full p-2 shadow hover:bg-opacity-100 hidden group-hover:flex items-center justify-center z-10"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6 text-black"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M9 5l7 7-7 7"
      />
    </svg>
  </button>
</div>
