@tailwind base;
@tailwind components;
@tailwind utilities;

/* COLOR STYLES */
.green-icon {
  color: green;
}

html,
body {
  height: 100%;
  background: #fbfbfb;
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif !important;
}

.h2-margin-bottom {
  @apply mb-3;
}

.container {
  @apply mx-auto max-w-screen-lg mb-20;
}

.margin-top-p {
  @apply mt-12;
}
/* This fixes pages with sidebar, which otherwise collapse */
mat-sidenav-content {
  min-height: 100vh;
}

.mat-card {
  padding: 5px;
}

.mat-form-field-infix {
  width: fit-content !important;
}

.map-container {
  width: auto !important;
}

.page-title {
  display: block;
  color: #444558;
  text-align: center;
  margin: 4rem 0;
}

.page-secondary-title {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  color: #444558;
  text-align: left;
  margin: auto;
}

/* p.content {
  margin-top: 20px;
} */

.section button {
  background-color: #444558;
  color: white;
}

.image,
.image-header {
  width: 100%;
  align-content: center;
  text-align: center;
  vertical-align: middle;
  object-fit: contain;
}

.image-header {
  max-height: 600px;
  object-fit: cover;
}

.section {
  margin-top: 20px;
}

.rounded-container {
  padding: 5px !important;
  border-width: 1px;
  border-style: solid;
  border-color: #444558;
  border-radius: 10px;
}

.margin-t-section {
  margin-top: 50px;
}

.rounded-container-body {
  border-top: 1px solid #444558;
}
.bold {
  font-weight: bold;
}

mat-form-field label {
  width: 100%;
}

.font-notes {
  font-size: 0.9rem;
}

@media only screen and (max-width: 768px) {
  .mobile-only {
    display: block;
  }

  .desktop-only {
    display: none;
  }

  .page-title {
    margin: 2.5rem 0;
  }

  font-notes {
    font-size: 0.9rem;
  }

  .font-notes {
    font-size: 0.8rem;
  }

  .container {
    @apply mx-auto max-w-screen-sm px-5;
  }
}

@media only screen and (min-width: 769px) {
  .mobile-only {
    display: none;
  }

  .desktop-only {
    display: inherit;
  }
}
