@import '~@angular/material/theming';
@include mat-core();


// // Your custom typography configuration
// $my-typography: mat-typography-config(
//   $font-family: 'Roboto, "Helvetica Neue", sans-serif',
//   $headline: mat-typography-level(36px, 48px, 700),
//   $body-1: mat-typography-level(16px, 24px, 400),
  
// );

// Rest of your theming configuration
$my-app-primary: mat-palette($mat-blue-grey);
$my-app-accent:  mat-palette($mat-pink, 500, 900, A100);
$my-app-warn:    mat-palette($mat-deep-orange);

// Apply the typography to the theme
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
//$my-app-theme: map_merge($my-app-theme, (typography: $my-typography));

// Include the theme in your application
@include angular-material-theme($my-app-theme);

@font-face {
    font-family: "Roboto";
    src: local("Roboto"), url(./assets/fonts/Roboto/Roboto-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Raleway";
    src: local("Raleway"), url(./assets/fonts/Raleway/Raleway-SemiBold.ttf) format("truetype");
}

.mat-h1, .mat-headline, .mat-typography .mat-h1, .mat-typography .mat-headline, .mat-typography h1 {
    font-family: "Raleway";
    font-size: 2.6rem;
}

.mat-h2, .mat-title, .mat-typography .mat-h2, .mat-typography .mat-title, .mat-typography h2 {
    font-family: "Raleway";
    font-size: 1.5rem;
    font-weight: 500;
}

p {
    font-size: 1.1rem;
    font-family: "Roboto";
    line-height: 1.4;
    text-align: justify;
    text-justify: inter-word;
    margin-bottom: 1.5rem;
}

@media (max-width: 767px) {
    .mat-h1, .mat-headline, .mat-typography .mat-h1, .mat-typography .mat-headline, .mat-typography h1 {
        font-size: 1.8rem;
       
      }

    .mat-h2, .mat-title, .mat-typography .mat-h2, .mat-typography .mat-title, .mat-typography h2 {
        font-size: 1.3rem;
    }

    p, li {
        font-size: 1.1rem;
    }    
}
