<div class="container">
  <h1 class="page-title" [innerHTML]="'VOLUNTEER.TITLE' | translate"></h1>

  <div fxLayout="row wrap" fxLayoutGap="20px grid">
    <div fxFlex="100%">
      <p
        class="page-secondary-title"
        [innerHTML]="'VOLUNTEER.SECTION_A.TITLE' | translate"
      ></p>
      <p [innerHTML]="'VOLUNTEER.SECTION_A.A' | translate"></p>
    </div>
    <div fxFlex="100%">
      <p
        class="page-secondary-title"
        [innerHTML]="'VOLUNTEER.SECTION_B.TITLE' | translate"
      ></p>
      <p [innerHTML]="'VOLUNTEER.SECTION_B.A' | translate"></p>
    </div>
  </div>
  <app-store-logos
    [appName]="'WOM Pocket'"
    [appleURL]="'https://apps.apple.com/it/app/wom-pocket/id1466969163'"
    [googleURL]="
      'https://play.google.com/store/apps/details?id=social.wom.pocket'
    "
  ></app-store-logos>
</div>
