
  <div class="container">
    <div class="img-container">
      <img class="image" src="assets/images/wom-logo.png" alt="WOM logo" />
    </div>
  </div>
    <div class="container">
      <div class="row">
        <div>
          <h2 >
            WOM is general-purpose rewarding platform based on a voucher exchange system.
          </h2 >

          <p>
            Many actions and activities done by individuals contribute to the <b>common good</b> and have an intrinsic social value, an effect known as “positive externalities” in economics.
            WOMs are digital vouchers designed to recognize the value of actions having such a positive effect and to provide a tool to reward these positive externalities.
          </p>

          <p>
            WOM stands for <b>“Worth One Minute”</b>: each WOM&nbsp;voucher rewards one minute of socially-valuable effort performed by an individual.
            Vouchers are fully anonymous.
            They only store data about the social purpose for which they were earned, in addition to location and date where they were generated.
          </p>

          <p>
            WOM vouchers do not have a value in “real” fiat money.
            They are proof a socially-valuable effort that an individual contributed towards a shared cause.
            Each voucher keeps track of the kind of effort it compensates.
          </p>

          <h2>How do I earn WOMs?</h2>

          <p>
            WOM vouchers are gained by voluntarily performing socially-valuable work.
            Each minute of effort is worth one WOM.
            For vouchers to be generated, the performed activity must be officially recognized by the WOM&nbsp;platform.
          </p>

          <p>
            In order to be recognized, an activity or initiative must be evaluated as being socially-valuable and thus approved by the WOM&nbsp;platform’s ethical committee.
          </p>

          <h2>How do I use my WOMs?</h2>

          <p>
            Business owners, shopkeepers, public entities, or any other private citizen (generically called “merchants”) may freely decide to provide goods, service, or discounts to owners of WOM&nbsp;vouchers.
            To do so, they create a <b>“WOM payment”</b>, which allows them to choose which kind of effort to reward: WOM&nbsp;vouchers can be filtered by purpose, location, and time.
            Goods, services, and discounts can be determined freely by the merchant.
          </p>

          <p>
            By accepting specific kinds of WOM&nbsp;vouchers, merchants can indirectly contribute to a social campaign, incentivizing citizens contributing to the shared goal with their voluntary efforts.
            Also, merchants can increase their visibility to the community working towards the shared goal.
          </p>

          <h2>How does it work in practice?</h2>

          <h1>Volunteers</h1>
          <p>
            WOM&nbsp;vouchers are managed by a mobile app, the <b>“WOM&nbsp;Pocket”</b>, which is installed on a personal device by <b>volunteers</b>.
            The applications allows volunteers to gather their vouchers, to store them, and to spend them.
          </p>

        </div>
      </div>

      <div class="badge-row">
        <div class="badge">
          <a href="https://play.google.com/store/apps/details?id=social.wom.pocket" title="Download WOM Pocket from Google Play">
            <img src="assets/images/badge_google_play.png" alt="Google Play" />
          </a>
        </div>
        <div class="badge">
          <a href="https://apps.apple.com/it/app/wom-pocket/id1466969163" title="Download WOM Pocket from App Store">
            <img src="assets/images/badge_app_store.png" alt="Apple App Store" />
          </a>
        </div>
      </div>

      <div class="row">
          <h1>Merchants</h1>
          <p>
            <b>Merchants</b> use a different application, the <b>“WOM&nbsp;POS”</b>, or a custom integration software.
            These software components allow merchants to create new transactions, applying filters to collected WOM&nbsp;vouchers (filtering on purpose, place, and time) in order to accept only WOMs that are more coherent with their own motivations and aims.
          </p>
      </div>

      <div class="badge-row">
        <div class="badge">
          <a href="https://play.google.com/store/apps/details?id=social.wom.pos" title="Download WOM POS from Google Play">
            <img src="assets/images/badge_google_play.png" alt="Google Play" />
          </a>
        </div>
        <div class="badge">
          <a href="https://apps.apple.com/it/app/wom-pos/id1468252634" title="Download WOM POS from App Store">
            <img src="assets/images/badge_app_store.png" alt="Apple App Store" />
          </a>
        </div>
      </div>

      <div class="row">
        <h1>Instruments</h1>
        <p>
          Owners of a social activity or an initiative with a social aim, such as non-profit organizations, associations, or private individuals, may contact <a href="mailto:info@wom.social">info@wom.social</a> in order to be evaluated by the platform’s ethical committee and to be added to the list of <b>WOM&nbsp;Instruments</b> that can generate vouchers and reward contributors.
        </p>

        <h3>Technical</h3>
        <p>
          WOM is an <b>open technology</b> provided as open source software, released under the <a href="https://opensource.org/licenses/MIT">MIT&nbsp;license</a>.
          It is developed in the open on GitHub, <a href="https://github.com/WOM-Platform">take a look</a>.
        </p>

        <h2>Stay in touch! 📫</h2>

        <p>
          To develop new WOM integrations, POS connectors, or any other inquiry, please contact <a href="mailto:info@wom.social">info@wom.social</a>.
        </p>
      </div>
    </div>
