<div class="mt-6 mx-auto max-w-[1000px]">
  <div class="flex justify-between">
    <h2>Lista Utenti</h2>
    <app-create-button [label]="'Nuovo Utente'" (clicked)="onCreateUser()" />
  </div>

  <app-filters
    [itemsPage]="itemsPerPage ? itemsPerPage : '10'"
    (filterEmit)="filterUpdate($event)"
  />
  <div *ngIf="userList">
    <app-admin-table
      [tableData]="userList"
      [tableColumns]="usersTableColumns"
      [isActions]="true"
      [currentPage]="currentPage"
      [itemsPerPage]="itemsPerPage"
      [totalItems]="totalItems"
      [pageCount]="pageCount"
      [hasNext]="hasNext"
      [hasPrev]="hasPrev"
      (deleteItem)="onDeleteUser($event)"
      (editItem)="onEditUser($event)"
      (pageChanged)="onPageChange($event)"
    ></app-admin-table>
  </div>
</div>
