<div class="relative mx-auto py-10 px-4 max-w-full">
  <div class="flex justify-between items-center">
    <app-statistics-filters
      [dateFilters]="dateFilters"
      (onDateFilter)="onDatesSelected($event)"
    />
    <div *ngIf="currentUser.role === 'Admin'" class="flex items-center gap-2">
      <!-- Scarica CSV -->
      <button [matTooltip]="activeFiltersSummary" matTooltipShowDelay="200">
        <span class="material-symbols-outlined">info</span>
      </button>
      <!-- Scarica report annuale -->
      <button (click)="openModalReport()">
        <span class="material-symbols-outlined">assignment</span>
      </button>
      <app-csv-download [filters]="filters" />
    </div>
  </div>
  <header class="w-full h-[5px] bg-[#739cf4] my-6"></header>

  <div *ngIf="currentUser.role === 'Admin' || currentUser.merchants.length > 0">
    <app-consumer-statistics
      [dateFilters]="dateFilters"
      [currentUser]="currentUser"
      (filtersEmit)="onMerchantSelected($event)"
    >
    </app-consumer-statistics>
  </div>
  <!-- WOM Generati Section -->
  <div
    *ngIf="currentUser.role === 'Admin' || currentUser.sources.length > 0"
    class="mt-10"
  >
    <app-generator-statistics-component
      [dateFilters]="dateFilters"
      [currentUser]="currentUser"
      (filtersEmit)="onSourceSelected($event)"
    >
    </app-generator-statistics-component>
  </div>
</div>
