<div class="relative inline-block">
  <div *ngIf="image; else defaultImage">
    <img
      *ngIf="!loaded"
      [alt]="alt"
      [src]="blurDataUrl"
      [width]="width"
      [height]="height"
      class="absolute top-0 left-0"
    />
    <img
      [src]="image?.[imageSize]"
      [alt]="alt"
      (load)="onLoad()"
      [style.opacity]="loaded ? '1' : '0'"
      [style.transition]="'opacity 0.7s ease-in-out'"
      [width]="width"
      [height]="height"
    />
  </div>
  <ng-template #defaultImage>
    <img [src]="defaultImg" [alt]="alt" [width]="width" [height]="height" />
  </ng-template>
</div>
