<div class="mx-6 mt-6 md:mx-20">
  <h1
    class="text-4xl font-bold text-gray-800 mb-6 text-center"
    [innerHTML]="'CHALLENGES.TITLE' | translate"
  ></h1>

  <p
    class="text-gray-600 mb-8"
    [innerHTML]="'CHALLENGES.INTRO' | translate"
  ></p>

  <section class="mb-12">
    <h2 class="text-2xl font-semibold text-gray-700 mb-4">
      {{ "CHALLENGES.HOW_IT_WORKS.TITLE" | translate }}
    </h2>
    <p
      class="text-gray-600 mb-4"
      [innerHTML]="'CHALLENGES.HOW_IT_WORKS.DESC_1' | translate"
    ></p>
    <p class="text-gray-600">
      {{ "CHALLENGES.HOW_IT_WORKS.DESC_2" | translate }}
    </p>
  </section>

  <!-- Christmas Challenge Section -->
  <section
    class="p-6 rounded-xl mb-12 shadow"
    style="
      background: linear-gradient(
        0deg,
        rgba(155, 42, 42, 0.29) 0%,
        rgba(153, 175, 247, 0.33) 70%
      );
    "
  >
    <h2
      class="text-xl font-semibold text-[#009FE3] mb-4"
      [innerHTML]="'CHALLENGES.MISSION_NATALE.TITLE' | translate"
    ></h2>
    <p>
      {{ "CHALLENGES.MISSION_NATALE.SUBTITLE" | translate }}
    </p>
    <p
      class="text-gray-700 mb-2"
      [innerHTML]="'CHALLENGES.MISSION_NATALE.DESC' | translate"
    ></p>

    <ul class="list-disc list-inside text-gray-700 ml-4">
      <li>
        <b>{{ "CHALLENGES.MISSION_NATALE.LIST.SANTA_TITLE" | translate }}</b> →
        {{ "CHALLENGES.MISSION_NATALE.LIST.SANTA_DESC" | translate }}
      </li>
      <li>
        <b>{{ "CHALLENGES.MISSION_NATALE.LIST.ART_TITLE" | translate }}</b> →
        {{ "CHALLENGES.MISSION_NATALE.LIST.ART_DESC" | translate }}
      </li>
      <li>
        <b>{{ "CHALLENGES.MISSION_NATALE.LIST.WALK_TITLE" | translate }}</b> →
        {{ "CHALLENGES.MISSION_NATALE.LIST.WALK_DESC" | translate }}
      </li>
      <li>
        <b>{{ "CHALLENGES.MISSION_NATALE.LIST.TRAVEL_TITLE" | translate }}</b> →
        {{ "CHALLENGES.MISSION_NATALE.LIST.TRAVEL_DESC" | translate }}
      </li>
      <li>
        <b>{{
          "CHALLENGES.MISSION_NATALE.LIST.OPENSTAGE_TITLE" | translate
        }}</b>
        → {{ "CHALLENGES.MISSION_NATALE.LIST.OPENSTAGE_DESC" | translate }}
      </li>
      <li>
        <b>{{ "CHALLENGES.MISSION_NATALE.LIST.SPIRIT_TITLE" | translate }}</b> →
        {{ "CHALLENGES.MISSION_NATALE.LIST.SPIRIT_DESC" | translate }}
      </li>
    </ul>

    <p class="text-gray-700 mt-4">
      {{ "CHALLENGES.MISSION_NATALE.PARTICIPATE" | translate }}
      <a
        class="text-[#009FE3]"
        target="_blank"
        href="https://link.wom.social/challenge/v1/6926d0fef44a5c43bce4e9f0"
      >
        {{ "CHALLENGES.MISSION_NATALE.CLICK_HERE" | translate }} </a
      >:
    </p>
    <div class="flex justify-center mt-4">
      <img
        src="assets/images/challenges/wom_christmas_callenge_2025.png"
        [attr.alt]="'CHALLENGES.MISSION_NATALE.QR_ALT' | translate"
        class="w-64 h-64 rounded-lg shadow"
      />
    </div>
    <p class="text-gray-700 mt-4">
      {{ "CHALLENGES.MISSION_NATALE.FOOTER_NOTE" | translate }}
    </p>
  </section>

  <section class="mb-12">
    <h2 class="text-2xl font-semibold text-gray-700 mb-4">
      {{ "CHALLENGES.TYPES.TITLE" | translate }}
    </h2>
    <p class="text-gray-600 mb-3">
      {{ "CHALLENGES.TYPES.INTRO" | translate }}
    </p>
    <ul class="list-disc list-inside text-gray-700 ml-4 mb-4">
      <li [innerHTML]="'CHALLENGES.TYPES.PUBLIC' | translate"></li>
      <li [innerHTML]="'CHALLENGES.TYPES.PRIVATE' | translate"></li>
    </ul>
    <p class="text-gray-600">
      {{ "CHALLENGES.TYPES.FOOTER" | translate }}
    </p>
  </section>
</div>
