<div class="mx-6 mt-6 md:mx-20">
    <h1 class="text-4xl font-bold text-gray-800 mb-6 text-center">
        <em>Challenge</em> – Accetta la sfida, conquista i badge!
    </h1>

    <p class="text-gray-600 mb-8">
        Le <b class="text-[#009FE3]">Challenge</b> sono sfide speciali
        pensate per rendere l’esperienza su <b>Pocket</b> ancora più
        coinvolgente, dinamica e interattiva.
    </p>

    <section class="mb-12">
        <h2 class="text-2xl font-semibold text-gray-700 mb-4">Come funzionano?</h2>
        <p class="text-gray-600 mb-4">
            Partecipare è semplicissimo: ti basta
            <b>scansionare un QR Code</b> associato a una challenge. Una
            volta scansionato, la sfida verrà attivata automaticamente all’interno
            dell’app <b>Pocket</b>, e potrai iniziare a
            <b>sbloccare badge esclusivi</b>!
        </p>
        <p class="text-gray-600">
            Ogni challenge ha i suoi obiettivi: più ti impegni, più badge conquisti.
        </p>
    </section>

    <section class="p-6 rounded-xl mb-12 shadow"
    style="background: linear-gradient(0deg,rgba(155, 42, 42, 0.29) 0%, rgba(153, 175, 247, 0.33) 70%);">
        <h2 class="text-xl font-semibold text-[#009FE3] mb-4">
            Partecipa alla <em>Challenge Missione Natale</em>🎄
        </h2>
        <p>
            Vivi lo spirito natalizio e sblocca i badge esclusi!
        </p>
        <p class="text-gray-700 mb-2">
            In questa challenge l’obiettivo è semplice: <b>guadagnare WOM durante il periodo natalizio, compiendo
            delle semplici azioni per vivere la città di Pesaro!</b>
            <br>Questi sono i traguardi:
        </p>
        <ul class="list-disc list-inside text-gray-700 ml-4">
            <li>
                <b>Unsecret Santa</b> → scambia i contatti con almeno 5 amici
            </li>
            <li>
                <b>Arte sotto l’Albero</b> → Visita un museo a Pesaro
            </li>
            <li>
                <b>Cammino Addobbato</b> → Cammina e raccogli 300 WOM sull’app WOMFit
            </li>
            <li>
                <b>Viaggio tra le feste</b> → Prendi 2 autobus urbani o 1 interurbano
            </li>
            <li>
                <b>Anima il Natale con Openstage</b> → Partecipa a 4 spettacoli o prendi parte ad almeno 2 esibizioni
            </li>
            <li>
                <b>Spirito del Natale</b> → Diventa il Campione del Natale accumulando 1000 WOM durante il periodo natalizio
            </li>
        </ul>

        <p class="text-gray-700 mt-4">
            Per partecipare, scansiona il QR Code qui sotto utilizzando l'app "WOM
            Pocket" o
            <a
                    class="text-[#009FE3]"
                    target="_blank"
                    href="https://link.wom.social/challenge/v1/6926d0fef44a5c43bce4e9f0"
            >clicca qui</a
            >:
        </p>
        <div class="flex justify-center mt-4">
            <img
                    src="assets/images/challenges/wom_christmas_callenge_2025.png"
                    alt="QR Code Challenge Networking"
                    class="w-64 h-64 rounded-lg shadow"
            />
        </div>
        <p class="text-gray-700 mt-4">
            Vedrai comparire i 6 badge associati alla challenge di Natale e potrai sbloccarli completando tutte le sfide!
        </p>
    </section>

    <section class="mb-12">
        <h2 class="text-2xl font-semibold text-gray-700 mb-4">
            Badge standard vs. badge esclusivi
        </h2>
        <p class="text-gray-600 mb-3">
            Nell’app Pocket esistono due categorie di badge:
        </p>
        <ul class="list-disc list-inside text-gray-700 ml-4 mb-4">
            <li>
                <b>Badge pubblici</b>: visibili a tutti, si ottengono
                semplicemente usando l’app, senza aderire a una challenge.
            </li>
            <li>
                <b>Badge privati</b>: si sbloccano <em>solo</em> partecipando
                attivamente a una challenge tramite QR Code.
            </li>
        </ul>
        <p class="text-gray-600">
            Le challenge sono quindi l’unico modo per ottenere badge esclusivi e
            dimostrare la tua voglia di giocare, esplorare e connetterti!
        </p>
    </section>
</div>
