
.access-list {
    padding: 0;
    list-style-type: disc;
}

.access-list li {
    @apply ml-6
}

.access-item {
    @apply flex
}

.access-details {
    @apply text-lg flex gap-4;
    flex-grow: 1;
}

.delete-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

.delete-button:hover {
    background-color: #fdd;
    border-radius: 50%;
}

.delete-button mat-icon {
    font-size: 24px;
    color: #f00;
}


.btn-default {
    @apply border-2 border-black px-4 py-2 rounded-full flex items-center gap-1 bg-white cursor-pointer;
}

.btn-default:hover {
    @apply bg-gray-300;
}
