<div *ngIf="posList && posList.length > 0" class="mt-6">
    <p class="font-semibold mb-0">POS:</p>
    <ul class="access-list">
        <li *ngFor="let pos of posList" class="">
            <div class="access-item">
                <div class="access-details">
                    <div>
                        <span class="text-slate-600 font-semibold">Name</span>:
                        {{ pos.name }}
                    </div>
                    <!-- <div>
                      <span class="text-slate-600 font-semibold">Indirizzo</span>:
                      {{ pos?.address?.formattedAddress || "" }}
                    </div> -->
                </div>
                <ng-container *ngIf="action === 'edit'">
                    <button class="text-blue-600" (click)="onEditPos(pos)">
                        <mat-icon class="text-blue-600">edit</mat-icon>
                    </button>
                    <button class="delete-button text-red" (click)="onDeletePos(pos)">
                        <mat-icon class="text-red">delete</mat-icon>
                    </button>
                </ng-container>
            </div>
        </li>
    </ul>
</div>
      