<!-- carousel -->
<div class="relative w-full">
  <app-carousel [images]="slidesList" />
  <img
    class="absolute top-0 left-1/2 transform -translate-x-1/2 w-3/5 h-full object-contain"
    src="../../../assets/images/home/generazioneValore.webp"
    [attr.alt]="'HOME.HERO_ALT' | translate"
  />
</div>

<!-- app che valorizza -->
<div
  class="px-6 md:px-20 pb-3 pt-16 md:pb-12 md:pt-8 my-12 bg-[#F2F2F2] relative"
>
  <h3
    class="homeH3 absolute px-20 -top-6 sm:-top-9 left-0 text-[#1F1F1D]"
    [innerHTML]="'HOME.VALORIZE_TITLE' | translate"
  ></h3>
  <div class="relative flex justify-center md:justify-end items-center">
    <app-store-logos
      [appName]="'WOM POCKET'"
      [appleURL]="'https://apps.apple.com/it/app/wom-pocket/id1466969163'"
      [appleQR]="'/assets/images/pesaro/tourists/qr-code-ios.png'"
      [googleURL]="
        'https://play.google.com/store/apps/details?id=social.wom.pocket'
      "
      [googleQR]="'/assets/images/pesaro/tourists/qr-code-android.png'"
    />
  </div>
  <h3
    class="homeH3 absolute px-20 -bottom-3 sm:-bottom-6 right-0 text-[#CCCCCC]"
  >
    {{ "HOME.DOWNLOAD_APP" | translate }}
  </h3>
</div>

<div class="mx-6 md:mx-20">
  <div class="mb-8">
    <!-- info wom -->
    <p [innerHTML]="'HOME.INFO_WOM' | translate"></p>
  </div>

  <div class="flex flex-col gap-4">
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
      <!-- Azioni -->
      <div class="square-info">
        <h3 class="square-title">
          {{ "HOME.SQUARES.ACTIONS.TITLE" | translate }}
        </h3>
        <div class="text-square">
          <hr class="hr-line w-[48px]" />
          <p>{{ "HOME.SQUARES.ACTIONS.DESC" | translate }}</p>
        </div>
        <div class="mt-auto flex justify-end text-square">
          <app-btn-find-out-more [ref]="'/users'" />
        </div>
      </div>
      <!-- Offerte -->
      <div class="square-info">
        <h3 class="square-title">
          {{ "HOME.SQUARES.OFFERS.TITLE" | translate }}
        </h3>
        <div class="text-square">
          <hr class="hr-line w-[90px]" />
          <p [innerHTML]="'HOME.SQUARES.OFFERS.DESC' | translate"></p>
        </div>
        <div class="mt-auto flex justify-end text-square">
          <app-btn-find-out-more [ref]="'/merchant'" />
        </div>
      </div>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
      <!-- Valore -->
      <div class="square-info">
        <h3 class="square-title">
          {{ "HOME.SQUARES.VALUE.TITLE" | translate }}
        </h3>
        <div class="text-square">
          <hr class="hr-line w-[106px]" />
          <p [innerHTML]="'HOME.SQUARES.VALUE.DESC' | translate"></p>
        </div>
        <div class="mt-auto flex justify-end text-square">
          <app-btn-find-out-more [ref]="'/about-section/about'" />
        </div>
      </div>
      <!-- Sfide -->
      <div class="square-info">
        <h3 class="square-title">
          {{ "HOME.SQUARES.CHALLENGES.TITLE" | translate }}
        </h3>
        <div class="text-square">
          <hr class="hr-line w-[70px]" />
          <p>{{ "HOME.SQUARES.CHALLENGES.DESC" | translate }}</p>
        </div>
        <div class="mt-auto flex justify-end text-square">
          <app-btn-find-out-more [ref]="'/challenge'" />
        </div>
      </div>
    </div>
  </div>

  <div class="col-span-full relative">
    <h3 class="text-[#1F1F1D] mt-6 mb-3 homeH3">
      {{ "HOME.HOW_TO_EARN" | translate }}
    </h3>
    <app-small-images-carousel [images]="squareList" />
  </div>

  <!-- Logos Section (Alts only) -->
  <div
    class="flex flex-wrap justify-center items-center gap-4 mt-8 relative w-full"
  >
    <img
      src="../../../assets/images/home/WOMPocket.png"
      alt="WOM Pocket"
      class="logo-app sm:mr-6"
    />
    <div
      class="hidden md:block w-[2px] h-32 bg-[#CCCCCC] transform rotate-12 origin-center"
    ></div>
    <img
      src="../../../assets/images/home/WOMFit.png"
      alt="WOM Fit"
      class="logo-app"
    />
    <div
      class="hidden md:block w-[2px] h-32 bg-[#CCCCCC] transform rotate-12 origin-center"
    ></div>
    <img
      src="../../../assets/images/home/WOMPos.png"
      alt="WOM POS"
      class="logo-app"
    />
  </div>
</div>

<!-- DIGIT section -->
<a
  href="https://digit.srl/"
  target="_blank"
  rel="noopener noreferrer"
  class="px-6 md:px-20 py-3 md:py-6 mt-6 bg-[#F2F2F2] relative flex items-center flex-col md:flex-row gap-4 md:gap-12"
>
  <img
    class="h-auto max-w-28 md:max-w-full md:max-h-24 w-auto"
    src="../../../assets/images/digit_logo.png"
    alt="Digit logo"
  />
  <p class="font-light">{{ "HOME.FOOTER.DIGIT_DESC" | translate }}</p>
</a>

<!-- CTE section -->
<div class="border-t-2 border-[#CCCCCC]"></div>
<a
  href="https://ctesquare.it/"
  target="_blank"
  rel="noopener noreferrer"
  class="px-6 md:px-20 py-3 md:py-6 bg-[#F2F2F2] relative flex items-center flex-col md:flex-row gap-4 md:gap-12"
>
  <p class="font-light">{{ "HOME.FOOTER.CTE_DESC" | translate }}</p>
  <img
    class="max-w-28 md:max-w-[200px] w-full h-auto"
    src="../../../assets/images/pesaro/logo-cte-square.png"
    alt="CTE Square logo"
  />
</a>
