<!-- carousel -->
<app-carousel [images]="slidesList" />
<!-- app che valorizza -->
<div
  class="px-6 md:px-20 pb-3 pt-16 md:pb-12 md:pt-8 my-12 bg-[#F2F2F2] relative"
>
  <h3 class="homeH3 absolute px-20 -top-6 sm:-top-9 left-0 text-[#1F1F1D]">
    l'app<br />che valorizza<br />il tuo tempo
  </h3>
  <div class="relative flex justify-center md:justify-end items-center">
    <app-store-logos
      [appName]="'WOM POCKET'"
      [appleURL]="'https://apps.apple.com/it/app/wom-pocket/id1466969163'"
      [appleQR]="'/assets/images/pesaro/tourists/qr-code-ios.png'"
      [googleURL]="
        'https://play.google.com/store/apps/details?id=social.wom.pocket'
      "
      [googleQR]="'/assets/images/pesaro/tourists/qr-code-android.png'"
    />
  </div>
  <h3
    class="homeH3 absolute px-20 -bottom-3 sm:-bottom-6 right-0 text-[#CCCCCC]"
  >
    scarica l'app
  </h3>
</div>
<div class="mx-6 md:mx-20">
  <div class="mb-8">
    <!-- info wom -->
    <p>
      <span class="womWord">WOM</span> - "Worth One Minute" è una piattaforma di
      ricompensa general-purpose basata su un sistema di scambio di voucher.
      Molte azioni e attività compiute dagli individui hanno un valore sociale
      intrinseco, un effetto noto in economia come "esternalità positiva". WOM
      mira a riconoscere tutte quelle azioni che costituiscono un contributo
      socialmente prezioso per un obiettivo comune, premiando il tempo che le
      persone dedicano a queste attività attraverso la generazione di voucher
      sociali digitali. I voucher WOM premiano ogni minuto di impegno sociale.
    </p>
    <!-- <app-btn-find-out-more /> -->
  </div>

  <div class="flex flex-col gap-4">
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
      <div class="square-info">
        <h3 class="square-title">azioni</h3>

        <div class="text-square">
          <hr class="hr-line w-[48px]" />
          <p>
            Compiendo azioni socialmente valide, ogni utente guadagna WOM. Gli
            Utenti possono gestire i loro voucher WOM tramite un’app, "WOM
            Pocket", che possono installare sul proprio dispositivo.
            L’applicazione consente di raccogliere i propri voucher, conservarli
            e spenderli.
          </p>
        </div>
        <div class="mt-auto flex justify-end text-square">
          <app-btn-find-out-more [ref]="'/users'" />
        </div>
      </div>
      <div class="square-info">
        <h3 class="square-title">offerte</h3>

        <div class="text-square">
          <hr class="hr-line w-[90px]" />
          <p>
            I negozi locali possono offrire agli utenti servizi e sconti in
            cambio di WOM.<br />
            Puoi trovare i negozi che aderiscono al progetto nella sezione
            "offerte" di "WOM Pocket". <br /><br />Se sei un negoziante e vuoi
            entrare nel progetto WOM clicca sul pulsante scopri di più
          </p>
        </div>
        <div class="mt-auto flex justify-end text-square">
          <app-btn-find-out-more [ref]="'/merchant'" />
        </div>
      </div>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
      <div class="square-info">
        <h3 class="square-title">valore</h3>

        <div class="text-square">
          <hr class="hr-line w-[106px]" />
          <p>
            Molte azioni hanno un valore sociale intrinseco.<br />
            WOM riconosce l’impatto di queste azioni e fornisce uno strumento
            per premiare queste esternalità positive mediante l’emissione di
            WOM.
          </p>
        </div>
        <div class="mt-auto flex justify-end text-square">
          <app-btn-find-out-more [ref]="'/about-section/about'" />
        </div>
      </div>
      <div class="square-info">
        <h3 class="square-title">sfide</h3>

        <div class="text-square">
          <hr class="hr-line w-[70px]" />
          <p>
            Sfida te stesso e collezione i badge WOM. Accedi alla sezione
            "traguardi" sull'app "WOM Pocket" e scopri le sfide che ti
            circondano.
          </p>
        </div>
        <div class="mt-auto flex justify-end text-square">
          <!-- <app-btn-find-out-more /> -->
        </div>
      </div>
      <div class="col-span-full relative">
        <h3 class="text-[#1F1F1D] mt-6 mb-3 homeH3">come guadagnare WOM</h3>
        <app-small-images-carousel [images]="squareList" />
      </div>
    </div>

    <!-- <div class="grid grid-cols-2 sm:grid-cols-4 gap-4 justify-center">
      <img
        *ngFor="let slide of squareList"
        src="{{ slide.path }}"
        alt="test"
        class="object-contain"
      />
    </div> -->
  </div>

  <!-- app loghi -->
  <div
    class="flex flex-wrap justify-center items-center gap-4 mt-8 relative w-full"
  >
    <img
      src="../../../assets/images/home/WOMPocket.png"
      alt="WOM Pocket"
      class="logo-app sm:mr-6"
    />
    <div
      class="hidden md:block w-[2px] h-32 bg-[#CCCCCC] transform rotate-12 origin-center"
    ></div>
    <img
      src="../../../assets/images/home/WOMFit.png"
      alt="WOM Fit"
      class="logo-app"
    />
    <div
      class="hidden md:block w-[2px] h-32 bg-[#CCCCCC] transform rotate-12 origin-center"
    ></div>
    <img
      src="../../../assets/images/home/WOMPos.png"
      alt="WOM POS"
      class="logo-app"
    />
  </div>
</div>
<!-- trafiletto digit -->
<a
  href="https://digit.srl/"
  target="_blank"
  rel="noopener noreferrer"
  class="px-6 md:px-20 py-3 md:py-6 mt-6 bg-[#F2F2F2] relative flex items-center flex-col md:flex-row gap-4 md:gap-12"
>
  <img
    class="h-auto max-w-28 md:max-w-full md:max-h-24 w-auto"
    src="../../../assets/images/digit_logo.png"
    alt="srl logo"
  />

  <p class="font-light">
    DIGIT srl è uno spin-off dell’Università di Urbino che ha come obiettivo
    creare un valore sociale attraverso la consapevolezza digitale. DIGIT srl è
    stata fondata sulla convinzione che alla base della tecnologia, delle
    piattaforme e dei software ci debbano essere gli interessi dell’uomo e della
    società e che innovazione sociale e digitale siano indissolubilmente legate.
  </p>
</a>
<!-- trafiletto pesaro -->
<div class="border-t-2 border-[#CCCCCC]"></div>
<a
  href="https://ctesquare.it/"
  target="_blank"
  rel="noopener noreferrer"
  class="px-6 md:px-20 py-3 md:py-6 bg-[#F2F2F2] relative flex items-center flex-col md:flex-row gap-4 md:gap-12"
>
  <p class="font-light">
    CTE Square, Casa delle Tecnologie Emergenti ha lo scopo di supportare
    progetti di ricerca e sperimentazione con l’intento di trasferire know-how
    tecnologico verso le piccole e medie imprese per produrre sempre più servizi
    di qualità.
  </p>
  <img
    class="max-w-28 md:max-w-[200px] w-full h-auto"
    src="../../../assets/images/pesaro/logo-cte-square.png"
    alt="CTE Square logo"
  />
</a>
<!-- <div class="container">
  <div class="flex flex-wrap items-center">
    <div class="margin-top-p">
      <div class="basis-full">
        <img
          class="h-48 mx-auto"
          src="../../../assets/images/wom-logo.png"
          alt="WOM logo"
        />
      </div>

      <div class="section basis-full">
        <h1 [innerHTML]="'HOME.SECTION_INTRO.TITLE' | translate"></h1>
        <p [innerHTML]="'HOME.SECTION_INTRO.A' | translate"></p>
        <div class="flex justify-center">
          <button
            class="px-4 py-2 rounded-full"
            [innerHTML]="'GENERIC.BUTTON.MORE' | translate"
            [routerLink]="['/about-section/about']"
          ></button>
        </div>
      </div>
    </div>

    <div class="margin-top-p flex flex-wrap justify-center">
      <div class="basis-full sm:basis-1/2">
        <img
          class="h-48 mx-auto"
          src="../../../assets/images/digit_logo.png"
          alt="DIGIT srl logo"
        />
      </div>
      <div class="section basis-full sm:basis-1/2">
        <p [innerHTML]="'HOME.SECTION_INTRO.B' | translate"></p>
      </div>

      <button
        class="mt-8 bg-[#444558] text-white justify-self-center px-4 py-2 rounded-full"
        [innerHTML]="'GENERIC.BUTTON.MORE' | translate"
        (click)="navigateExternal('https://www.digit.srl')"
      ></button>
    </div>
  </div>
  <div class="flex flex-wrap items-start">
    <div class="section basis-full sm:basis-1/2">
      <div class="header-box-title rounded-2xl px-4 py-2">
        <h2 [innerHTML]="'HOME.SECTION_VOL.TITLE' | translate"></h2>
      </div>
      <div class="header-box-content">
        <p [innerHTML]="'HOME.SECTION_VOL.MESSAGE' | translate"></p>
      </div>
      <div class="mobile-only">
        <div class="flex justify-center">
          <button
            class="mt-8 bg-[#444558] text-white px-4 py-2 rounded-full"
            [innerHTML]="'GENERIC.BUTTON.MORE' | translate"
            (click)="navigate('users')"
          ></button>
        </div>
      </div>
    </div>

    <div class="section basis-full sm:basis-1/2">
      <div class="header-box-title rounded-2xl px-4 py-2">
        <h2 [innerHTML]="'HOME.SECTION_MERCH.TITLE' | translate"></h2>
      </div>
      <div class="header-box-content">
        <p [innerHTML]="'HOME.SECTION_MERCH.MESSAGE' | translate"></p>
      </div>
      <div class="mobile-only">
        <div class="flex justify-center">
          <button
            class="mt-8 bg-[#444558] text-white px-4 py-2 rounded-full"
            [innerHTML]="'GENERIC.BUTTON.MORE' | translate"
            (click)="navigate('merchant')"
          ></button>
        </div>
      </div>
    </div>
  </div>
  <div class="desktop-only">
    <div class="flex">
      <div class="basis-1/2 flex justify-center">
        <button
          class="mt-8 bg-[#444558] text-white justify-self-center px-4 py-2 rounded-full"
          [innerHTML]="'GENERIC.BUTTON.MORE' | translate"
          (click)="navigate('users')"
        ></button>
      </div>
      <div class="basis-1/2 flex justify-center">
        <button
          class="mt-8 bg-[#444558] text-white justify-self-center px-4 py-2 rounded-full"
          [innerHTML]="'GENERIC.BUTTON.MORE' | translate"
          (click)="navigate('merchant')"
        ></button>
      </div>
    </div>
  </div>
  <div class="flex flex-wrap">
    <div class="section basis-full sm:basis-1/2">
      <div class="header-box-title rounded-2xl px-4 py-2">
        <h2 [innerHTML]="'HOME.SECTION_INSTR.TITLE' | translate"></h2>
      </div>
      <div class="header-box-content">
        <p [innerHTML]="'HOME.SECTION_INSTR.MESSAGE' | translate"></p>
        <div class="flex justify-center">
          <button
            class="mt-8 bg-[#444558] text-white justify-self-center px-4 py-2 rounded-full"
            [innerHTML]="'GENERIC.BUTTON.MORE' | translate"
            (click)="navigate('instrument')"
          ></button>
        </div>
      </div>
    </div>

    <div class="section basis-full sm:basis-1/2">
      <div class="header-box-title rounded-2xl px-4 py-2">
        <h2 [innerHTML]="'HOME.SECTION_REG.TITLE' | translate"></h2>
      </div>
      <div class="header-box-content">
        <p [innerHTML]="'HOME.SECTION_REG.MESSAGE' | translate"></p>
      </div>
    </div>
  </div>
  <div>
    <div class="section basis-full">
      <div class="header-box-title rounded-2xl px-4 py-2">
        <h2 [innerHTML]="'HOME.SECTION_TECH.TITLE' | translate"></h2>
      </div>
      <div class="header-box-content">
        <p [innerHTML]="'HOME.SECTION_TECH.MESSAGE' | translate"></p>
      </div>
    </div>

    <div class="section basis-full">
      <div>
        <h2 [innerHTML]="'HOME.SECTION_CONTACT.TITLE' | translate"></h2>
        <p [innerHTML]="'HOME.SECTION_CONTACT.MESSAGE' | translate"></p>
      </div>
    </div>
  </div>
</div> -->
