<div class="container">
  <h1>Privacy Policy ‘WOM Pocket’</h1>
  The Pocket mobile application and its online services are designed to be fully anonymous and will never collect personal information from their users.

  WOM Pocket will ask for the following permissions during regular operation:

  <ul>
    <li>
      Camera: Using your device’s camera to scan a QR-Code
    </li>
  </ul>
  It is required to grant these permissions otherwise the stated functions may not work as intended.

  Communication protocols with the Pocket online service have been developed in order to be privacy-preserving by design:

  <ul>
    <li>
      Unique identifiers of sessions and other sensitive data are never transmitted to the online service and are kept on the device;
    </li>
    <li>
      No personal information is ever stored on our servers.
    </li>
  </ul>

  The service is compliant with the <a href="https://www.eugdpr.org/">EU General Data Protection Regulation.</a>
</div>
