<div class="mx-6 mt-6 md:mx-20">
  <h1 class="text-4xl font-bold text-[#009FE3] mb-6 text-center">
    {{ "USERS.MERCHANT.TITLE" | translate }}
  </h1>

  <section class="mb-12">
    <h2 class="">
      {{ "USERS.MERCHANT.WHO_THEY_ARE_AND_HOW_TO_JOIN.TITLE" | translate }}
    </h2>
    <p
      class="text-gray-600 mb-4"
      [innerHTML]="
        'USERS.MERCHANT.WHO_THEY_ARE_AND_HOW_TO_JOIN.DESC_1' | translate
      "
    ></p>
    <p
      class="text-gray-600"
      [innerHTML]="
        'USERS.MERCHANT.WHO_THEY_ARE_AND_HOW_TO_JOIN.DESC_2' | translate
      "
    ></p>
    <p
      class="text-gray-600"
      [innerHTML]="
        'USERS.MERCHANT.WHO_THEY_ARE_AND_HOW_TO_JOIN.DESC_3' | translate
      "
    ></p>
    <p class="text-gray-600">
      {{ "USERS.MERCHANT.WHO_THEY_ARE_AND_HOW_TO_JOIN.DESC_4" | translate }}
    </p>
    <p class="text-gray-600">
      {{ "USERS.MERCHANT.WHO_THEY_ARE_AND_HOW_TO_JOIN.DESC_5" | translate }}
    </p>
    <p
      class="text-gray-600"
      [innerHTML]="
        'USERS.MERCHANT.WHO_THEY_ARE_AND_HOW_TO_JOIN.DESC_6' | translate
      "
    ></p>
    <a class="text-[#009FE3] font-semibold">
      {{ "USERS.MERCHANT.WHO_THEY_ARE_AND_HOW_TO_JOIN.LINK" | translate }}
    </a>
  </section>

  <section class="mb-12">
    <h2 class="">
      {{ "USERS.MERCHANT.WOM_POS_TOOL_FOR_MERCHANTS.TITLE" | translate }}
    </h2>
    <p
      class="text-gray-600 mb-4"
      [innerHTML]="
        'USERS.MERCHANT.WOM_POS_TOOL_FOR_MERCHANTS.DESC_1' | translate
      "
    ></p>
    <p class="text-gray-600">
      {{ "USERS.MERCHANT.WOM_POS_TOOL_FOR_MERCHANTS.DESC_2" | translate }}
    </p>
    <p class="text-gray-600">
      {{ "USERS.MERCHANT.WOM_POS_TOOL_FOR_MERCHANTS.DESC_3" | translate }}
    </p>
  </section>

  <section class="mb-12">
    <h2 class="">
      {{ "USERS.MERCHANT.HOW_TO_CREATE_AND_DELETE_OFFERS.TITLE" | translate }}
    </h2>
    <p
      class="text-gray-600 mb-4"
      [innerHTML]="
        'USERS.MERCHANT.HOW_TO_CREATE_AND_DELETE_OFFERS.DESC_1' | translate
      "
    ></p>
    <p class="text-gray-600">
      {{ "USERS.MERCHANT.HOW_TO_CREATE_AND_DELETE_OFFERS.DESC_2" | translate }}
    </p>
    <p
      class="text-gray-600"
      [innerHTML]="
        'USERS.MERCHANT.HOW_TO_CREATE_AND_DELETE_OFFERS.DESC_3' | translate
      "
    ></p>
    <a class="text-[#009FE3] font-semibold">
      {{ "USERS.MERCHANT.HOW_TO_CREATE_AND_DELETE_OFFERS.LINK" | translate }}
    </a>
  </section>

  <section class="mb-12">
    <h2 class="">
      {{ "USERS.MERCHANT.MORE_INFORMATION.TITLE" | translate }}
    </h2>
    <p class="text-gray-600 mb-4">
      {{ "USERS.MERCHANT.MORE_INFORMATION.DESC_1" | translate }}
    </p>
    <p class="text-gray-600">
      {{ "USERS.MERCHANT.MORE_INFORMATION.DESC_2" | translate }}
    </p>
    <a class="text-[#009FE3] font-semibold">
      {{ "USERS.MERCHANT.MORE_INFORMATION.LINK" | translate }}
    </a>
  </section>
</div>
