<div>
  <div class="banner-width">
    <img
      class="w-full hidden lg:block"
      src="/assets/images/pesaro2024/hoteliers/banner.jpg"
    />
    <img
      class="w-full block lg:hidden"
      src="/assets/images/pesaro2024/hoteliers/banner-mb.jpg"
    />
  </div>
  <div class="container">
    <div class="mt-10 container justify-normal">
      <h1 class="text-center">
        TOOLKIT PER <span class="blue-wom">ALBERGATORI</span>
      </h1>

      <div class="mt-6">
        <p class="mb-0">
          Guida per gli albergatori che si propongono ai clienti come punto di
          primo contatto con la piattaforma WOM, adottata da Pesaro 2024 per
          riconoscere il valore sociale della partecipazione.
        </p>
      </div>

      <div class="mt-6">
        <p class="mb-0">
          <a
            class="font-semibold underline"
            href="/assets/images/pesaro2024/hoteliers/pesaro2024-wom-per-albergatori.pdf"
            target="_blank"
          >
            Scarica la guida in versione in PDF</a
          >.
        </p>
      </div>
      <div class="mt-6">
        <h2 class="blue-wom">WOM per Pesaro 2024</h2>
        <p class="mt-6">
          Il Comune di Pesaro, nell'ambito di <strong>Pesaro 2024</strong> e per
          iniziativa della <strong>Casa della Tecnologie Emergenti</strong>, ha
          adottato la piattaforma digitale <strong>WOM</strong>, per il
          coinvolgimento attivo di cittadini e turisti. Chiunque partecipi alle
          iniziative culturali o visiti i luoghi di Pesaro 2024 può guadagnare
          punti, detti WOM, che attestano il
          <strong>valore sociale generato dalla partecipazione</strong>.<br />
          Per riscuotere WOM basta inquadrare con l'applicazione
          <strong>WOM Pocket</strong> gli speciali QR Code esposti nei luoghi
          della cultura e associati agli eventi. Si possono guadagnare WOM anche
          camminando, perché l'esercizio fisico serve a mantenersi in forma e il
          benessere individuale è un valore per la collettività.
          <br />
          <br />
          <strong>Ogni WOM corrisponde a un minuto di impegno. </strong>
          <br />
          <br />
          I WOM non hanno controvalore monetario, ma vengono riconosciuti come
          <strong>voucher</strong> da chi intende premiare chi li ha guadagnati.
          <strong>Commercianti, esercenti, artigiani, enti</strong> possono
          liberamente decidere di concedere sconti o agevolazioni su beni e
          servizi a chi è in possesso di WOM, per contribuire indirettamente al
          successo di Pesaro 2024. L'entità dello sconto praticato e il numero
          di WOM necessari a ottenerlo sono a totale discrezione di ogni
          esercente, che può impostare le offerte e renderle immediatamente
          visibili sull'applicazione WOM Pocket.
        </p>
      </div>
      <div class="mt-6">
        <h2 class="blue-wom">Il ruolo degli albergatori</h2>
        <p class="justify-normal mt-6">
          Come ogni albergatore, sei tu il primo
          <strong>punto di riferimento</strong> in città per i turisti tuoi
          ospiti. Affinché comprendano e colgano tutte le opportunità offerte
          dalla piattaforma WOM durante il loro soggiorno a Pesaro, è
          estremamente utile che sia tu a presentargliela. <br /><br />
          Puoi farlo al loro arrivo, ma puoi iniziare a farlo anche prima. Per
          questo abbiamo predisposto speciali QRcode di
          <strong>invito</strong> e di <strong>benvenuto</strong> a Pesaro che
          potrai liberamente mostrare ai tuoi clienti per consentire loro di
          guadagnare i primi WOM. <br /><br />
          Solo per tuo tramite i tuoi clienti riusciranno ad essere pienamente
          partecipi delle attività di Pesaro 2024 e ad utilizzare la piattaforma
          WOM per accedere a sconti e agevolazioni offerto dagli esercenti di
          Pesaro che hanno aderito al progetto.<br /><br />
          Nei tutorial seguenti troverai tutte le informazioni necessarie per
          introdurre WOM ai tuoi clienti e per utilizzarli nell'ambito delle tue
          azioni di promozione, marketing territoriale e fidelizzazione.
        </p>
      </div>
      <div>
        <h2 class="blue-wom mt-6">
          Tutorial 1: Cosa fare prima dell'arrivo del cliente
        </h2>
        <ol class="list-decimal list-outside mt-6 ml-6">
          <li>
            Dopo aver eseguito le tue procedure di check-in,
            <strong>informa</strong> i tuoi clienti dell'esistenza del progetto
            WOM
          </li>
          <li>
            <strong>Consegna</strong> al cliente il
            <a target="_" href="https://wom.social/pesaro2024/turisti"
              ><strong><u>toolkit dedicato ai turisti</u></strong></a
            >
            in italiano o in inglese (in formato cartaceo o digitale), dove
            trovano la descrizione del progetto WOM e indicazioni dettagliate
            per raccogliere e utilizzare i WOM di Pesaro 2024.
          </li>
          <li>
            <strong>Invitali</strong> a scaricare l'app
            <strong>WOM Pocket</strong> e a utilizzarla subito per scansionare
            il <strong>QRcode di Benvenuto</strong> (qui sotto) per ottenere i
            loro primi 15 WOM
          </li>
          <li>
            <strong>Mostralo</strong> ai tuoi clienti e fallo
            <strong>scansionare</strong>
            direttamente con l'app WOM Pocket
          </li>
        </ol>
      </div>

      <div class="mt-6">
        <h2 class="blue-wom">Tutorial 2: Cosa fare all'arrivo del cliente</h2>
        <p class="justify-normal mt-6">
          Se hai a disposizione un <strong>contatto</strong> del cliente prima
          del suo arrivo presso la tua struttura, approfittane per
          <strong>comunicargli prima del loro arrivo</strong> la tua adesione al
          progetto WOM. <strong>Invitali</strong> a scaricare l'app WOM Pocket e
          a guadagnare già i loro primi WOM, prima del loro arrivo a Pesaro.
          <strong>Allega</strong> alla e-mail il toolkit che ti abbiamo fornito
          come guida all'utilizzo di WOM.
        </p>
        <ul class="list-decimal list-outside mt-6 ml-6">
          <li>
            Dopo aver eseguito le tue procedure di check-in,
            <strong>informa</strong> i tuoi clienti dell'esistenza del progetto
            WOM
          </li>
          <li>
            <strong>Consegna</strong> al cliente il
            <a target="_" href="https://wom.social/pesaro2024/turisti"
              ><strong><u>toolkit dedicato ai turisti</u></strong></a
            >
            in italiano o in inglese (in formato cartaceo o digitale), dove
            trovano la descrizione del progetto WOM e indicazioni dettagliate
            per raccogliere e utilizzare i WOM di Pesaro 2024.
          </li>
          <li>
            <strong>Invitali</strong> a scaricare l'app
            <strong>WOM Pocket</strong> e a utilizzarla subito per scansionare
            il <strong>QRcode di Benvenuto</strong> (qui sotto) per ottenere i
            loro primi 15 WOM
          </li>
          <li>
            <strong>Mostralo</strong> ai tuoi clienti e fallo
            <strong>scansionare</strong> direttamente con l'app WOM Pocket
          </li>
        </ul>
      </div>
      <div>
        <h2 class="blue-wom mt-6">
          Nota 1: Informare i clienti prima del loro arrivo
        </h2>
        <p class="justify-normal mt-6">
          Se hai a disposizione un <strong>contatto</strong> del cliente prima
          del suo arrivo presso la tua struttura, approfittane per
          <strong>comunicargli prima del loro arrivo</strong> la tua adesione al
          progetto WOM. <strong>Invitali</strong> a scaricare l'app WOM Pocket e
          a guadagnare già i loro primi WOM, prima del loro arrivo a Pesaro.
          <strong>Allega</strong> alla e-mail il toolkit che ti abbiamo fornito
          come guida all'utilizzo di WOM.
        </p>
        <h2 class="blue-wom mt-6">Nota 2: Informare i tuoi clienti abituali</h2>
        <p class="justify-normal mt-6">
          Se hai a disposizione una <strong>mailing list</strong> dei tuoi
          clienti abituali, <strong>informali</strong> sulla tua partecipazione
          al progetto. Questo potrebbe essere un ulteriore
          <strong>incentivo</strong> a tornare presso la tua struttura e a
          <strong>visitare</strong> la città di Pesaro durante il 2024.<br /><br />
          <strong>Invia</strong> alla tua mailing list una e-mail informandoli
          sulla tua aderenza al progetto, <strong>allegando</strong> il toolkit
          dedicato ai turisti e invitandoli a tornare a Pesaro.
        </p>
      </div>
      <div class="flex flex-col justify-center items-center mt-6">
        <p class="font-semibold blue-wom mb-0 text-center">
          Ecco il QRcode di benvenuto a Pesaro 2024!
        </p>
        <img
          class="max-w-[300px] lg:max-w-[600px]"
          src="/assets/images/toolkit-for-merchant/welcome.jpg"
          alt="welcome"
        />
        <h2 class="text-center">
          <a
            class="font-semibold underline"
            href="/assets/images/toolkit-for-merchant/welcomeWOM.pdf"
            target="_blank"
            ><i class="fas fa-file-pdf"></i> Scarica qui il QRcode di
            benvenuto</a
          >
        </h2>
      </div>

      <div>
        <h2 class="blue-wom mt-6">Tutorial 3: Guadagnare e usare WOM</h2>
        <p>
          Dopo aver introdotto il progetto WOM e aver fatto scaricare l'app WOM
          Pocket, <strong>informa</strong> i tuoi clienti su come possono
          guadagnare WOM:
        </p>
        <ol class="list-decimal list-outside mt-6 ml-6">
          <li>
            <strong>QRcode di benvenuto</strong> - mostra ai tuoi clienti il
            QRcode che ti abbiamo fornito sopra, in questo modo potranno
            guadagnare i loro primi 15 WOM
          </li>
          <li>
            <strong>Visita dei luoghi di cultura</strong> di Pesaro 2024 - di
            fronte ai palazzi e ai monumenti di Pesaro sono affissi piccoli
            QRcode che valgono 15 WOM, <strong>introduci</strong> ai tuoi
            clienti quali sono i luoghi che sono stati riconosciuti come luoghi
            della cultura Pesaro 2024 e invita a visitarli
          </li>
          <li>
            <strong>Visita dei musei</strong> di Pesaro - all'interno dei musei
            sono esposti QRcode che valgono 60 WOM,
            <strong>introduci</strong> ai tuoi clienti quali sono i musei che
            sono stati riconosciuti come luoghi della cultura Pesaro 2024 e
            invita a visitarli
          </li>
          <li>
            <strong>Eventi</strong> di Pesaro 2024 - a ogni evento è associato
            uno specifico QRcode che dà valore alla tua partecipazione,
            <strong>illustra</strong>
            quali eventi sono previsti (se previsti) nel periodo di permanenza
            dei tuoi clienti
          </li>
        </ol>
        <p>
          Una volta introdotto come guadagnare WOM,
          <strong>informali</strong> anche dell'esistenza di negozi
          convenzionati in cui possono utilizzare i loro WOM in cambio di
          <strong>agevolazioni e offerte</strong>. Spiega, inoltre ai tuoi
          clienti, che possono vedere le offerte attive nel territorio dall'app
          WOM Pocket, nella sezione <strong>"Offerte"</strong>.<br />
          Potranno riconoscere i negozi convenzionati tramite l'apposito adesivo
          <strong>"QUI SI ACCETTANO WOM"</strong>
        </p>
      </div>
      <div class="mt-6">
        <h2 class="blue-wom">FAQ: Risposte alle domande frequenti</h2>
        <div *ngFor="let faq of faqs; let i = index">
          <div class="mt-6">
            <div
              class="font-semibold mt-3 cursor-pointer bg-[#EFEFF1] rounded-xl px-6 py-2 flex justify-between items-center"
              (click)="toggleFaq(i)"
            >
              <p class="mb-0">
                {{ faq.header }}
              </p>
              <i
                [ngClass]="{ 'rotate-180': faq.isOpen }"
                class="fas fa-chevron-down"
              ></i>
            </div>
            <div *ngIf="faq.isOpen">
              <div *ngIf="faq.content.length <= 1; else moreElements">
                <p
                  class="mb-0 px-6 py-2 border-b-2 border-l-2 border-r-2 border-black rounded-b-lg"
                >
                  {{ faq.content }}
                </p>
              </div>
              <ng-template #moreElements>
                <div
                  class="mb-0 px-6 py-2 border-b-2 border-l-2 border-r-2 border-black rounded-b-lg"
                >
                  <p
                    class="mb-0"
                    *ngFor="let cont of faq.content; let i = index"
                  >
                    {{ cont }}
                  </p>
                </div>
              </ng-template>
            </div>
          </div>
        </div>

        <div>
          <p class="font-semibold mb-0 mt-6">
            Per maggiori informazioni o supporto tecnico:
          </p>
          <p class="mb-0">
            <a class="underline" href="tel:0722 042615">0722 042615</a> da lun a
            ven dalle 10 alle 12
          </p>
          <p class="mb-0">
            <a class="underline" href="mailto:pesaro@wom.social"
              >pesaro&#64;wom.social</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
