<div class="container">
  <span class="page-title" [innerHTML]="'VOLUNTEER.TITLE' | translate"></span>

  <div fxLayout="row wrap" fxLayoutGap="20px grid">
    <div fxFlex="100%">
      <p class="page-secondary-title" [innerHTML]="'VOLUNTEER.SECTION_A.TITLE' | translate"></p>
      <p [innerHTML]="'VOLUNTEER.SECTION_A.A' | translate"></p>
    </div>
    <div fxFlex="100%">
      <p class="page-secondary-title" [innerHTML]="'VOLUNTEER.SECTION_B.TITLE' | translate"></p>
      <p [innerHTML]="'VOLUNTEER.SECTION_B.A' | translate"></p>
    </div>
    <div fxFlex="50%" fxFlex.xs="100%">
      <a href="https://play.google.com/store/apps/details?id=social.wom.pocket" target="_blank" title="Download WOM Pocket from Google Play">
        <img style="max-width: 100%;" src="assets/images/badge_google_play.png" alt="Google Play" />
      </a>
    </div>
    <div fxFlex="50%" fxFlex.xs="100%">
      <a href="https://apps.apple.com/it/app/wom-pocket/id1466969163" target="_blank" title="Download WOM Pocket from App Store">
        <img style="max-width: 100%;" src="assets/images/badge_app_store.png" alt="Apple App Store" />
      </a>
    </div>
  </div>
</div>
