<div
  class="w-full relative bg-[#a7368c] text-white bg-gradient-to-r from-[#a7368c] from-70% to-[#CA86BA]"
>
  <div class="absolute inset-0 bg-white bg-opacity-40"></div>
  <div style="margin-bottom: 0" class="container pt-10 relative z-10 pb-10">
    <div class="flex justify-center">
      <img
        class="relative w-[600px]"
        src="assets/images/sharper2024/logoSharper.png"
      />
    </div>
    <div class="mt-10">
      <h2 class="relative text-center">
        <span class="relative">
          <img
            class="absolute bottom-2"
            src="assets/images/sharper2024/filRouge.png"
          />
        </span>
        <em class="text-[#a7368c]">Fil rouge:</em> Caccia ai WOM di Sharper
      </h2>
      <div class="mt-6">
        <p class="mb-0">Tutti i partecipanti potranno collezionare WOM:</p>
        <ul>
          <li>
            <strong>Visitando le sedi di Sharper</strong> (20 WOM per sede)
          </li>
          <li><strong>Partecipando agli eventi</strong> (20 WOM per evento)</li>
          <li>
            <strong>Incontrando i protagonisti</strong> (5 WOM per contatto)
          </li>
        </ul>
      </div>
      <div class="mt-6">
        <p class="mb-0">Il valore della partecipazione:</p>
        <ul>
          <li><strong>Consapevolezza</strong></li>
          <li><strong>Gadget Sharper</strong></li>
          <li><strong>Gadget Uniurb a prezzo di costo</strong></li>
          <li>
            <strong
              >Sconti e agevolazioni presso negozi ed esercizi
              commerciali</strong
            >
          </li>
        </ul>
      </div>
      <div class="mt-10">
        <h2 class="text-center">
          <span class="text-[#a7368c]">WOM</span> in pratica
        </h2>
        <h3 class="text-2xl text-[#a7368c]">WOM Pocket</h3>
        <div class="mt-6 flex gap-8 justify-center items-center">
          <img src="assets/images/sharper2024/womPhone.png" />
          <div>
            <p class="sharper-text">
              È l’<strong>app gratuita</strong> che permette di raccogliere e
              utilizzare <strong>WOM</strong>. Disponibile su
              <strong>Google Play</strong> (Android) e
              <strong>App Store</strong> (iOS), l’app non richiede una
              registrazione e garantisce l’anonimato degli utenti. Corrisponde a
              un vero e proprio “borsellino virtuale” che permette di riscuotere
              WOM, scansionando speciali <strong>QRcode</strong>, e di
              utilizzarli per accedere a
              <strong>sconti e offerte</strong> all’interno dei negozi
              convenzionati.
            </p>

            <app-store-logos
              [appName]="'WOM POCKET'"
              [appleURL]="
                'https://apps.apple.com/it/app/wom-pocket/id1466969163'
              "
              [appleQR]="'/assets/images/pesaro2024/tourists/qr-code-ios.png'"
              [googleURL]="
                'https://play.google.com/store/apps/details?id=social.wom.pocket'
              "
              [googleQR]="
                '/assets/images/pesaro2024/tourists/qr-code-android.png'
              "
            ></app-store-logos>
          </div>
        </div>

        <div class="mt-10">
          <h3 class="text-2xl text-[#a7368c]">QRcode TOTEM</h3>
          <div class="sharper-text">
            <p class="mb-0">QRcode associati a luoghi ed eventi:</p>
            <ul>
              <li>Esposti all’ingresso o sui tavoli</li>
              <li>Mostrati a schermo per gli eventi da palco</li>
              <li>
                Permettono di guadagnare WOM
                <ul>
                  <li>solo <strong>una volta</strong></li>
                  <li>solo <strong>durante l’evento</strong></li>
                  <li>
                    solo in <strong>prossimità del luogo</strong> in cui sono
                    esposti
                  </li>
                </ul>
              </li>
            </ul>
            <p class="mb-0">
              Tutti i QRcode, se scansionati normalmente, permettono di
              scaricare l’app WOM Pocket
            </p>
          </div>
        </div>
        <div class="mt-10">
          <h3 class="text-2xl text-[#a7368c]">QRcode BADGE</h3>
          <div class="mt-6 flex gap-8 justify-center items-center">
            <div class="sharper-text">
              <p class="mb-0">QRcode associati a ricercatrici e ricercatori:</p>
              <ul>
                <li>
                  Card digitali con QRcode e metadati: <strong>nome</strong>,
                  <strong>cognome</strong>, <strong>email</strong> e
                  <strong>URL</strong>
                </li>
              </ul>
              <p>
                Ricercatrici e ricercatori possono farle scansionare ai
                partecipanti per:
              </p>
              <ul>
                <li>permettere loro di guadagnare WOM</li>
                <li>lasciare loro i propri contatti istituzionali</li>
                <li>lasciare traccia del luogo in cui ci si è incontrati</li>
              </ul>
              <p>
                Per ricevere le card personali via e-mail occorre compilare il
                <a
                  class="underline italic text-blue-500"
                  href="https://forms.gle/ChzjeNjgWcNnHKHr8"
                  target="_blank"
                  >Google form</a
                >
              </p>
            </div>
            <img src="assets/images/sharper2024/sharperPhone.png" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
