<div class="w-full relative bg-[#a7368c] text-white">
  <!-- Overlay with improved visibility -->
  <div class="absolute inset-0 bg-white bg-opacity-40"></div>

  <!-- Content container with mobile responsiveness -->
  <div style="margin-bottom: 0" class="container pt-10 relative z-10 pb-10">
    <div class="flex justify-center">
      <img
        class="relative w-[300px] sm:w-[600px]"
        src="assets/images/sharper2024/logoSharper.png"
      />
    </div>

    <div class="mt-10 px-4">
      <!-- Add padding on small screens -->
      <h2 class="relative text-center text-lg sm:text-4xl">
        <!-- Adjust heading size -->
        <span class="relative">
          <img
            class="absolute bottom-2"
            src="assets/images/sharper2024/filRouge.png"
          />
        </span>
        <em class="">SHARPER <span class="text-[#a7368c]">fil rouge</span></em
        ><br />
        <span class="text-[#a7368c]">Caccia ai WOM della ricerca</span>
      </h2>

      <div class="mt-6">
        <p class="mb-0 text-sm sm:text-xl">
          <!-- Responsive text size -->
          Partecipando alla
          <strong>notte delle ricercatrici e dei ricercatori</strong> siete
          tutti invitati a collezionare i <strong>WOM della ricerca</strong>,
          associati alle
          <strong>12 sedi, ai 70 eventi e ai 160 protagonisti</strong>. Potrete
          guadagnare:
        </p>
        <ul class="list-disc pl-4">
          <li class="text-sm sm:text-xl">
            <strong>20 WOM visitando ogni sede</strong>
          </li>
          <li class="text-sm sm:text-xl">
            <strong>20 WOM partecipando a ogni evento</strong>
          </li>
          <li class="text-sm sm:text-xl">
            <strong
              >5 WOM incontrando ogni ricercatrice e ogni ricercatore con
              maglietta magenta</strong
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="mt-6">
      <p class="mb-0 text-sm font-semibold sm:text-xl">Cosa sono i WOM?</p>
      <p>
        Sono <strong>punti che rappresentano il valore pubblico</strong> creato
        dalla vostra partecipazione attiva a questo grande evento culturale. I
        WOM non hanno un controvalore in denaro, ma potete usarli per ottenere i
        <strong>gadget UNIURB a prezzo di costo</strong> presso l'UNIURB STORE e
        per accedere alle
        <strong>offerte spontanee di negozianti ed esercenti</strong>.
      </p>
      <br />
      <p>
        Collezionando WOM, conserverete
        <strong>memoria di tutti i luoghi e gli eventi visitati</strong>, con
        link attivi alle pagine che li descrivono, e manterrete i
        <strong>contatti di tutte le ricercatrici e i ricercatori</strong> che
        avrete incontrato.
      </p>

      <div class="mt-10">
        <h2 class="text-center text-lg sm:text-4xl">
          <span class="text-[#a7368c]">WOM</span> in pratica
        </h2>

        <!-- Responsive flexbox for WOM Pocket section -->
        <h3 class="text-3xl mt-6">
          L'applicazione <span class="text-[#a7368c]">WOM Pocket</span>
        </h3>
        <div
          class="mt-6 flex flex-col sm:flex-row gap-8 justify-center items-center"
        >
          <img
            src="assets/images/sharper2024/womPhone.png"
            class="w-[150px] sm:w-[300px]"
          />
          <!-- Smaller image on mobile -->

          <div class="sharper-text">
            <p class="text-sm sm:text-xl">
              Installate subito l'<strong>app WOM Pocket</strong>, disponibile
              su <strong>Google Play</strong> (Android) e
              <strong>App Store</strong> (iOS), che permette di
              <strong>collezionare e utilizzare WOM</strong>.<br /><br />
              L'app non richiede registrazione e garantisce l'<strong
                >anonimato degli utenti</strong
              >. Corrisponde a un vero e proprio
              <strong>"borsellino virtuale"</strong> che permette di
              collezionare WOM
              <strong>scansionando speciali QRcode</strong>.<br />
              <br />
              Nella <strong>sezione offerte</strong> l'app mostra tutte le
              <strong>opportunità di utilizzo dei WOM</strong> intorno a voi.
              <br /><br />
              Nella sezione Impostazioni, alla voce
              <strong>Totem scansionati</strong>, troverete l'<strong
                >elenco completo dei luoghi, degli eventi e delle persone di cui
                avrete scansionato i QRcode</strong
              >. Cliccando su ciascuno si aprirà la scheda che lo descrive.
            </p>

            <!-- Responsive logos component -->
            <app-store-logos
              [appName]="'WOM POCKET'"
              [appleURL]="
                'https://apps.apple.com/it/app/wom-pocket/id1466969163'
              "
              [appleQR]="'/assets/images/pesaro2024/tourists/qr-code-ios.png'"
              [googleURL]="
                'https://play.google.com/store/apps/details?id=social.wom.pocket'
              "
              [googleQR]="
                '/assets/images/pesaro2024/tourists/qr-code-android.png'
              "
            ></app-store-logos>
          </div>
        </div>

        <!-- Responsive QRcode TOTEM section -->
        <div class="mt-10">
          <h3 class=""><span class="text-[#a7368c]">Sedi</span> di SHARPER</h3>

          <div class="mt-6">
            <div class="sharper-text text-sm sm:text-xl">
              <p class="mb-0">
                Per guadagnare i <strong>20 WOM</strong> associati a ogni
                <strong>luogo di SHARPER</strong>, dovrete cercare e
                <strong>scansionare QRcode</strong> come questo.
              </p>
            </div>
            <div class="flex flex-col justify-center gap-4 text-center">
              <p>
                Potrebbero essere sui <strong>tavoli</strong> o
                <strong>affissi alle pareti</strong>.
              </p>
            </div>
          </div>
        </div>

        <!-- Responsive QRcode BADGE section -->
        <div class="mt-10">
          <h3 class="">
            <span class="text-[#a7368c]">Eventi</span> di SHARPER
          </h3>
          <div class="mt-6 flex flex-col gap-8 justify-center items-center">
            <div class="sharper-text text-sm sm:text-xl">
              <p class="mb-0">
                Per guadagnare i <strong>20 WOM</strong> associati a ogni
                <strong>evento di SHARPER</strong>, dovrete cercare e
                <strong>scansionare QRcode</strong> come questo.
              </p>
            </div>
            <div class="flex flex-col justify-center gap-4">
              <img
                src="assets/images/sharper2024/eventiSharper.png"
                class="h-[150px] sm:h-[300px]"
              />
              <p>
                Potrebbero essere sui <strong>tavoli</strong>,
                <strong>affissi alle pareti</strong>, o
                <strong>proiettati sugli schermi</strong>.
              </p>
            </div>
          </div>
        </div>
        <div class="mt-10">
          <h3 class="">
            <span class="text-[#a7368c]">Persone</span> di SHARPER
          </h3>
          <div
            class="mt-6 flex flex-col sm:flex-row gap-8 justify-center items-center"
          >
            <div class="sharper-text text-sm sm:text-xl">
              <p class="mb-0">
                Per guadagnare i <strong>5 WOM</strong> associati a
                <strong>ogni ricercatrice e a ogni ricercatore</strong>, dovrete
                chiedere loro di
                <strong>scansionare i loro badge digitali personali</strong>. In
                questo modo conserverete
                <strong>memoria del nome e del contatto</strong> dei
                <strong>protagonisti della notte della ricerca</strong>. I badge
                sono fatti così.
              </p>
            </div>

            <img
              src="assets/images/sharper2024/sharperPhone.png"
              class="w-[150px] sm:w-[300px]"
            />
          </div>
        </div>
        <div class="mt-6 text-sm sm:text-xl text-center">
          <p>
            Ogni persona potrebbe custodirlo nel proprio
            <strong>cellulare</strong> o averlo <strong>stampato</strong>.
            Chiedete pure senza vergogna, perché saranno ben lieti di
            <strong>mostrarvi i badge</strong> per restare in contatto con voi!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
