<div class="container">
  <span
    class="page-title"
    [innerHTML]="'APPLICATIONS.BALANCE.TITLE' | translate"
  ></span>

  <div fxLayout="row wrap" fxLayoutGap="20px grid">
    <div fxFlex="100%">
      <p [innerHTML]="'APPLICATIONS.BALANCE.MAIN_CONTENT' | translate"></p>
    </div>
  </div>

  <app-store-logos
    [appName]="'Balance'"
    [appleURL]="
      'https://apps.apple.com/it/app/balance-postural-stability/id1554439528'
    "
    [googleURL]="
      'https://play.google.com/store/apps/details?id=srl.digit.balance'
    "
  ></app-store-logos>
</div>
