<div class="container">
    <div class="mat-card" >
        <h3>{{"USER.HOME.WELCOME" | translate}}, {{username}}</h3>
        <mat-divider></mat-divider>
        <div class="merchant-container">
            <div class="merchant-header">
                <div class="button-container" >
                    <button mat-mini-fab
                            matTooltip="{{'USER.HOME.ADD_MERCHANT_TOOLTIP' | translate}}"
                            (click)="addMerchant()">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
                <h1>{{"USER.HOME.MERCHANT_TITLE" | translate}}</h1>
            </div>


            <ng-container *ngIf="merchants">
                <ng-container *ngFor="let merchant of merchants.merchants">
                    <mat-accordion class="merchant-mat-accordion">
                        <mat-expansion-panel hideToggle>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    {{merchant.name}}
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>
                                {{"USER.HOME.MERCHANT.CODE" | translate}}:
                                {{merchant.fiscalCode}}
                            </p>
                            <p>
                                {{"USER.HOME.MERCHANT.ADDRESS" | translate}}:
                                {{merchant.address}},
                                {{merchant.zipCode}},
                                {{merchant.city}},
                                {{merchant.country}}
                            </p>
                            <p>
                                {{"USER.HOME.MERCHANT.ACTIVITY_TYPE" | translate}}:
                                {{merchant.primaryActivityType}}
                            </p>
                            <p>
                                {{"USER.HOME.MERCHANT.URL" | translate}}:
                                <a [href]="merchant.url" target="_blank">{{merchant.url}}</a>
                            </p>
                            <p>
                                {{merchant.description}}
                            </p>
                                <!-- POS LIST -->
                            <mat-card>
                                <mat-card-header>
                                    <div class="button-container" >
                                        <button mat-mini-fab
                                                matTooltip="{{'USER.HOME.MERCHANT.ADD_POS_TOOLTIP' | translate}} {{merchant.name}}"
                                                (click)="addPos()">
                                            <mat-icon>add</mat-icon>
                                        </button>
                                    </div>
                                    <mat-card-title>{{"USER.HOME.MERCHANT.POS_TITLE" | translate}}</mat-card-title>
                                    <mat-card-subtitle>{{"USER.HOME.MERCHANT.POS_SUBTITLE" | translate}}</mat-card-subtitle>
                                </mat-card-header>
                                    <ng-container *ngFor="let pos of merchant.pos">
                                        <mat-card-content>
                                        {{pos.name}}
                                        </mat-card-content>
                                    </ng-container>
                            </mat-card>
                        </mat-expansion-panel>
                    </mat-accordion>
                    <br>
                </ng-container>
            </ng-container>
        </div>
    </div>
</div>
