<div class="mx-6 my-4">
    <div class="mx-4 my-2">
        <h2>
            {{ "USER.ADD_POS.TITLE" | translate }}
        </h2>
    </div>

    <mat-error *ngIf="formInputError">
        <ng-container *ngIf="data.isEdit; else addPosInputError">
            {{ "USER.EDIT_POS.INPUT_ERROR" | translate }}
        </ng-container>
        <ng-template #addPosInputError>
            {{ "USER.ADD_POS.INPUT_ERROR" | translate }}
        </ng-template>
    </mat-error>
    <mat-error *ngIf="formApiError">
        <ng-container *ngIf="data.isEdit; else addPosApiError">
            {{ "USER.EDIT_POS.API_ERROR" | translate }}
        </ng-container>
        <ng-template #addPosApiError>
            {{ "USER.ADD_POS.API_ERROR" | translate }}
        </ng-template>
    </mat-error>

    <form
            class="flex flex-col gap-4 mt-6 "
            [formGroup]="newPos"
            (ngSubmit)="onSubmit()"
    >
        <ng-template matStepLabel>Inserirsci POS</ng-template>
        <div class="flex flex-row justify-start gap-6 items-center">
            <label class="w-20">Nome<span class="text-red-600">*</span>:</label>

            <input type="text" formControlName="name" class="input-create"/>
            <div
                    class="text-red-600"
                    *ngIf="newPos.get('name').invalid && newPos.get('name').touched"
            >
                Inserire il nome<br/>(min 4 caratteri)
            </div>
        </div>

        <div class="flex flex-row justify-start gap-6 items-center">
            <label class="w-20">URL<span class="text-red-600">*</span>:</label>
            <input
                    type="text"
                    formControlName="url"
                    class="input-create"
                    placeholder="https://example.com"
            />
            <div
                    class="text-red-600"
                    *ngIf="newPos.get('url').invalid && newPos.get('url').touched"
            >
                Inserire l'url
            </div>

        </div>
        <div class="basis-full">
            <label>Seleziona l'indirizzo della tua attività:</label>
            <p [innerHTML]="'MERCHANT.FILTERS.SEARCH.TITLE' | translate"></p>
            <input
                #mapSearchField
                placeholder="{{ 'MERCHANT.FILTERS.SEARCH.PLACEHOLDER' | translate }}"
                type="text"
            />

            <!--   <div class="flex flex-row gap-4">
                   <label>Latitdine</label>
                   <input type="text" formControlName="latitude"/>
               </div>
               <div class="flex flex-row gap-4">
                   <label>Longitudine</label>
                   <input type="text" formControlName="longitude"/>
               </div>-->
            <google-map [options]="options" (mapClick)="mapClick($event)"></google-map>

        </div>
    </form>
    <!-- <div class="mt-4">
         <div *ngIf="isCeatingOffer; else btnToCreateOffer">
             <button class="px-4 py-2 border-2 border-black rounded-full" (click)="isCeatingOffer = !isCeatingOffer">
                 Annulla
             </button>
             <form [formGroup]="secondFormGroup">
                 <app-offers/>
                 <app-create-offer/>
             </form>
         </div>
         <ng-template #btnToCreateOffer>
             <button class="px-4 py-2 border-2 border-black rounded-full" (click)="isCeatingOffer = !isCeatingOffer">Crea
                 un'offerta
             </button>
         </ng-template>
     </div>-->
    <div class="flex justify-end gap-4">
        <button class="text-slate-600" mat-dialog-close>
            {{ "USER.ADD_POS.CANCEL" | translate }}
        </button>
        <button [disabled]="!newPos.valid" class="blue-wom" (click)="onSubmit()">
            {{ "USER.ADD_POS.ADD" | translate }}
        </button>

    </div>
</div>