<div class="container">
  <div class="page-title">
    <h1 [innerHTML]="'APPLICATIONS.WOMFIT.TITLE' | translate"></h1>
  </div>

  <p [innerHTML]="'APPLICATIONS.WOMFIT.MAIN_CONTENT' | translate"></p>

  <app-store-logos
    [appName]="'WOM FIT'"
    [appleURL]="'https://apps.apple.com/it/app/wom-step-counter/id1600679595'"
    [googleURL]="
      'https://play.google.com/store/apps/details?id=srl.digit.wom_step_counter'
    "
  ></app-store-logos>

  <nav class="flex justify-between" *ngIf="isLoaded_1">
    <button
      mat-flat-button
      (click)="prevPage(tutorial_1_src)"
      [disabled]="page_1 === 1"
      class="previous"
    >
      Prev
    </button>
    <button
      mat-flat-button
      (click)="nextPage(tutorial_1_src)"
      [disabled]="page_1 === totalPages_1"
      class="next"
    >
      Next
    </button>
    <!--<p class="">{{ page_1 }} / {{ totalPages_1 }}</p>-->
  </nav>
  <pdf-viewer
    [src]="tutorial_1_src"
    [original-size]="true"
    [render-text]="true"
    [rotation]="0"
    [show-all]="false"
    [fit-to-page]="true"
    [zoom]="1"
    [zoom-scale]="'page-width'"
    [stick-to-page]="true"
    [external-link-target]="'blank'"
    [autoresize]="true"
    [show-borders]="false"
    class="pdf-viewer"
    [page]="page_1"
    (after-load-complete)="afterLoadComplete($event, tutorial_1_src)"
  ></pdf-viewer>

  <div class="mt-6">
    <nav class="flex justify-between" *ngIf="isLoaded_2">
      <button
        mat-flat-button
        (click)="prevPage(tutorial_2_src)"
        [disabled]="page_2 === 1"
        class="previous"
      >
        Prev
      </button>
      <button
        mat-flat-button
        (click)="nextPage(tutorial_2_src)"
        [disabled]="page_2 === totalPages_2"
        class="next"
      >
        Next
      </button>
      <!--<p class="">{{ page_1 }} / {{ totalPages_1 }}</p>-->
    </nav>
    <pdf-viewer
      [src]="tutorial_2_src"
      [original-size]="true"
      [render-text]="true"
      [rotation]="0"
      [show-all]="false"
      [fit-to-page]="true"
      [zoom]="1"
      [zoom-scale]="'page-width'"
      [stick-to-page]="true"
      [external-link-target]="'blank'"
      [autoresize]="true"
      [show-borders]="false"
      class="pdf-viewer"
      [page]="page_2"
      (after-load-complete)="afterLoadComplete($event, tutorial_2_src)"
    ></pdf-viewer>
  </div>
  <div style="text-align: center">
    <a
      href="/privacy/stepcounter"
      [innerHTML]="'BREADCRUMBS.PRIVACY.PRIVACY' | translate"
    ></a>
  </div>
</div>
