<img
  class="w-full hidden lg:block"
  src="/assets/images/toolkit-for-merchant/banner.jpg"
/>
<img
  class="w-full block lg:hidden"
  src="/assets/images/toolkit-for-merchant/banner-mb.jpg"
/>
<!-- <div class="flex flex-rpow gap-4 lg:flex-row justify-between">
    <img
      class="h-[20px] w-fit lg:h-[50px]"
      src="/assets/images/pesaro2024/logo-pesaro2024.png"
      alt="pesaro2024"
    />
    <img
      class="h-[20px] w-fit lg:h-[50px]"
      src="/assets/images/pesaro2024/logo-cte-square.png"
      alt="cte-square"
    />
  </div> -->
<div class="mt-10 container justify-normal">
  <h1 class="text-center">
    TOOLKIT PER <span class="blue-wom">ESERCENTI</span>
  </h1>

  <div class="mt-6">
    <p class="mb-0">
      Guida per negozianti ed esercenti che intendono offrire sconti e
      agevolazioni a chi possiede WOM, speciali voucher che riconoscono il
      valore sociale delle azioni individuali
    </p>
  </div>
  <div class="mt-6">
    <h2 class="blue-wom">WOM per Pesaro 2024</h2>
    <p class="justify-normal mt-6">
      Il Comune di Pesaro, nell&rsquo;ambito
      di&nbsp;<strong>Pesaro&nbsp;2024</strong>&nbsp;e per iniziativa
      della&nbsp;<strong>Casa della Tecnologie Emergenti</strong>, ha adottato
      la piattaforma digitale&nbsp;<strong>WOM</strong>, presentata
      all&rsquo;inaugurazione del 20 gennaio, per il coinvolgimento attivo di
      cittadini e turisti. Chiunque partecipi alle iniziative culturali o visiti
      i luoghi di Pesaro 2024 pu&ograve; guadagnare punti, detti WOM, che
      attestano il&nbsp;<strong
        >valore sociale generato dalla partecipazione</strong
      >. Tecnicamente la riscossione dei WOM avviene inquadrando con
      l&rsquo;applicazione&nbsp;<strong>WOM Pocket</strong>&nbsp;gli speciali QR
      Code esposti nei luoghi della cultura e associati agli eventi. Tutti
      potranno guadagnare WOM anche compiendo azioni socialmente utili e
      adottando comportamenti sostenibili (volontariato, prevenzione,
      mobilit&agrave; sostenibile, impegno nello studio,&hellip;). Si possono
      guadagnare WOM anche camminando, perch&eacute; l&rsquo;esercizio fisico
      serve a mantenersi in forma e il benessere individuale &egrave; un valore
      per la collettivit&agrave;.
    </p>
    <p style="text-align: justify">
      Ogni WOM corrisponde a un minuto di impegno. I WOM non hanno controvalore
      monetario, ma possono essere riconosciuti
      come&nbsp;<strong>voucher&nbsp;</strong>da chiunque intenda premiare chi
      li ha
      conseguiti.&nbsp;<strong>Commercianti</strong>,&nbsp;<strong>esercenti</strong>,&nbsp;<strong
        >enti pubblici&nbsp;</strong
      >e&nbsp;<strong>privati&nbsp;</strong>possono liberamente decidere di
      concedere sconti o agevolazioni su beni o servizi a chi &egrave; in
      possesso di WOM, al duplice scopo di contribuire indirettamente al
      successo di Pesaro 2024 e promuovere la propria attivit&agrave; con una
      campagna di promozione originale e mirata. L&rsquo;entit&agrave; dello
      sconto praticato e il numero di WOM necessari a ottenerlo sono a totale
      discrezione di ogni esercente, che ha a disposizione
      l&rsquo;applicazione&nbsp;<strong>WOM POS</strong>&nbsp;per impostare
      dinamicamente le offerte e renderle immediatamente visibili
      sull&rsquo;applicazione WOM Pocket a chiunque possieda WOM.
    </p>
    <p style="text-align: justify">
      L&rsquo;uso diffuso dei WOM favorisce la&nbsp;<strong
        >coesione sociale</strong
      >&nbsp;e la&nbsp;<strong>partecipazione attiva</strong>&nbsp;in azioni di
      interesse collettivo, offrendo al tempo stesso nuove opportunit&agrave;
      di&nbsp;<strong>marketing&nbsp;</strong>e di<strong
        >&nbsp;promozione territoriale</strong
      >.&nbsp;
    </p>
  </div>
  <div>
    <h2 class="blue-wom">Il ruolo degli esercenti</h2>
    <p class="justify-normal mt-6">
      Commercianti, esercenti, artigiani, enti, aziende (chiamati
      <span class="italic">merchant</span> nel gergo della piattaforma) possono
      liberamente aderire alla piattaforma scaricando e installando l’app
      gratuita <span class="font-semibold">WOM POS</span>. L’app prevede una
      fase di registrazione utile a impostare i dati e la posizione della
      propria attività e a convalidare il proprio contatto e-mail, utile a
      gestire le offerte.
    </p>
    <p class="mb-0">
      L’app WOM POS rende i merchant completamente autonomi nell’impostare le
      proprie offerte rivolte a chi possiede WOM. Ogni offerta prevede una breve
      descrizione e una specifica del numero di WOM richiesti per avere diritto
      all’offerta stessa. Ad esempio: 10% di sconto su tutti gli articoli per
      100 WOM.
    </p>
    <p class="mb-0">
      Le offerte attive diventano immediatamente visibili a tutti gli utenti
      sull’applicazione WOM Pocket, sia come lista di prossimità a chi è in
      zona, sia come punti su mappa.
    </p>
    <p class="mb-0">
      A ogni offerta è associato un QR Code, che il merchant può stampare o far
      apparire a schermo sul proprio smartphone. In ogni caso, per praticare
      l’offerta deve solo mostrare al cliente il QR Code, che verrà scansionato
      con l’applicazione WOM Pocket dell’utente. Se l’applicazione Pocket mostra
      a schermo che la transazione è andata a buon fine, vuol dire che il
      cliente aveva i WOM richiesti e ha diritto all’offerta, altrimenti no.
    </p>
  </div>
  <div class="mt-6">
    <h2 class="blue-wom">Tutorial 1: Registrazione</h2>

    <ol class="list-decimal list-outside mt-6 ml-6">
      <li>
        <span class="font-semibold">Scarica l’app WOM POS</span> disponibile su
        App Store e Play Store
        <app-store-logos
          [appName]="'WOM POS '"
          [appleURL]="'https://apps.apple.com/it/app/wom-pos/id1468252634'"
          [googleQR]="'/assets/images/toolkit-for-merchant/qr-code-android.png'"
          [appleQR]="'/assets/images/toolkit-for-merchant/qr-code-ios.png'"
          [googleURL]="
            'https://play.google.com/store/apps/details?id=social.wom.pos'
          "
        ></app-store-logos>
      </li>

      <li>
        <span class="font-semibold">Clicca</span> su "Non sei registrato? Clicca
        qui"
      </li>
      <li>
        <span class="font-semibold">Inserisci i tuoi dati</span> (Email, Nome,
        Cognome, Password) e clicca su “Registrati”
      </li>
      <li>
        <span class=""
          ><span class="font-semibold">Verifica l’email</span>: Attendi di
          ricevere una mail di verifica all’indirizzo indicato, clicca sul link
          di verifica presente all’interno della mail per essere reindirizzzato
          sul sito
          <a href="https://wom.social/" class="underline blue-wom"
            >https://wom.social/</a
          >
          dove appare la conferma di avvenuta verifica</span
        >
      </li>
      <li>
        Torna all’app WOM POS e <span class="font-semibold">clicca</span> su
        “Ok, ho verificato la mia email”
      </li>
      <li>
        <span class="font-semibold">Inserisci i dati della tua attività:</span>
      </li>
      <ol class="list-outside list-disc ml-4">
        <li>
          <span class="font-semibold">Ragione sociale</span>: sarà il nome con
          cui verrai visualizzato sulla mappa delle offerte WOM
        </li>
        <li>
          <span class="font-semibold">Codice fiscale o partita IVA</span>:
          scegli quale dei due inserire (questa informazione non verrà
          visualizzata dall’utente)
        </li>
        <li>
          <span class="font-semibold">Seleziona l’attività</span> primaria dalla
          lista
        </li>
        <li>
          <span class="font-semibold">Indirizzo</span>: compila tutte le
          informazioni per localizzare la tua attività sulla mappa delle offerte
          WOM
        </li>
        <li>
          <span class="font-semibold">Descrizione</span>: descrivi la tua
          attività per aiutare gli utenti a comprendere di cosa si occupa (non
          obbligatoria)
        </li>
        <li>
          <span class="font-semibold">Sito WEB</span>: se hai un sito web
          inserisci il link in questa sezione (non obbligatorio)
        </li>
      </ol>
      <li>
        Una volta compilati tutti i dati richiesti,
        <span class="font-semibold">clicca</span> su ”Salva”
      </li>
      <li>
        Complimenti! Hai completato la registrazione della tua attività.
        <span class="font-semibold"
          >Imposta le offerte dedicate agli utenti WOM</span
        >
        seguendo il Tutorial 2
      </li>
      <li>
        <span class="font-semibold">Esponi in vetrina</span> l’adesivo “QUI SI
        ACCETTANO WOM”
      </li>
    </ol>
    <div class="flex flex-col items-center mt-6 gap-3">
      <img
        class="max-w-[600px]"
        src="/assets/images/toolkit-for-merchant/vetrofania.jpg"
        alt="vetrofania"
      />
      <h2>
        <a
          class="font-semibold underline"
          href="/assets/images/toolkit-for-merchant/Pesaro2024-vetrofania.pdf"
          target="_blank"
          ><i class="fas fa-file-pdf"></i> Scarica qui l'adesivo da esporre in
          vetrina</a
        >
      </h2>
    </div>
  </div>
  <div>
    <h2 class="blue-wom mt-6">Tutorial 2: Creazione di un’offerta</h2>
    <ol class="list-decimal list-outside mt-6 justify-normal ml-6">
      <li>
        <span class="font-semibold">Fai login</span> su WOM POS, se non sei già
        autenticato
      </li>
      <li>
        <span class="font-semibold">Clicca</span> sul bottone "<span
          class="font-semibold"
          >+ Crea offerta"</span
        >
        in basso al centro
      </li>
      <li>Scegli il tipo di offerta:</li>
      <li>
        <span class="font-semibold">Offerta pubblica (consigliata!)</span>: sarà
        visibile sull'app WOM Pocket e potrà essere utilizzata più volte,
        rimanendo sempre valida
      </li>
      <li>
        <span class="font-semibold">Offerta effimera</span>: non è visibile
        sull'app WOM Pocket e potrà essere utilizzata solo una volta
      </li>
      <li>
        <span class="font-semibold">Imposta l’offerta</span> (trovi esempi nelle
        FAQ):
      </li>
      <li>
        <span class="font-semibold">Titolo dell’offerta</span> serve per
        attrarre l'attenzione degli utenti
      </li>
      <li>
        <span class="font-semibold">Descrizione</span>: aiuta l'utente a
        comprendere meglio l'offerta (non obbligatoria)
      </li>
      <li>
        <span class="font-semibold">Numero di WOM</span>: imposta il numero di
        WOM necessari per aderire alla tua offerta. Ricorda che ogni WOM
        corrisponde a un minuto di impegno da parte degli utenti
      </li>
      <li>
        Imposta i
        <span class="font-semibold"
          >filtri (NON consigliamo di impostare filtri prima di aver verificato
          l’efficacia delle offerte!)</span
        >
      </li>
      <li>
        Scopo: scegli la tipologia di WOM per accedere alla tua offerta. Ogni
        WOM può essere attribuito ad una categoria di attività da parte degli
        utenti, come quelle culturali o ecologiche ad esempio
      </li>
      <li>
        Area geografica: definisci l’estensione geografica della tua offerta.
        Per premiare le attività svolte nei tuoi dintorni o in specifiche aree
      </li>
      <li>
        Età massima: decidi quanto deve essere recente l'attività svolta dagli
        utenti
      </li>
      <li>
        Conferma l’offerta e vedi
        <span class="font-semibold"
          >comparire la card corrispondente nella schermata principale</span
        >
      </li>
      <li>
        Clicca sulla card per visualizzare
        <span class="font-semibold">il QRcode e il PIN dell’offerta</span>
      </li>
      <li>
        Fai scorrere la card a sinistra per
        <span class="font-semibold">eliminare l'offerta</span>, a destra per
        <span class="font-semibold">stamparla</span>
      </li>
    </ol>
    <h2 class="blue-wom mt-6 flex gap-3 items-center">
      Nota: visibilità sui social<i class="fab fa-facebook"></i>
      <i class="fab fa-instagram"></i>
    </h2>
    <div class="mt-6">
      <p class="mb-0">
        Le offerte attive sono subito visibili sulla tab “offerte” di WOM
        Pocket, in ordine di prossimità o su mappa, ma ti consigliamo di
        annunciare
        <span class="font-semibold">sui tuoi canali social</span> la tua
        adesione a WOM per Pesaro 2024, citando
        <a
          href="https://www.facebook.com/wom.digit.srl"
          class="blue-wom underline"
          >facebook</a
        >
        e
        <a
          class="https://www.instagram.com/wom.italia/"
          class="underline blue-wom"
          >instagram</a
        >.
      </p>
    </div>
    <div class="flex flex-col items-center justify-center mt-6">
      <p class="blue-wom text-center font-semibold">
        Fac-simile del QRcode che rappresenta l’offerta, <br />
        da mostrare a schermo o stampare
      </p>
      <img
        class="max-w-[300px]"
        src="/assets/images/toolkit-for-merchant/facsimile.jpeg"
        alt="facsimile"
      />
    </div>
  </div>
  <div class="mt-6">
    <h2>Tutorial 3: Utilizzo delle offerte</h2>
    <div class="mt-6">
      <p class="mb-0">
        Ogni offerta è rappresentata da un QRcode e da un pin, che puoi
        visualizzare o stampare dall’app WOM POS, cliccando sulla card
        dell’offerta. Ti consigliamo di tenere copia stampata del QRcode e del
        pin in prossimità della cassa.
      </p>
      <p class="mb-0">
        Attenzione: se cambi l’impostazione dell’offerta, il QRcode e il pin
        vanno ristampati.
      </p>
      <ol class="list-decimal list-outside ml-6">
        <li>
          <span class="font-semibold">Mostra</span> all’utente/cliente il QRcode
          della tua offerta
        </li>
        <li>
          <span class="font-semibold"
            >Invita l’utente a scansionare il QRcode</span
          >
          con l’app WOM Pocket,
          <span class="font-semibold">inserire il PIN</span> e
          <span class="font-semibold">confermare</span> la transazione.
        </li>
        <li>
          <span class="font-semibold"
            >Chiedi all’utente di mostrarti la conferma di avvenuta
            transazione</span
          >, che compare sullo schermo del suo cellulare solo se ha i WOM
          richiesti.
        </li>
        <li>
          <span class="font-semibold"
            >Concedi all’utente lo sconto o l’agevolazione</span
          >
          previsti dalla tua offerta.
        </li>
      </ol>
      <h2 class="blue-wom mt-6">Nota</h2>
      <p class="mt-6">
        Se le tue/i tuoi clienti non hanno l’applicazione WOM Pocket e non sanno
        cosa siano i WOM,
        <span class="font-semibold">puoi dirglielo tu! </span>
      </p>
      <p class="mb-0">
        Per questo
        <span class="font-semibold"
          >ti affidiamo il QRcode di benvenuto a Pesaro 2024,</span
        >
        che va scansionato due volte:
      </p>
      <ul class="ml-6 list-disc list-outside">
        <li>
          la prima volta per
          <span class="font-semibold"
            >installare l’applicazione WOM Pocket.</span
          >
        </li>
        <li>
          la seconda volta, dall’applicazione WOM Pocket stessa,
          <span class="font-semibold">per guadagnare i primi 15 WOM.</span>
        </li>
      </ul>
      <p class="font-semibold mb-0 mt-3">
        A questo punto sarebbe molto bello che gli utenti trovassero nel tuo
        negozio un’offerta da 15 WOM per sperimentarli subito!
      </p>
    </div>
  </div>
  <div class="flex flex-col justify-center items-center">
    <p class="font-semibold blue-wom">
      Ecco il QRcode di benvenuto a Pesaro 2024!
    </p>
    <img
      class="max-w-[300px] lg:max-w-[600px]"
      src="/assets/images/toolkit-for-merchant/welcome.jpg"
      alt="welcome"
    />
    <h2>
      <a
        class="font-semibold underline"
        href="/assets/images/toolkit-for-merchant/welcomeWOM.pdf"
        target="_blank"
        ><i class="fas fa-file-pdf"></i> Scarica qui il QRcode di benvenuto</a
      >
    </h2>
  </div>
  <div class="mt-6">
    <h2 class="blue-wom">FAQ: Risposte alle domande frequenti</h2>
    <div *ngFor="let faq of faqs; let i = index">
      <div class="mt-6">
        <div
          class="font-semibold mt-3 cursor-pointer bg-[#EFEFF1] rounded-xl px-6 py-2 flex justify-between items-center"
          (click)="toggleFaq(i)"
        >
          <p class="mb-0">
            {{ faq.header }}
          </p>
          <i
            [ngClass]="{ 'rotate-180': faq.isOpen }"
            class="fas fa-chevron-down"
          ></i>
        </div>
        <div *ngIf="faq.isOpen">
          <div *ngIf="faq.content.length <= 1; else moreElements">
            <p
              class="mb-0 px-6 py-2 border-b-2 border-l-2 border-r-2 border-black rounded-b-lg"
            >
              {{ faq.content }}
            </p>
          </div>
          <ng-template #moreElements>
            <div
              class="mb-0 px-6 py-2 border-b-2 border-l-2 border-r-2 border-black rounded-b-lg"
            >
              <p class="mb-0" *ngFor="let cont of faq.content; let i = index">
                {{ cont }}
              </p>
            </div>
          </ng-template>
        </div>
      </div>
    </div>

    <div>
      <p class="font-semibold mb-0 mt-6">
        Per maggiori informazioni o supporto tecnico:
      </p>
      <p class="mb-0">
        <a class="underline" href="tel:0722 042615">0722 042615</a> da lun a ven
        dalle 10 alle 12
      </p>
    </div>
  </div>
</div>
