<div *ngIf="merchant">
  <button
    (click)="goBack()"
    class="font-bold items-center flex gap-2 mt-6 hover:bg-stone-100 rounded-lg px-2"
  >
    <i class="fas fa-arrow-left"></i> Indietro
  </button>

  <div *ngIf="merchant" class="bg-white w-[900px] px-4 py-6 my-6 rounded-lg">
    <p class="text-left">
      <span class="font-semibold text-cyan-700">{{ name }}</span>
    </p>

    <div class="merchant-data">
      <p class="merchant-element">
        <span class="text-slate-600 font-semibold">ID</span>: {{ id }}
      </p>
      <p class="merchant-element">
        <span class="text-slate-600 font-semibold">CF</span>: {{ fiscalCode }}
      </p>
    </div>

    <div class="my-4 merchant-data">
      <app-editable-element
        [keyEl]="'Attività primaria'"
        [valueEl]="primaryActivity"
        [action]="action"
        [typeEl]="'list'"
        [option]="primaryActivityOptions"
        (onChangeElement)="onUpdateMerchant('primaryActivity', $event)"
        class="merchant-element"
      ></app-editable-element>
      <app-editable-element
        [keyEl]="'Indirizzo'"
        [valueEl]="address"
        [action]="action"
        [typeEl]="'string'"
        (onChangeElement)="onUpdateMerchant('address', $event)"
        class="merchant-element"
      ></app-editable-element>
      <app-editable-element
        [keyEl]="'CAP'"
        [valueEl]="zipCode"
        [action]="action"
        [pattern]="'^[0-9]{5}$'"
        (onChangeElement)="onUpdateMerchant('zipCode', $event)"
        class="merchant-element"
      />

      <!-- <app-editable-element
      [keyEl]="'URL'"
      [valueEl]="data.url"
      [action]="action"
      [pattern]="
        '^(https?:\\/\\/)?([\\da-z\\.-]+)\\.([a-z\\.]+)(:[0-9]{1,5})?(\\/[^\\s]*)?$'
      "
      [minLength]="10"
      [maxLength]="100"
      (onChangeElement)="onUpdateSourceField('url', $event)"
      class="merchant-element"
    /> -->
      <app-editable-element
        [keyEl]="'Paese'"
        [valueEl]="country"
        [action]="action"
        (onChangeElement)="onUpdateMerchant('country', $event)"
        class="merchant-element"
      ></app-editable-element>

      <p class="flex items-center gap-2 mb-0 h-8">
        <span class="text-slate-600 font-semibold">Abilitato: </span>
        <label *ngIf="action === 'edit'; else viewIsEnabled" class="switch">
          <input
            type="checkbox"
            [checked]="isEnabled"
            (click)="onCheckboxClick()"
          />
          <span class="slider round"></span>
        </label>
        <ng-template #viewIsEnabled>
          <span *ngIf="isEnabled; else notEnable">Attivo</span>
        </ng-template>
        <ng-template #notEnable>Disattivato</ng-template>
      </p>
      <!-- <app-editable-element [keyEl]="'WOM generati'" [valueEl]="'1000000'" [action]="action" [typeEl]="string" class="merchant-element" (onChangeElement)="onUpdateMerchant('quantity',$event)"></app-editable-element> -->
    </div>

    <div *ngIf="accessList && accessList.length > 0" class="mt-6">
      <p class="font-semibold mb-0">Gestori:</p>
      <ul class="access-list">
        <li *ngFor="let access of accessList" class="">
          <div class="access-item">
            <div class="access-details">
              <div>
                <span class="text-slate-600 font-semibold">Name</span>:
                {{ access.name }} {{ access.surname }}
              </div>
              <div>
                <span class="text-slate-600 font-semibold">Email</span>:
                {{ access.email }}
              </div>
              <div>
                <span class="text-slate-600 font-semibold">Ruolo</span>:
                {{ access.role }}
              </div>
            </div>
            <ng-container *ngIf="action === 'edit'">
              <button
                class="delete-button text-red"
                (click)="onDeleteAccess(access)"
              >
                <mat-icon class="text-red">delete</mat-icon>
              </button>
            </ng-container>
          </div>
        </li>
      </ul>
    </div>

    <div *ngIf="action === 'edit'">
      <div *ngIf="!createNewAccess" class="mt-6">
        <app-user-access-list
          [isRoleRequired]="true"
          (accessToAdd)="handleAccessList($event)"
        ></app-user-access-list>
      </div>
    </div>

    <div *ngIf="posList && posList.length > 0" class="mt-6">
      <p class="font-semibold mb-0">POS:</p>
      <ul class="access-list">
        <li *ngFor="let pos of posList" class="">
          <div class="access-item">
            <div class="access-details">
              <div>
                <span class="text-slate-600 font-semibold">Name</span>:
                {{ pos.name }} {{ pos.surname }}
              </div>
              <div>
                <span class="text-slate-600 font-semibold">Indirizzo</span>:
                {{ pos.address }}
              </div>
            </div>
            <ng-container *ngIf="action === 'edit'">
              <button class="delete-button text-red" (click)="onDeletePos(pos)">
                <mat-icon class="text-red">delete</mat-icon>
              </button>
            </ng-container>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
