<footer class="">
  <p class="font-light">
    <span class="text-[#009EE2] font-extrabold">WOM</span> è una technologia
    open fornita come software open source, rilasciata sotto la licenza MIT.<br />È
    sviluppata in modo aperto su GitHub.
    <br />
    <br />
    Per sviluppare nuove integrazioni WOM, connettori POS o per qualsiasi altra
    domanda, contattaci a
    <a class="text-[#D20C76]" href="mailto:info@wom.social"
      >info&#64;wom.social</a
    >
  </p>
  <hr class="my-4" />
  <h3 class="text-3xl font-extrabold text-[#CCCCCC] mt-4">Scarica l'app</h3>
  <div class="flex justify-between items-center">
    <div>
      <app-store-logos />
    </div>
    <div class="flex flex-col items-end gap-8">
      <!-- Social Icons -->
      <div class="flex justify-center space-x-4">
        <!-- IG -->
        <a
          href="https://www.instagram.com/wom.italia?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
          target="_blank"
          aria-label="Instagram"
        >
          <img
            src="assets/icons/Instagram_Glyph_Gradient.png"
            alt="Instagram"
            class="w-5 h-5 hover:opacity-80 transition-opacity duration-200"
          />
        </a>
        <!-- fb -->
        <a
          href="https://www.facebook.com/wom.digit.srl"
          target="_blank"
          aria-label="facebook"
        >
          <img
            src="assets/icons/Facebook_Logo_Primary.png"
            alt="facebook"
            class="w-5 h-5 hover:opacity-80 transition-opacity duration-200"
          />
        </a>
      </div>
      <!-- Privacy-->
      <div class="text-start">
        <p class="font-notes margin-0 text-gray-600">
          WOM&nbsp;Platform&nbsp;&mdash;&nbsp;{{ currentYear }}.
          <a [routerLink]="['/privacy']" class="hover:underline"
            >Privacy policies</a
          >
          &#169;
          <a
            href="https://www.digit.srl"
            target="_blank"
            class="hover:underline"
            >DIGIT srl</a
          >
        </p>
      </div>
    </div>
  </div>
</footer>
