<div class="container">
  <section appScrollAnimation>
    <div class="page-title">
      <h1 [innerHTML]="'PLATFORM.ABOUT.TITLE' | translate"></h1>
    </div>
    <p
      class="content"
      [innerHTML]="'PLATFORM.ABOUT.SECTION_A.A' | translate"
    ></p>
    <p
      class="content"
      [innerHTML]="'PLATFORM.ABOUT.SECTION_A.B' | translate"
    ></p>
    <p
      class="content"
      [innerHTML]="'PLATFORM.ABOUT.SECTION_A.C' | translate"
    ></p>
    <app-mobile-launcher />
  </section>
  <section appScrollAnimation>
    <h2
      class="mt-8"
      [innerHTML]="'PLATFORM.ABOUT.SECTION_A_2.TITLE' | translate"
    ></h2>
    <p [innerHTML]="'PLATFORM.ABOUT.SECTION_A_2.A' | translate"></p>
    <p [innerHTML]="'PLATFORM.ABOUT.SECTION_A_2.B' | translate"></p>
  </section>
  <section appScrollAnimation>
    <div
      class="flex flex-col md:flex-row justify-center gap-4 items-center md:gap-28"
    >
      <img
        class="max-w-[150px] md:max-w-[300px]"
        src="/assets/images/about/logoWomOld.webp"
      />
      <img
        class="max-w-[150px] md:max-w-[300px]"
        src="/assets/images/about/logoWom.webp"
      />
    </div>
  </section>
  <section appScrollAnimation>
    <h2
      class="mt-8"
      [innerHTML]="'PLATFORM.ABOUT.SECTION_B.TITLE' | translate"
    ></h2>
    <p [innerHTML]="'PLATFORM.ABOUT.SECTION_B.A' | translate"></p>
    <p [innerHTML]="'PLATFORM.ABOUT.SECTION_B.B' | translate"></p>
    <p [innerHTML]="'PLATFORM.ABOUT.SECTION_B.C' | translate"></p>
    <div class="flex justify-between mt-8 gap-4">
      <a class="btn-wom" routerLink="/users/people" fragment="earn">
        {{ "PLATFORM.ABOUT.BUTTONS.EARN" | translate }}
      </a>

      <a class="btn-wom" routerLink="/users/people" fragment="use">
        {{ "PLATFORM.ABOUT.BUTTONS.USE" | translate }}
      </a>
    </div>
  </section>
</div>
