<div class="container">
  <div class="flex justify-between my-0">
    <h1 *ngIf="role.has('Admin')">
      {{ "USER.HOME.DASHBOARD_ADMIN" | translate }}
    </h1>
    <div class="flex justify-end items-center gap-2">
      <app-avatar [startingLetter]="username.charAt(0)"></app-avatar>
      <h3>{{ username }}</h3>
    </div>
  </div>
  <mat-divider></mat-divider>
  <!-- Admin dashboard-->
  <!--<div *ngIf="userData && userData.admin && userData.admin.length > 0">-->
  <!-- Check if User is an admin -->
  <ng-template [ngIf]="userData && role">
    <div *ngIf="role.has('Admin'); else elseBlock">
      <app-user-admin [user]="userData" />
    </div>
    <ng-template #elseBlock>
      <div *ngIf="userData.instruments && userData.instruments.length > 0">
        <app-user-instrument />
      </div>
      <!-- Merchant dashboard-->
      <div *ngIf="userData.merchants && userData.merchants.length > 0">
        <app-user-merchant />
      </div>
    </ng-template>
  </ng-template>

  <ng-template [ngIf]="userData"> </ng-template>
  <!-- Instrument dashboard-->
  <!--<div *ngIf="userData && userData.sources && userData.sources.length > 0">-->
</div>
<!--

<div class="container" *ngIf="userData">
    <div class="flex justify-between my-0 ">
        <h1 *ngIf="userData.role === 'Admin';">{{ "USER.HOME.DASHBOARD_ADMIN" | translate }}</h1>
        <div class="flex justify-end items-center gap-2 ">
            <app-avatar [startingLetter]="username.charAt(0)"></app-avatar>
            <h3>{{ username }}</h3>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="flex flex-col justify-start gap-2">
        <div class="loading-overlay" *ngIf="isLoading">
            <img src="../../../assets/gif/loading.gif" alt="Caricamento..." class="loading-image">
        </div>

        <div *ngIf="userData">
            <mat-tab-group (selectedTabChange)="onTabChange($event.index)">
                <mat-tab label="Instruments">
                    <ng-container *ngIf="activeTabIndex === 0">
                        <app-instruments-tab (isLoading)="onLoading($event)"></app-instruments-tab>
                    </ng-container>
                </mat-tab>
                <mat-tab label="Merchants">
                    <ng-container *ngIf="activeTabIndex === 1">
                        <app-merchants-tab (isLoading)="onLoading($event)"></app-merchants-tab>
                    </ng-container>
                </mat-tab>
                <mat-tab label="Users">
                    <ng-container *ngIf="activeTabIndex === 2">
                        <app-users-tab></app-users-tab>
                    </ng-container>
                </mat-tab>
                <mat-tab label="Aims">
                    <ng-container *ngIf="activeTabIndex === 3">
                        <app-aims-tab (isLoading)="onLoading($event)"></app-aims-tab>
                    </ng-container>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>

</div>
-->
