<div class="mx-6 mt-6 md:mx-20">
  <h1 class="text-4xl font-bold text-[#009FE3] mb-6 text-center">
    {{ "PLATFORM.ACTIONS.TITLE" | translate }}
  </h1>
  <section class="mb-12">
    <h2 class="">
      {{ "PLATFORM.ACTIONS.HOW_TO_GENERATE.TITLE" | translate }}
    </h2>
    <p
      class="text-gray-600 mb-4"
      [innerHTML]="'PLATFORM.ACTIONS.HOW_TO_GENERATE.DESC_1' | translate"
    ></p>
    <p
      class="text-gray-600"
      [innerHTML]="'PLATFORM.ACTIONS.HOW_TO_GENERATE.DESC_2' | translate"
    ></p>
    <p
      class="text-gray-600"
      [innerHTML]="'PLATFORM.ACTIONS.HOW_TO_GENERATE.DESC_3' | translate"
    ></p>
    <p class="text-gray-600">
      {{ "PLATFORM.ACTIONS.HOW_TO_GENERATE.DESC_4" | translate }}
    </p>
  </section>

  <section class="mb-12">
    <h2 class="">
      {{ "PLATFORM.ACTIONS.COLLECT_WOM.TITLE" | translate }}
    </h2>
    <p
      class="text-gray-600 mb-4"
      [innerHTML]="'PLATFORM.ACTIONS.COLLECT_WOM.DESC_1' | translate"
    ></p>
    <p class="text-gray-600">
      {{ "PLATFORM.ACTIONS.COLLECT_WOM.DESC_2" | translate }}
    </p>
    <p
      class="text-gray-600"
      [innerHTML]="'PLATFORM.ACTIONS.COLLECT_WOM.DESC_3' | translate"
    ></p>
  </section>

  <section class="mb-12">
    <h2 class="">
      {{ "PLATFORM.ACTIONS.HOW_TO_EARN.TITLE" | translate }}
    </h2>
    <p class="text-gray-600 mb-4">
      {{ "PLATFORM.ACTIONS.HOW_TO_EARN.DESC_1" | translate }}
    </p>
    <p
      class="text-gray-600"
      [innerHTML]="'PLATFORM.ACTIONS.HOW_TO_EARN.DESC_2' | translate"
    ></p>
    <p class="text-gray-600">
      {{ "PLATFORM.ACTIONS.HOW_TO_EARN.DESC_3" | translate }}
    </p>
    <p class="text-gray-600">
      {{ "PLATFORM.ACTIONS.HOW_TO_EARN.DESC_4" | translate }}
    </p>
  </section>

  <section class="mb-12">
    <h2 class="">
      {{ "PLATFORM.ACTIONS.ACTION_TO_GENERATE.TITLE" | translate }}
    </h2>
    <section class="mb-12">
      <h3 class="">
        {{ "PLATFORM.ACTIONS.ACTION_TO_GENERATE.WOM_FIT.TITLE" | translate }}
      </h3>
      <p
        class="text-gray-600 mb-4"
        [innerHTML]="
          'PLATFORM.ACTIONS.ACTION_TO_GENERATE.WOM_FIT.DESC_1' | translate
        "
      ></p>
      <p
        class="text-gray-600"
        [innerHTML]="
          'PLATFORM.ACTIONS.ACTION_TO_GENERATE.WOM_FIT.DESC_2' | translate
        "
      ></p>
      <p class="text-gray-600">
        {{ "PLATFORM.ACTIONS.ACTION_TO_GENERATE.WOM_FIT.DESC_3" | translate }}
      </p>
      <p class="text-gray-600">
        {{ "PLATFORM.ACTIONS.ACTION_TO_GENERATE.WOM_FIT.DESC_4" | translate }}
      </p>
      <a class="text-[#009FE3] font-semibold">
        {{ "PLATFORM.ACTIONS.ACTION_TO_GENERATE.WOM_FIT.LINK" | translate }}
      </a>
    </section>

    <section class="mb-12">
      <h3 class="">
        {{ "PLATFORM.ACTIONS.ACTION_TO_GENERATE.UNIURB.TITLE" | translate }}
      </h3>
      <p class="text-gray-600 mb-4">
        {{ "PLATFORM.ACTIONS.ACTION_TO_GENERATE.UNIURB.DESC_1" | translate }}
      </p>
      <p class="text-gray-600">
        {{ "PLATFORM.ACTIONS.ACTION_TO_GENERATE.UNIURB.DESC_2" | translate }}
      </p>
      <p class="text-gray-600">
        {{ "PLATFORM.ACTIONS.ACTION_TO_GENERATE.UNIURB.DESC_3" | translate }}
      </p>
      <a class="text-[#009FE3] font-semibold">
        {{ "PLATFORM.ACTIONS.ACTION_TO_GENERATE.UNIURB.LINK" | translate }}
      </a>
    </section>

    <section class="mb-12">
      <h3 class="">
        {{ "PLATFORM.ACTIONS.ACTION_TO_GENERATE.CODYMAZE.TITLE" | translate }}
      </h3>
      <p
        class="text-gray-600 mb-4"
        [innerHTML]="
          'PLATFORM.ACTIONS.ACTION_TO_GENERATE.CODYMAZE.DESC_1' | translate
        "
      ></p>
      <p class="text-gray-600">
        {{ "PLATFORM.ACTIONS.ACTION_TO_GENERATE.CODYMAZE.DESC_2" | translate }}
      </p>
      <p
        class="text-gray-600"
        [innerHTML]="
          'PLATFORM.ACTIONS.ACTION_TO_GENERATE.CODYMAZE.DESC_3' | translate
        "
      ></p>
      <p
        class="text-gray-600"
        [innerHTML]="
          'PLATFORM.ACTIONS.ACTION_TO_GENERATE.CODYMAZE.DESC_4' | translate
        "
      ></p>
      <a class="text-[#009FE3] font-semibold">
        {{ "PLATFORM.ACTIONS.ACTION_TO_GENERATE.CODYMAZE.LINK" | translate }}
      </a>
    </section>

    <section class="mb-12">
      <h3 class="">
        {{ "PLATFORM.ACTIONS.ACTION_TO_GENERATE.AWORLD.TITLE" | translate }}
      </h3>
      <p
        class="text-gray-600 mb-4"
        [innerHTML]="
          'PLATFORM.ACTIONS.ACTION_TO_GENERATE.AWORLD.DESC_1' | translate
        "
      ></p>
      <p class="text-gray-600">
        {{ "PLATFORM.ACTIONS.ACTION_TO_GENERATE.AWORLD.DESC_2" | translate }}
      </p>
      <p class="text-gray-600">
        {{ "PLATFORM.ACTIONS.ACTION_TO_GENERATE.AWORLD.DESC_3" | translate }}
      </p>
      <a class="text-[#009FE3] font-semibold">
        {{ "PLATFORM.ACTIONS.ACTION_TO_GENERATE.AWORLD.LINK" | translate }}
      </a>
    </section>

    <section class="mb-12">
      <h3 class="">
        {{ "PLATFORM.ACTIONS.ACTION_TO_GENERATE.BALANCE.TITLE" | translate }}
      </h3>
      <p
        class="text-gray-600 mb-4"
        [innerHTML]="
          'PLATFORM.ACTIONS.ACTION_TO_GENERATE.BALANCE.DESC_1' | translate
        "
      ></p>
      <p class="text-gray-600">
        {{ "PLATFORM.ACTIONS.ACTION_TO_GENERATE.BALANCE.DESC_2" | translate }}
      </p>
      <p class="text-gray-600">
        {{ "PLATFORM.ACTIONS.ACTION_TO_GENERATE.BALANCE.DESC_3" | translate }}
      </p>
      <p class="text-gray-600">
        {{ "PLATFORM.ACTIONS.ACTION_TO_GENERATE.BALANCE.DESC_4" | translate }}
      </p>
      <a class="text-[#009FE3] font-semibold">
        {{ "PLATFORM.ACTIONS.ACTION_TO_GENERATE.BALANCE.LINK" | translate }}
      </a>
    </section>
  </section>
</div>
