<mat-card>
    <mat-card-title>
        <h1>{{"REQUEST_NEW_PASSWORD.TITLE" | translate}}</h1>
    </mat-card-title>
    <mat-card-content *ngIf="requestSent">
        {{ 'REQUEST_NEW_PASSWORD.REQUEST_SENT' | translate }}
        <a href="/home">{{'REQUEST_NEW_PASSWORD.HOME' | translate}}</a>
    </mat-card-content>
    <mat-card-content *ngIf="!requestSent">
        <form [formGroup]="form">
            <table class="full-width">
                <tr style="width:100%">
                    <td>
                        <mat-form-field>
                            <label>
                                <input matInput type="email" placeholder="{{ 'SIGN_UP.REPRESENTATIVE.EMAIL' | translate }}" formControlName="email" required>
                            </label>
                        </mat-form-field>
                    </td>
                </tr>
            </table>
            <div>
                <button mat-raised-button color="primary" (click)="requestPassword()">{{ 'REQUEST_NEW_PASSWORD.REQUEST_BUTTON' | translate }}</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>
