<div class="container">
  <h1 class="page-title" [innerHTML]="'ABOUT.URBINO.TITLE' | translate"></h1>

  <p class="content" [innerHTML]="'ABOUT.URBINO.SECTION_A.A' | translate"></p>
  <p class="content" [innerHTML]="'ABOUT.URBINO.SECTION_A.B' | translate"></p>

  <app-pdf-viewer-container
    [source]="'/assets/pdf/urbino/brochure_merchant.pdf'"
  ></app-pdf-viewer-container>
  <app-pdf-viewer-container
    [source]="'/assets/pdf/urbino/locandine_offerte.pdf'"
  ></app-pdf-viewer-container>
  <app-pdf-viewer-container
    [source]="'/assets/pdf/urbino/wom_adesivo.pdf'"
  ></app-pdf-viewer-container>
</div>
