<link rel="stylesheet" href="user-access-list.component.css">
<div class="">
    <button *ngIf="!addAccess" (click)="onAddAccess()" class="btn-default">
        <mat-icon>add</mat-icon>
        Aggiungi gestore
    </button>
    <button *ngIf="addAccess" (click)="handleCancellationAccess()" class="btn-default">
        <mat-icon>cancel</mat-icon>
        Annulla
    </button>
</div>
<div *ngIf="addAccess" class="add-access-container" @fadeInOut>
    <app-search-source [isRoleRequired]=isRoleRequired (createSource)="onCreateAccess($event)"
                       (searchSource)="onSearch($event)"
                       (clearFormEvent)="clearList()"></app-search-source>
    <div class="px-6">
        <label>Seleziona ruolo<span class="text-red-600">*</span>:</label>
        <select>
            <option value="">-- Seleziona un ruolo --</option>
            <option value="Admin">Admin</option>
            <option value="User">User</option>
        </select>
    </div>
    <div *ngIf="listAccess && listAccess.length > 0" @fadeInOut>
        <div @fadeInOut>
            <p class="mb-0 font-semibold">Risultati:</p>
            <ul class="access-list">
                <li class="access-element"
                    *ngFor="let access of listAccess; trackBy: trackByAccess"
                    (click)="handleSelection(access)">
                    <span class="font-semibold">Nome: </span>{{ access.name }} {{ access.surname }}
                    <span class="font-semibold">Email: </span>{{ access.email }}
                </li>
            </ul>
        </div>
    </div>


</div>


