<form [formGroup]="filterForm">
    <div class="flex justify-between items-center mt-6">
        <app-search (searchEmit)="onSearch($event)"></app-search>
        <div class="flex gap-2">
            <p class="mb-0">
                <mat-icon>filter_list</mat-icon>
                Filtri:
            </p>
            <select
                    formControlName="itemsPerPage"
                    class="bg-white border-[1px] border-black rounded-lg py-0.5"
            >
                <option>10</option>
                <option>15</option>
                <option>25</option>
                <option>50</option>
            </select>
        </div>
    </div>
</form>
