<div class="container">
    <span class="page-title" [innerHTML]="'APPLICATIONS.CODYMAZE.TITLE' | translate"></span>
    <div fxLayout="row wrap" fxLayoutGap="20px grid">
        <div fxFlex="100%">
            <p [innerHTML]="'APPLICATIONS.CODYMAZE.MAIN_CONTENT' | translate"></p>
        </div>
        <div fxFlex="50%" fxFlex.xs="100%">
            <a href="https://play.google.com/store/apps/details?id=org.codemooc.codymaze.mirabilandia" target="_blank" title="Download CodyMaze Mirabilandia from Google Play">
                <img style="max-width: 100%;" src="assets/images/badge_google_play.png" alt="Google Play" />
            </a>
        </div>
        <div fxFlex="50%" fxFlex.xs="100%">
            <a href="https://apps.apple.com/it/app/codymaze-mirabilandia/id1478122963" target="_blank" title="Download CodyMaze Mirabilandia from App Store">
                <img style="max-width: 100%;" src="assets/images/badge_app_store.png" alt="Apple App Store" />
            </a>
        </div>
    </div>
</div>
