<div class="mx-6 mt-6 md:mx-20">
  <h1 class="text-4xl font-bold text-[#009FE3] mb-6 text-center">
    {{ "APP.WOM_FIT.TITLE" | translate }}
  </h1>

  <section class="mb-12">
    <h2 class="">
      {{ "APP.WOM_FIT.TRANSFORM_MOVEMENT_INTO_SOCIAL_VALUE.TITLE" | translate }}
    </h2>
    <p
      class="text-gray-600 mb-4"
      [innerHTML]="
        'APP.WOM_FIT.TRANSFORM_MOVEMENT_INTO_SOCIAL_VALUE.DESC_1' | translate
      "
    ></p>
    <p class="text-gray-600">
      {{
        "APP.WOM_FIT.TRANSFORM_MOVEMENT_INTO_SOCIAL_VALUE.DESC_2" | translate
      }}
    </p>
  </section>

  <section class="mb-12">
    <h2 class="">
      {{ "APP.WOM_FIT.HOW_WOM_FIT_WORKS.TITLE" | translate }}
    </h2>
    <p class="text-gray-600 mb-4">
      {{ "APP.WOM_FIT.HOW_WOM_FIT_WORKS.DESC_1" | translate }}
    </p>
    <p
      class="text-gray-600"
      [innerHTML]="'APP.WOM_FIT.HOW_WOM_FIT_WORKS.DESC_2' | translate"
    ></p>
    <p
      class="text-gray-600"
      [innerHTML]="'APP.WOM_FIT.HOW_WOM_FIT_WORKS.DESC_3' | translate"
    ></p>
    <p class="text-gray-600">
      {{ "APP.WOM_FIT.HOW_WOM_FIT_WORKS.DESC_4" | translate }}
    </p>
  </section>

  <section class="mb-12">
    <h2 class="">
      {{ "APP.WOM_FIT.MOVEMENT_THAT_CREATES_COMMUNITY.TITLE" | translate }}
    </h2>
    <p
      class="text-gray-600 mb-4"
      [innerHTML]="
        'APP.WOM_FIT.MOVEMENT_THAT_CREATES_COMMUNITY.DESC_1' | translate
      "
    ></p>
    <p
      class="text-gray-600"
      [innerHTML]="
        'APP.WOM_FIT.MOVEMENT_THAT_CREATES_COMMUNITY.DESC_2' | translate
      "
    ></p>
    <p class="text-gray-600">
      {{ "APP.WOM_FIT.MOVEMENT_THAT_CREATES_COMMUNITY.DESC_3" | translate }}
    </p>
    <a class="text-[#009FE3] font-semibold">
      {{ "APP.WOM_FIT.MOVEMENT_THAT_CREATES_COMMUNITY.LINK" | translate }}
    </a>
    <p class="text-gray-600">
      {{ "APP.WOM_FIT.MOVEMENT_THAT_CREATES_COMMUNITY.DESC_4" | translate }}
    </p>
  </section>
</div>
