<div class="dialog-view">
    <p class="font-semibold text-cyan-700 text-center"> {{
            (data.type === dialogTypes.create
                    ? "USER.ADD_MERCHANT.TITLE"
                    : "USER.EDIT_MERCHANT.TITLE"
            ) | translate
        }}</p>

</div>
<mat-dialog-content>
    <mat-error *ngIf="formInputError">
        {{
            (data.type === dialogTypes.create
                    ? "USER.ADD_MERCHANT.INPUT_ERROR"
                    : "USER.EDIT_MERCHANT.INPUT_ERROR"
            ) | translate
        }}
    </mat-error>
    <mat-error *ngIf="formApiError">
        {{
            (data.type === dialogTypes.create
                    ? "USER.ADD_MERCHANT.API_ERROR"
                    : "USER.EDIT_MERCHANT.API_ERROR"
            ) | translate
        }}
    </mat-error>
    <app-form-merchant
            [(form)]="formMerchant"
            [merchant]="merchantData"
    ></app-form-merchant>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close (click)="onCancel()">
        {{
            (data.type === dialogTypes.create
                    ? "USER.ADD_MERCHANT.CANCEL"
                    : "USER.EDIT_MERCHANT.CANCEL"
            ) | translate
        }}
    </button>
    <button
            color="primary"
            [disabled]=""
            mat-raised-button
            (click)="onSubmit()"
            cdkFocusInitial
    >
        {{
            (data.type === dialogTypes.create
                    ? "USER.ADD_MERCHANT.ADD"
                    : "USER.EDIT_MERCHANT.ADD"
            ) | translate
        }}
    </button>
</mat-dialog-actions>
