<mat-card>
  <mat-card-content>
    <h1>{{ "SIGN_UP.TITLE" | translate }}</h1>
    <p [innerHTML]="'SIGN_UP.SUBTITLE' | translate"></p>
    <p>
      <a [routerLink]="['/authentication/signin']">{{ "SIGN_UP.BTN_ALREADY_REGISTERED" | translate }}</a>
    </p>
    <mat-horizontal-stepper linear #stepper>
      <mat-step [stepControl]="form">
        <ng-template matStepLabel>{{ 'SIGN_UP.REPRESENTATIVE.STEPPER_TITLE' | translate }}</ng-template>
        <mat-error *ngIf="signupInvalid">
          {{ 'SIGN_UP.ERR.FORM' | translate }}
        </mat-error>
        <!-- REPRESENTATIVE DATA -->
        <app-forms-user [(form)]="form"></app-forms-user>
      </mat-step>

      <!-- OPTIONAL SECTION -->
      <mat-step [stepControl]="formMerchant" [optional]="true">
        <ng-template matStepLabel>{{ 'SIGN_UP.MERCHANT.STEPPER_TITLE' | translate }}</ng-template>
        <mat-error *ngIf="signupInvalid">
          {{ 'SIGN_UP.ERR.FORM' | translate }}
        </mat-error>

        <!-- MERCHANT SECTION -->
        <app-forms-merchant [(form)]="formMerchant"></app-forms-merchant>
        <mat-divider [inset]="true"></mat-divider>

        <!-- POS SECTION -->
        <app-forms-pos [(form)]="formPos" >
        </app-forms-pos>
      </mat-step>

      <!-- CONFIRM SECTION -->
      <mat-step [stepControl]="formSubmit">
        <form [formGroup]="formSubmit">
          <ng-template matStepLabel>{{ 'SIGN_UP.DONE' | translate }}</ng-template>
          <mat-error *ngIf="signupInvalid">
            {{ 'SIGN_UP.ERR.FORM' | translate }}
          </mat-error>
          <mat-form-field  appearance="example-full-width" style="height: 10px">
            <label>
              <input matInput formControlName="termsConditionsCheckbox" [hidden]="true">
            </label>
            <mat-error>
              Please accept the terms and conditions
            </mat-error>
          </mat-form-field>
          <mat-checkbox class="example-margin" [checked]="termsConditionsChecked" formControlName="termsConditionsCheckbox">
            {{ 'SIGN_UP.TERMS_CONDITIONS' | translate }}
          </mat-checkbox>
          <br><br>
          <mat-divider [inset]="true"></mat-divider>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-raised-button color="primary" (click)="onSubmit()">{{ 'SIGN_UP.BTN_SIGN_UP' | translate }}</button>
          </div>
        </form>
      </mat-step>

    </mat-horizontal-stepper>
  </mat-card-content>
</mat-card>
