<div class="flex justify-around flex-wrap my-6">
  <div class="flex flex-col items-center max-w-[200px]">
    <!-- First app-store-logo component -->
    <div class="hidden lg:block" *ngIf="googleQR">
      <app-qr-store-logo
        class="logo"
        [appURL]="googleURL"
        [qrImage]="googleQR"
        [alt]="'Google Play'"
        [title]="'Download ' + appName + ' from Google Play'"
      />
    </div>
    <app-store-logo
      class="logo"
      [appURL]="googleURL"
      [storeImage]="'assets/images/badge_google_play.png'"
      [alt]="'Google Play'"
      [title]="'Download ' + appName + ' from Google Play'"
    ></app-store-logo>
  </div>
  <!-- Second app-store-logo component -->
  <div class="flex flex-col items-center max-w-[200px]">
    <div class="hidden lg:block" *ngIf="appleQR">
      <app-qr-store-logo
        class="logo"
        [appURL]="appleURL"
        [qrImage]="appleQR"
        [alt]="'Apple App Store'"
        [title]="'Download ' + appName + ' from App Store'"
      />
    </div>
    <app-store-logo
      class="logo"
      [appURL]="appleURL"
      [storeImage]="'assets/images/badge_app_store.png'"
      [alt]="'Apple App Store'"
      [title]="'Download ' + appName + ' from App Store'"
    ></app-store-logo>
  </div>
</div>
