<div class="container">
  <div class="page-title">
    <h1 [innerHTML]="'PROJECTS.RETE-DELLE-RETI.TITLE' | translate"></h1>
    <h2 [innerHTML]="'PROJECTS.RETE-DELLE-RETI.SUBTITLE' | translate"></h2>
  </div>
  <div class="flex justify-center">
    <a href="https://www.retedellereti.org/">
      <img
        src="../../../../assets/images/projects/rete-delle-reti/reteDelleReti.jpg"
        width="300px"
      />
    </a>
  </div>
  <div class="mt-11">
    <p>
      La <span class="font-semibold">Rete delle Reti</span> nasce per rispondere
      alle necessità delle biblioteche di pubblica lettura di adottare una
      visione di <span class="font-semibold">cooperazione.</span><br /><br />
      Tutte le biblioteche partecipanti abbracciano una serie di valori attorno
      ai quali costruiscono un percorso, che trova immediata traduzione in un
      assetto istituzionale, con il quale favorire i processi di integrazione
      necessari per lo sviluppo del settore bibliotecario italiano.
    </p>
    <p class="mt-6">
      L'obiettivo della
      <span class="font-semibold"> piattaforma WOM (Worth One Minute)</span> è
      quello di promuove la coesione sociale e la partecipazione attiva della
      cittadinanza al perseguimento di obiettivi di interesse collettivo
      attraverso un sistema aperto di voucher elettronici che certificano e
      premiano le azioni individuali con esternalità positiva.
    </p>
    <p>
      Il progetto è quello di i utilizzare i
      <span class="font-semibold"
        >WOM per incentivare e valorizzare l’utilizzo delle biblioteche</span
      >
      dando modo alle persone di riconoscere l’importanza della lettura e della
      partecipazione alle attività delle biblioteche stesse. <br /><br />
      Le biblioteche partecipanti alla rete sono quindi abilitate a
      <span class="font-semibold">rilasciare WOM ai propri utenti</span> in base
      al tempo di
      <span class="font-semibold">permanenza nella biblioteca</span>, alla
      <span class="font-semibold">partecipazione agli eventi culturali</span> e
      all’accesso al
      <span class="font-semibold">servizio di prestito di libri</span>.
    </p>

    <!-- <h2>
      BIC - Biblioteche Innovazione Comunità Un festival sull'innovazione in
      biblioteca
    </h2>
    <div class="flex justify-center">
      <a>
        <img
          src="../../../../assets/images/projects/rete-delle-reti/bic.png"
          class="rounded-lg"
          width="300px"
        />
      </a>
    </div> -->
  </div>
</div>
