<div class="container">
  <h1 class="text-4xl font-bold text-[#009FE3] mb-6 text-center">
    {{ "USERS.TITLE" | translate }}
  </h1>

  <section appScrollAnimation class="mb-12">
    <h2 class="">
      {{ "USERS.ECOSYSTEM.TITLE" | translate }}
    </h2>
    <p
      class="text-gray-600 mb-4"
      [innerHTML]="'USERS.ECOSYSTEM.DESC_1' | translate"
    ></p>
    <p
      class="text-gray-600"
      [innerHTML]="'USERS.ECOSYSTEM.DESC_2' | translate"
    ></p>
    <p
      class="text-gray-600"
      [innerHTML]="'USERS.ECOSYSTEM.DESC_3' | translate"
    ></p>
  </section>

  <section appScrollAnimation class="mb-12">
    <h2 class="">
      {{ "USERS.THREE_SUBJECTS.TITLE" | translate }}
    </h2>
    <p
      class="text-gray-600 mb-4"
      [innerHTML]="'USERS.THREE_SUBJECTS.DESC_1' | translate"
    ></p>
    <p
      class="text-gray-600"
      [innerHTML]="'USERS.THREE_SUBJECTS.DESC_2' | translate"
    ></p>
    <p
      class="text-gray-600"
      [innerHTML]="'USERS.THREE_SUBJECTS.DESC_3' | translate"
    ></p>
    <p
      class="text-gray-600"
      [innerHTML]="'USERS.THREE_SUBJECTS.DESC_4' | translate"
    ></p>
    <p class="text-gray-600">
      {{ "USERS.THREE_SUBJECTS.DESC_5" | translate }}
    </p>
    <p class="text-gray-600">
      {{ "USERS.THREE_SUBJECTS.DESC_6" | translate }}
    </p>
    <p
      class="text-gray-600"
      [innerHTML]="'USERS.THREE_SUBJECTS.DESC_7' | translate"
    ></p>
    <p class="text-gray-600">
      {{ "USERS.THREE_SUBJECTS.DESC_8" | translate }}
    </p>
    <p class="text-gray-600">
      {{ "USERS.THREE_SUBJECTS.DESC_9" | translate }}
    </p>
    <p
      class="text-gray-600"
      [innerHTML]="'USERS.THREE_SUBJECTS.DESC_10' | translate"
    ></p>
  </section>
</div>
