<div #sidenavContainer class="h-full">
  <!-- mobile menu -->
  <mat-sidenav-container style="z-index: 10">
    <mat-sidenav
      #drawer
      [mode]="'over'"
      [opened]="(isHandset$ | async) === false"
      class="sidenav"
      fixedInViewport
    >
      <mat-toolbar>Menu</mat-toolbar>
      <nav class="flex flex-col p-4 gap-2 text-lg">
        <a
          [routerLink]="['/home']"
          (click)="drawer.toggle()"
          routerLinkActive="active"
          class="menu-item-a"
        >
          <span class="material-symbols-outlined icon-mb"> home </span>
          <span>{{ "NAV.HOME" | translate }}</span>
        </a>
        <div>
          <div
            class="menu-item-accordion"
            (click)="isAboutOpen = !isAboutOpen"
            [ngClass]="{ ' bg-slate-200 rounded-full': isAboutOpen }"
          >
            <div
              class="flex items-center gap-2"
              [ngClass]="{ 'text-blue-600 ': isAboutOpen }"
            >
              <span
                class="material-symbols-outlined icon-mb"
                [ngClass]="{ 'text-blue-600 bg-white ': isAboutOpen }"
              >
                info
              </span>
              <span>{{ "NAV.ABOUT.TITLE" | translate }}</span>
            </div>
            <span
              class="material-symbols-outlined transition-transform duration-300"
              [ngClass]="{
                'rotate-90': isAboutOpen,
                'text-blue-600': isAboutOpen
              }"
            >
              chevron_right
            </span>
          </div>

          <!-- Toggleable content -->
          <div
            class="flex flex-col gap-1 overflow-hidden transition-all duration-300 px-2"
            *ngIf="isAboutOpen"
          >
            <a
              [routerLink]="['about-section/about']"
              (click)="drawer.toggle()"
              routerLinkActive="active"
              class="menu-item-a"
            >
              <span class="material-symbols-outlined icon-mb"> info </span>
              <span>{{ "NAV.ABOUT.ABOUT" | translate }}</span>
            </a>
            <a
              [routerLink]="['pesaro']"
              (click)="drawer.toggle()"
              routerLinkActive="active"
              class="menu-item-a"
            >
              <span class="material-symbols-outlined icon-mb"> apartment </span>
              <span>{{ "NAV.ABOUT.PESARO" | translate }}</span>
            </a>
            <a
              [routerLink]="['about-section/urbino']"
              (click)="drawer.toggle()"
              routerLinkActive="active"
              class="menu-item-a"
            >
              <span class="material-symbols-outlined icon-mb"> apartment </span>
              <span>{{ "NAV.ABOUT.URBINO" | translate }}</span>
            </a>
          </div>
        </div>

        <div
          class="menu-item-accordion"
          (click)="isVolunteersOpen = !isVolunteersOpen"
          [ngClass]="{ ' bg-slate-200 rounded-full': isVolunteersOpen }"
        >
          <div
            class="flex items-center gap-2"
            [ngClass]="{ 'text-blue-600 ': isVolunteersOpen }"
          >
            <span
              class="material-symbols-outlined icon-mb"
              [ngClass]="{ 'text-blue-600 bg-white ': isVolunteersOpen }"
            >
              group
            </span>
            <span>{{ "NAV.VOLUNTEERS.TITLE" | translate }}</span>
          </div>
          <span
            class="material-symbols-outlined transition-transform duration-300"
            [ngClass]="{
              'rotate-90': isVolunteersOpen,
              'text-blue-600': isVolunteersOpen
            }"
          >
            chevron_right
          </span>
        </div>
        <div
          class="flex flex-col gap-1 overflow-hidden transition-all duration-300 px-2"
          *ngIf="isVolunteersOpen"
        >
          <a
            [routerLink]="['/volunteer']"
            (click)="drawer.toggle()"
            routerLinkActive="active"
            class="menu-item-a"
          >
            <span class="material-symbols-outlined icon-mb"> badge </span>
            <span>{{ "NAV.VOLUNTEERS.WHO_ARE" | translate }}</span>
          </a>
          <a
            [routerLink]="['/applications']"
            (click)="drawer.toggle()"
            routerLinkActive="active"
            class="menu-item-a whitespace-normal overflow-hidden"
          >
            <span class="material-symbols-outlined icon-mb"> description </span>
            <span>{{ "NAV.VOLUNTEERS.APPLICATIONS" | translate }}</span>
          </a>
        </div>

        <a
          [routerLink]="['/merchant']"
          (click)="drawer.toggle()"
          routerLinkActive="active"
          class="menu-item-a"
        >
          <span class="material-symbols-outlined icon-mb"> storefront </span>
          <span>{{ "NAV.MERCHANT" | translate }}</span>
        </a>
        <a
          [routerLink]="['/instrument']"
          (click)="drawer.toggle()"
          routerLinkActive="active"
          class="menu-item-a"
        >
          <span class="material-symbols-outlined icon-mb"> timer </span>
          <span>{{ "NAV.INSTRUMENT" | translate }}</span>
        </a>

        <a
          *ngIf="isLogged"
          [routerLink]="['/user/home']"
          (click)="drawer.toggle()"
          routerLinkActive="active"
          class="menu-item-a"
        >
          <span class="material-symbols-outlined icon-mb"> person </span>
          <span>{{ "NAV.PROFILE" | translate }}</span>
        </a>

        <a
          *ngIf="isLogged"
          (click)="logout()"
          (click)="drawer.toggle()"
          [routerLinkActive]="['active']"
          class="menu-item-a"
        >
          <span class="material-symbols-outlined icon-mb"> logout </span>
          <span>{{ "NAV.SIGN_OUT" | translate }}</span>
        </a>
      </nav>
    </mat-sidenav>
  </mat-sidenav-container>
  <div>
    <div class="flex justify-between items-center bg-[#fff] h-14">
      <a class="h-20 w-auto items-center flex px-4" routerLink="home">
        <img src="../../../assets/images/logo.png" />
      </a>
      <div class="flex flex-row align-items-center">
        <!-- begin menu pc -->
        <div class="menu-pc flex items-center gap-2 px-2">
          <button class="menu-item" (click)="navigate('home')">
            {{ "NAV.HOME" | translate }}
          </button>
          <!-- About -->
          <div class="relative group inline-block">
            <button class="menu-item">
              <span>{{ "NAV.ABOUT.TITLE" | translate }}</span>
              <span
                class="material-symbols-outlined ransform transition-transform duration-300 group-hover:rotate-180"
              >
                keyboard_arrow_down</span
              >
            </button>
            <div class="submenu">
              <button
                (click)="navigate('about-section/about')"
                class="block w-full text-left px-4 py-2 text-gray-800 hover:bg-gray-100"
              >
                {{ "NAV.ABOUT.ABOUT" | translate }}
              </button>

              <button
                (click)="navigate('pesaro')"
                class="block w-full text-left px-4 py-2 text-gray-800 hover:bg-gray-100"
              >
                {{ "NAV.ABOUT.PESARO" | translate }}
              </button>

              <button
                (click)="navigate('about-section/urbino')"
                class="block w-full text-left px-4 py-2 text-gray-800 hover:bg-gray-100"
              >
                {{ "NAV.ABOUT.URBINO" | translate }}
              </button>
            </div>
          </div>

          <!-- volunteers -->
          <div class="relative group inline-block">
            <button class="menu-item">
              <span>{{ "NAV.VOLUNTEERS.TITLE" | translate }}</span>
              <span
                class="material-symbols-outlined ransform transition-transform duration-300 group-hover:rotate-180"
              >
                keyboard_arrow_down</span
              >
            </button>
            <div class="submenu">
              <button
                (click)="navigate('volunteer')"
                class="block w-full text-left px-4 py-2 text-gray-800 hover:bg-gray-100"
              >
                <span>{{ "NAV.VOLUNTEERS.WHO_ARE" | translate }}</span>
              </button>
              <button
                (click)="navigate('applications')"
                class="block w-full text-left px-4 py-2 text-gray-800 hover:bg-gray-100"
              >
                <span>{{ "NAV.VOLUNTEERS.APPLICATIONS" | translate }}</span>
              </button>
            </div>
          </div>
          <button class="menu-item" (click)="navigate('merchant')">
            <span>{{ "NAV.MERCHANT" | translate }}</span>
          </button>
          <button class="menu-item" (click)="navigate('instrument')">
            <span>{{ "NAV.INSTRUMENT" | translate }}</span>
          </button>
          <button
            *ngIf="isLogged"
            class="menu-item"
            (click)="navigate('user/home')"
          >
            <span>{{ "NAV.PROFILE" | translate }}</span>
          </button>

          <button class="menu-item" *ngIf="isLogged" (click)="logout()">
            <span>{{ "NAV.SIGN_OUT" | translate }}</span>
          </button>
        </div>
        <div class="px-2 border-l border-[#A4A4A4]"></div>
        <!-- end menu pc-->
        <select
          class="lang-select"
          [(ngModel)]="selectLang"
          (change)="setTransLanguage()"
        >
          <option *ngFor="let lang of TransLang" value="{{ lang }}">
            {{ lang }}
          </option>
        </select>

        <button
          type="button"
          aria-label="Toggle drawer"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async"
        >
          <mat-icon style="color: black" aria-label="Side nav toggle icon"
            >menu
          </mat-icon>
        </button>
      </div>
    </div>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </div>
</div>
