<form [formGroup]="searchForm">
    <p>Inserire un minimo di <strong> 3 lettere</strong> per ricercare un
        <strong>utente già registrato</strong></p>

    <div class="flex flex-col gap-2">
        <div class="flex flex-row gap-6">
            <div>
                <label>Nome: </label>
                <input type="text" formControlName="name" class="input-create">
            </div>
            <div>
                <label>Cognome: </label>
                <input type="text" formControlName="surname" placeholder="Cognome" class="input-create">
            </div>
        </div>
        <div>
            <label>Email: </label>
            <input type="email" formControlName="email" placeholder="Email" class="input-create grow">
        </div>
    </div>
</form>
