<div class="flex justify-center relative">
    <div class="relative">
        <button (click)="changeAccessAction()" [ngClass]="{'btn-access-action-active': !createNewUser}"
                class="btn-access-action border-l-2 rounded-l-full">Ricerca
        </button>
        <mat-icon *ngIf="!createNewUser"
                  class="absolute left-2 top-1/2 transform -translate-y-1/2 text-gray-500 duration-200 ease-in-out"
                  color="primary">
            search
        </mat-icon>
    </div>
    <div class="relative">
        <button (click)="changeAccessAction()" [ngClass]="{'btn-access-action-active': createNewUser}"
                class="btn-access-action border-r-2 rounded-r-full">Nuovo utente
        </button>
        <mat-icon *ngIf="createNewUser"
                  class="absolute left-2 top-1/2 transform -translate-y-1/2 text-gray-500  duration-200 ease-in-out"
                  color="primary">
            add
        </mat-icon>
    </div>
</div>
<div *ngIf="!createNewUser else newUser" class="flex flex-col gap-2 justify-center items-stretch mt-6">
    <p>Inserire un minimo di <strong> 3 lettere</strong> per ricercare un
        <strong>utente già registrato</strong></p>

    <form [formGroup]="searchForm" class="flex flex-row justify-between px-6 gap-6">
        <div>
            <label>Nome: </label>
            <input type="text" formControlName="nameSearch" class="input-create">
        </div>
        <div>
            <label>Email: </label>
            <input type="email" formControlName="emailSearch" class="input-create">
        </div>
    </form>
</div>

<ng-template #newUser>
    <app-user-form (userSaved)="createdUser($event)" [isRoleAccessRequired]="isRoleAccessRequired"/>
</ng-template>