<h2 class="uppercase">Dashboard Admin</h2>
<div class="flex flex-col justify-start gap-2">

    <div *ngIf="user">
        <mat-tab-group>
            <mat-tab label="Instruments">
                <div class="flex justify-end mt-11">
                    <button class="flex justify-center border-2 px-4 py-2 rounded-full border-blue-600 bg-blue-200 hover:bg-blue-400"
                            (click)="onCreateInstrument()">
                        <mat-icon>add</mat-icon>
                        Nuovo Instrument
                    </button>
                </div>
                <h3>Instruments List</h3>
                <app-users-list [usersList]="instrumentsList"
                                [usersTableColumns]="instrumentsTableColumns"
                                (deleteSource)="onDeleteSource($event)"></app-users-list>

                <div class="mt-11">
                    <app-pagination [currentPage]="currentPage"
                                    [itemsPerPage]="itemsPerPage"
                                    [totalItems]="totalItems"
                                    (pageChanged)="onPageChange($event)"></app-pagination>
                </div>

                <div class="pagination-controls">
                    <button (click)="goToPreviousPage()" [disabled]="currentPage === 1">Previous</button>
                    <button (click)="goToNextPage()" [disabled]="currentPage === totalPages">Next</button>
                    <select (change)="goToPage($event.target.value)">
                        <option *ngFor="let page of pageNumbers" [value]="page">{{ page }}</option>
                    </select>
                </div>
            </mat-tab>

            <mat-tab label="Merchants">
                <div class="flex justify-end mt-11">
                    <button class="flex justify-center border-2 px-4 py-2 rounded-full border-blue-600 bg-blue-200 hover:bg-blue-400"
                            (click)="onCreateMerchant()">
                        <mat-icon>add</mat-icon>
                        Nuovo Merchant
                    </button>
                </div>
                <h3>Merchants List</h3>
                <app-users-list [usersTableColumns]="merchantsTableColumns"
                                [usersList]="merchantsList"></app-users-list>

            </mat-tab>
            <mat-tab label="Statistics">
                <button (click)="openStats()" class="btn-stats">
                    <mat-icon>bar_chart</mat-icon>
                    {{ "USER.MERCHANT.YOUR_STATS" | translate }}
                </button>
            </mat-tab>
        </mat-tab-group>


    </div>


</div>