.table-merch {
    @apply rounded-lg;
    overflow: hidden !important;
}

.custom-dialog-backdrop {
    background-color: #e5e5e5 !important;
    max-height: 90vh !important;
    overflow-y: scroll !important;
}

.loading-overlay {
    position: fixed; /* or 'absolute' if only within a specific container */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(128, 128, 128, 0.5); /* Gray background with transparency */
    z-index: 1000; /* Ensure it covers other content */
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-image {
    width: 100px; /* Adjust size as necessary */
    height: auto;
}
