<div class="pagination" *ngIf="totalPagesArray.length > 1">
    <button *ngIf="!(1 == currentPage)" (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1" class="not-active-pageNumber">Prec
    </button>
    <div *ngFor="let pageNumber of totalPagesArray">
        <div *ngIf="currentPage > pageNumber;">
            <button class="not-active-pageNumber" (click)="changePage(pageNumber)">{{ pageNumber }}</button>
        </div>
        <div *ngIf="currentPage === pageNumber">
            <span class="text-black text-lg">{{ pageNumber }}</span>
        </div>
        <div *ngIf="currentPage < pageNumber">
            <button class="not-active-pageNumber" (click)="changePage(pageNumber)">{{ pageNumber }}</button>
        </div>

    </div>
    <button *ngIf="!(pageCount == currentPage)" (click)="changePage(currentPage + 1)"
            [disabled]="currentPage === pageCount" class="not-active-pageNumber">Succ
    </button>
</div>
