<div *ngIf="pos" class="relative w-full">
    <!-- back button -->
    <button
            (click)="goBack()"
            class="font-bold items-center flex gap-2 mt-6 hover:bg-stone-100 rounded-lg px-2"
    >
        <i class="fas fa-arrow-left"></i> Indietro
    </button>
    <!-- title and id -->
    <div class="flex justify-center mx-6 mb-6">
        <!--        <h2>
                    <ng-container *ngIf="action === 'edit'; else addPosTitle">
                        {{ "USER.EDIT_POS.TITLE" | translate }}
                    </ng-container>

                    <ng-template #addPosTitle>
                        <ng-container *ngIf="action === 'view'; else defaultTitle">
                            {{ "USER.VIEW_POS.TITLE" | translate }}
                        </ng-container>

                        &lt;!&ndash; Default case &ndash;&gt;
                        <ng-template #defaultTitle>
                            {{ "USER.ADD_POS.TITLE" | translate }}
                        </ng-template>

                    </ng-template>
                </h2>-->
    </div>
    <!--cover image pos -->
    <div class="flex justify-center">
        <div class="relative w-[500px] h-[500px] ">
            <img *ngIf="imageLoaded; else blurImage" [src]="pos.cover.fullSizeUrl" alt="Cover Image"
                 class="cover-image rounded-lg">
            <button *ngIf="action === 'edit'" (click)="editCoverImage()" class="absolute top-6 right-6">
                <div class="relative flex items-center justify-center w-8 h-8 bg-white border-2 border-black rounded-full hover:bg-gray-200">
                    <i class="fa-solid fa-pen-to-square text-lg"></i>
                </div>
            </button>

        </div>
        <ng-template #blurImage>
            <img [src]="placeholderSrc" alt="Cover Image" class="cover-image">
        </ng-template>
    </div>

    <div class="mx-6">
        <mat-error *ngIf="formInputError">
            <ng-container *ngIf="action === 'edit'; else addPosInputError">
                {{ "USER.EDIT_POS.INPUT_ERROR" | translate }}
            </ng-container>
            <ng-template #addPosInputError>
                {{ "USER.ADD_POS.INPUT_ERROR" | translate }}
            </ng-template>
        </mat-error>
        <mat-error *ngIf="formApiError">
            <ng-container *ngIf="action === 'edit'; else addPosApiError">
                {{ "USER.EDIT_POS.API_ERROR" | translate }}
            </ng-container>
            <ng-template #addPosApiError>
                {{ "USER.ADD_POS.API_ERROR" | translate }}
            </ng-template>
            [offers]="pos.offers"
        </mat-error>
        <div class="mt-10">
            <app-forms-pos [(form)]="formPos" [pos]="pos" [action]=action></app-forms-pos>
        </div>
        <!--    <div class="flex justify-end">
                <button mat-button mat-dialog-close>
                    <ng-container *ngIf="action === 'edit'; else addPosCancel">
                        {{ "USER.EDIT_POS.CANCEL" | translate }}
                    </ng-container>
                    <ng-template #addPosCancel>
                        {{ "USER.ADD_POS.CANCEL" | translate }}
                    </ng-template>
                </button>
                <button mat-button (click)="onSubmit()" cdkFocusInitial>
                    <ng-container *ngIf="action === 'edit'; else addPosAdd">
                        {{ "USER.EDIT_POS.ADD" | translate }}
                    </ng-container>
                    <ng-template #addPosAdd>
                        {{ "USER.ADD_POS.ADD" | translate }}
                    </ng-template>
                </button>
            </div>-->
        <div class="mb-6">
            <app-offers [posAction]="action"/>
        </div>
    </div>
</div>