<div
  class="flex flex-wrap justify-center items-center gap-4 mt-8 relative w-full"
>
  <a [routerLink]="['/app/wom-pocket']">
    <img
      src="../../../assets/images/home/WOMPocket.png"
      alt="WOM Pocket"
      class="logo-app sm:mr-6"
    />
  </a>
  <div
    class="hidden md:block w-[2px] h-32 bg-[#CCCCCC] transform rotate-12 origin-center"
  ></div>
  <a [routerLink]="['/app/wom-fit']">
    <img
      src="../../../assets/images/home/WOMFit.png"
      alt="WOM Fit"
      class="logo-app"
    />
  </a>
  <div
    class="hidden md:block w-[2px] h-32 bg-[#CCCCCC] transform rotate-12 origin-center"
  ></div>
  <a [routerLink]="['/app/wom-pos']">
    <img
      src="../../../assets/images/home/WOMPos.png"
      alt="WOM POS"
      class="logo-app"
    />
  </a>
</div>
