<div class="mx-6 mt-6 md:mx-20">
  <h1 class="text-4xl font-bold text-[#009FE3] mb-6 text-center">
    {{ "USERS.INSTRUMENT.TITLE" | translate }}
  </h1>

  <section class="mb-12">
    <h2 class="">
      {{ "USERS.INSTRUMENT.WHO_ARE_INSTRUMENTS.TITLE" | translate }}
    </h2>
    <p
      class="text-gray-600 mb-4"
      [innerHTML]="'USERS.INSTRUMENT.WHO_ARE_INSTRUMENTS.DESC_1' | translate"
    ></p>
    <p
      class="text-gray-600"
      [innerHTML]="'USERS.INSTRUMENT.WHO_ARE_INSTRUMENTS.DESC_2' | translate"
    ></p>
    <p
      class="text-gray-600"
      [innerHTML]="'USERS.INSTRUMENT.WHO_ARE_INSTRUMENTS.DESC_3' | translate"
    ></p>
    <p
      class="text-gray-600"
      [innerHTML]="'USERS.INSTRUMENT.WHO_ARE_INSTRUMENTS.DESC_4' | translate"
    ></p>
  </section>

  <section class="mb-12">
    <h2 class="">
      {{ "USERS.INSTRUMENT.WHO_CAN_BECOME_AN_INSTRUMENT.TITLE" | translate }}
    </h2>
    <p
      class="text-gray-600 mb-4"
      [innerHTML]="
        'USERS.INSTRUMENT.WHO_CAN_BECOME_AN_INSTRUMENT.DESC_1' | translate
      "
    ></p>
    <p class="text-gray-600">
      {{ "USERS.INSTRUMENT.WHO_CAN_BECOME_AN_INSTRUMENT.DESC_2" | translate }}
    </p>
    <p class="text-gray-600">
      {{ "USERS.INSTRUMENT.WHO_CAN_BECOME_AN_INSTRUMENT.DESC_3" | translate }}
    </p>
    <p class="text-gray-600">
      {{ "USERS.INSTRUMENT.WHO_CAN_BECOME_AN_INSTRUMENT.DESC_4" | translate }}
    </p>
    <p class="text-gray-600">
      {{ "USERS.INSTRUMENT.WHO_CAN_BECOME_AN_INSTRUMENT.DESC_5" | translate }}
    </p>
    <p class="text-gray-600">
      {{ "USERS.INSTRUMENT.WHO_CAN_BECOME_AN_INSTRUMENT.DESC_6" | translate }}
    </p>
    <p class="text-gray-600">
      {{ "USERS.INSTRUMENT.WHO_CAN_BECOME_AN_INSTRUMENT.DESC_7" | translate }}
    </p>
    <p class="text-gray-600">
      {{ "USERS.INSTRUMENT.WHO_CAN_BECOME_AN_INSTRUMENT.DESC_8" | translate }}
    </p>
    <p class="text-gray-600">
      {{ "USERS.INSTRUMENT.WHO_CAN_BECOME_AN_INSTRUMENT.DESC_9" | translate }}
    </p>
    <p
      class="text-gray-600"
      [innerHTML]="
        'USERS.INSTRUMENT.WHO_CAN_BECOME_AN_INSTRUMENT.DESC_10' | translate
      "
    ></p>
  </section>

  <section class="mb-12">
    <h2 class="">
      {{ "USERS.INSTRUMENT.ACTIVE_INSTRUMENTS.TITLE" | translate }}
    </h2>
    <p class="text-gray-600 mb-4">
      {{ "USERS.INSTRUMENT.ACTIVE_INSTRUMENTS.DESC_1" | translate }}
    </p>
    <p class="text-gray-600">
      {{ "USERS.INSTRUMENT.ACTIVE_INSTRUMENTS.DESC_2" | translate }}
    </p>
    <p class="text-gray-600">
      {{ "USERS.INSTRUMENT.ACTIVE_INSTRUMENTS.DESC_3" | translate }}
    </p>
    <p class="text-gray-600">
      {{ "USERS.INSTRUMENT.ACTIVE_INSTRUMENTS.DESC_4" | translate }}
    </p>
    <p class="text-gray-600">
      {{ "USERS.INSTRUMENT.ACTIVE_INSTRUMENTS.DESC_5" | translate }}
    </p>
    <p class="text-gray-600">
      {{ "USERS.INSTRUMENT.ACTIVE_INSTRUMENTS.DESC_6" | translate }}
    </p>
    <p class="text-gray-600">
      {{ "USERS.INSTRUMENT.ACTIVE_INSTRUMENTS.DESC_7" | translate }}
    </p>
    <p class="text-gray-600">
      {{ "USERS.INSTRUMENT.ACTIVE_INSTRUMENTS.DESC_8" | translate }}
    </p>
    <p class="text-gray-600">
      {{ "USERS.INSTRUMENT.ACTIVE_INSTRUMENTS.DESC_9" | translate }}
    </p>
  </section>

  <section class="mb-12">
    <h2 class="">
      {{ "USERS.INSTRUMENT.BECOME_A_WOM_INSTRUMENT.TITLE" | translate }}
    </h2>
    <p class="text-gray-600 mb-4">
      {{ "USERS.INSTRUMENT.BECOME_A_WOM_INSTRUMENT.DESC_1" | translate }}
    </p>
    <p
      class="text-gray-600"
      [innerHTML]="
        'USERS.INSTRUMENT.BECOME_A_WOM_INSTRUMENT.DESC_2' | translate
      "
    ></p>
    <p class="text-gray-600">
      {{ "USERS.INSTRUMENT.BECOME_A_WOM_INSTRUMENT.DESC_3" | translate }}
    </p>
  </section>
</div>
