.tb-header {
    @apply font-semibold  capitalize border-b-4

}

.tb-action-cell {
    width: 160px;
    height: inherit;
    display: flex;
    align-items: center;
}

.action-cell {
    @apply p-3 space-x-2
}

.icon-button-bg {
    @apply w-10 h-10  rounded-full transition duration-300 ease-in-out
}

@media (max-width: 600px) {
    .action-cell {
        @apply p-0 pl-2 space-x-0 flex flex-col
    }

    .hide-mb {
        display: none;
    }

    table {
        font-size: 9px;
    }
}