<div class="mt-6">
    <ng-container *ngIf="usersList && usersList.length > 0; else noDataTemplate">

        <table class="mt-6 w-full shadow-lg bg-white rounded-lg overflow-hidden" mat-table [dataSource]="usersList">

            <ng-container *ngFor="let column of usersTableColumns" [matColumnDef]="column.field">
                <th class="p-3 text-left text-gray-700 bg-gray-100" [ngClass]="{'hide-mb': column.hideOnMobile}" mat-header-cell
                    *matHeaderCellDef>{{ column.field | titlecase }}
                </th>
                <td class="action-cell" [ngClass]="{'hide-mb': column.hideOnMobile}" *matCellDef="let user"><p class="mb-0">{{ user[column.field] }}</p></td>

            </ng-container>

            <!-- Action column -->
            <ng-container matColumnDef="extraColumn">
                <th class="p-3 bg-gray-100" mat-header-cell *matHeaderCellDef>Actions</th>
                <td class="table-cell" *matCellDef="let user">
                    <div class="action-cell">
                    <button class="icon-button-bg hover:bg-slate-300" (click)="onViewUser(user)">
                        <mat-icon>visibility</mat-icon>
                    </button>
                        <button class="icon-button-bg hover:bg-blue-200" (click)="onEditUser(user)">
                            <mat-icon class="text-blue-500">edit</mat-icon>
                        </button>
                    <button  class="icon-button-bg hover:bg-red-200" (click)="onDeleteUser(user)">
                        <mat-icon class="text-red-500">delete</mat-icon>
                    </button>
                    </div>
                </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"
                class="border-b-2 border-[#0000001F] hover:bg-gray-200"></tr>
        </table>
    </ng-container>

    <ng-template #noDataTemplate>
        <div class="text-center py-10">
            <p class="text-gray-500">Nessun risultato</p>
        </div>
    </ng-template>
</div>