<div class="container">
  <div class="page-title">
    <h1 [innerHTML]="'USERS.TITLE' | translate"></h1>
  </div>

  <h2
    class="h2-margin-bottom"
    [innerHTML]="'USERS.SECTION_A.TITLE' | translate"
  ></h2>
  <p [innerHTML]="'USERS.SECTION_A.A' | translate"></p>

  <h2
    class="h2-margin-bottom"
    [innerHTML]="'USERS.SECTION_B.TITLE' | translate"
  ></h2>
  <p [innerHTML]="'USERS.SECTION_B.A' | translate"></p>

  <app-store-logos
    [appName]="'WOM Pocket'"
    [appleURL]="'https://apps.apple.com/it/app/wom-pocket/id1466969163'"
    [googleURL]="
      'https://play.google.com/store/apps/details?id=social.wom.pocket'
    "
  ></app-store-logos>
</div>
