<div class="flex justify-between mt-6">
  <h2>Lista Merchants</h2>
  <app-create-button
    [label]="'Nuovo Merchant'"
    (clicked)="onCreateMerchant()"
  />
</div>
<app-filters
  [itemsPage]="itemsPerPage ? itemsPerPage : '10'"
  (filterEmit)="filterUpdate($event)"
/>
<div *ngIf="merchantsList">
  <app-admin-table
    [tableData]="merchantsList"
    [tableColumns]="merchantsTableColumns"
    [isActions]="true"
    [currentPage]="currentPage"
    [itemsPerPage]="itemsPerPage"
    [totalItems]="totalItems"
    [pageCount]="pageCount"
    [hasNext]="hasNext"
    [hasPrev]="hasPrev"
    (viewItem)="onViewMerchant($event)"
    (deleteItem)="onDeleteMerchant($event)"
    (editItem)="onEditMerchant($event)"
    (pageChanged)="onPageChange($event)"
  ></app-admin-table>
</div>
