<app-entity-search
  [currentUser]="currentUser"
  [entityType]="'instrument'"
  (voucherData)="generationVoucherData($event)"
  (clearElementFilter)="clearElementFilter($event)"
></app-entity-search>
@if (isGeneratedDataReady && !errorMessage) {

<div class="flex flex-wrap items-center mt-2">
  <!-- Totals Section -->
  <div class="flex flex-wrap gap-10 card-stat w-full min-w-[480px]">
    <div class="flex gap-2 items-center">
      <p class="font-semibold">Totali:</p>
      @if (totalCreatedAmount) {
      <app-animated-number
        [finalNumber]="totalCreatedAmount"
        [duration]="1000"
      ></app-animated-number>
      } @else {
      <p>0</p>
      }
    </div>
    <div class="flex gap-2 items-center">
      <p>di cui <span class="font-semibold">Riscossi:</span></p>
      @if (totalRedeemedAmount) {
      <app-animated-number
        [finalNumber]="totalRedeemedAmount"
        [duration]="1000"
      ></app-animated-number>
      } @else {
      <p>0</p>
      }
    </div>
    <div class="flex gap-2 items-center">
      <p class="font-semibold">Totali di sempre:</p>
      @if (totalEverCreatedAmount) {
      <app-animated-number
        [finalNumber]="totalEverCreatedAmount"
        [duration]="1000"
      ></app-animated-number>
      } @else {
      <p>0</p>
      }
    </div>
    <div class="flex gap-2 items-center">
      <p>di cui <span class="font-semibold">Riscossi:</span></p>
      @if (totalEverRedeemedAmount) {
      <app-animated-number
        [finalNumber]="totalEverRedeemedAmount"
        [duration]="1000"
      />
      } @else {
      <p>0</p>
      }
    </div>
  </div>

  <!-- Bar Chart for Generated and Redeemed Over Time -->
  <div class="card-stat">
    @if (totalCreatedAmount && totalCreatedAmount > 0) {

    <p class="mt-6 font-semibold">Generati e riscossi nel tempo</p>
    <!-- <ngx-charts-bar-vertical-2d
      [view]="view"
      [scheme]="blueAndYellowWom"
      [results]="totalGeneratedOverTime"
      [gradient]="false"
      [xAxis]="true"
      [yAxis]="true"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      [xAxisLabel]="'Data'"
      [yAxisLabel]="'Quantità'"
      (select)="onSelect($event)"
    >
    </ngx-charts-bar-vertical-2d> -->
    }
  </div>

  <!-- Pie Chart by Aim -->
  <div class="card-stat">
    @if (chartCreatedAmountByAim && chartCreatedAmountByAim.length > 0) {

    <p class="mt-2 font-semibold">Divisi per AIM:</p>
    <!-- <ngx-charts-pie-chart
      [view]="pieView"
      [scheme]="colorscheme"
      [results]="chartCreatedAmountByAim"
      [labels]="true"
      [maxLabelLength]="60"
    >
      <ng-template #tooltipTemplate let-model="model">
        <div class="p-2 bg-slate-800 text-white rounded shadow-md text-xs">
          <p class="font-semibold">{{ model.name }}</p>
          <p>
            Valore: <span class="font-bold">{{ model.value }}</span>
          </p>
        </div>
      </ng-template>
    </ngx-charts-pie-chart> -->
    }
  </div>
</div>

<div class="flex justify-start mt-2">
  <!-- BEGIN Sources Ranking -->
  @if (rankSources && rankSources.length === 1) {
  <div class="p-4 bg-[#fdfbfb] rounded-lg h-fit">
    <h3 class="text-lg font-bold">Posizione Instrument</h3>
    <p class="text-xl">
      <span [innerHTML]="getTrophy(rankSources[0].rank)"></span>

      {{ rankSources[0].name }} è al
      <span class="font-semibold text-black">#{{ rankSources[0].rank }}</span>
      nella classifica generale (
      <span class="font-semibold text-black"
        >{{ rankSources[0].totalGeneratedAmount }}
      </span>
      <span class="italic text-xs text-gray-500">WOM generati</span>) e (
      <span class="font-semibold text-black"
        >{{ rankSources[0].totalRedeemedAmount }}
      </span>
      <span class="italic text-xs text-gray-500">WOM riscossi</span>) .
    </p>
  </div>
  } @if (rankSources && rankSources.length > 1) {
  <div class="card-stat max-w-fit">
    <h3 class="font-semibold mb-4">
      <i class="fa-solid fa-star" style="color: #ffd43b"></i> Classifica
      Instrument
    </h3>

    <ul class="list-disc pl-5 space-y-2 h-[450px] overflow-y-auto">
      <li
        class="text-base flex flex-col gap-1"
        *ngFor="let rank of rankSources"
      >
        <!-- Rank Number + Trophy (On New Line) -->
        <div class="flex items-center gap-2">
          <span *ngIf="rank.rank === 1">
            1) <i class="fa-solid fa-trophy text-yellow-500"></i>
          </span>
          <span *ngIf="rank.rank === 2">
            2) <i class="fa-solid fa-trophy text-gray-400"></i>
          </span>
          <span *ngIf="rank.rank === 3">
            3) <i class="fa-solid fa-trophy text-amber-600"></i>
          </span>
          <span *ngIf="rank.rank > 3">{{ rank.rank }}) </span>
          <span
            class="text-lg font-semibold"
            [ngClass]="{
              'text-yellow-500': rank.rank === 1,
              'text-gray-400': rank.rank === 2,
              'text-amber-600': rank.rank === 3
            }"
          >
            {{ rank.name }}:
          </span>
          <div>
            <strong class="text-gray-800">{{
              rank.totalGeneratedAmount
            }}</strong>
            <span class="text-gray-600 text-xs"> {{ " " }}WOM Generati</span>
            {{ " " }}
            <strong class="text-gray-800">{{
              rank.totalRedeemedAmount
            }}</strong>
            <span class="text-gray-600 text-xs">{{ " " }}WOM Riscossi</span>
          </div>
        </div>
      </li>
    </ul>
  </div>
  }
  <!-- END Sources Ranking -->
</div>

} @else { @if (errorMessage) {
<div class="bg-red-100 text-red-700 p-4 rounded-md mt-4">
  <p>{{ errorMessage }}</p>
</div>
} @else {
<div>
  <app-skeleton-loader />
</div>
} }
