.access-list {
    list-style-type: none;
    padding: 0;
}

.access-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.access-details {
    flex-grow: 1;
}


.delete-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

.delete-button:hover {
    background-color: #fdd;
    border-radius: 50%;
}

.delete-button mat-icon {
    font-size: 24px;
    color: #f00;
}
