<div class="dialog-view">
    <p class="text-center"><span class="font-semibold text-cyan-700">{{ name }}</span></p>
    <div class="source-data">
        <p class="mb-0"><span class="font-semibold">Id</span>: {{ id }}</p>
        <p class="mb-0"><span class="font-semibold ">Url</span>: {{ url }}</p>
    </div>
    <div *ngIf="accessUsers && accessUsers.length > 0" class="mt-10">
        <p class="font-semibold mb-0 ">Gestori:</p>
        <ul class="access-list">
            <li *ngFor="let access of accessUsers" class="">
                <div class="access-item">
                <div class="access-details">
                    <div><span class="text-slate-600 font-semibold">Name</span>: {{ access.name }} {{ access.surname }}</div>
                    <div><span class="text-slate-600 font-semibold">Email</span>: {{ access.email }}</div>
                </div>
                <ng-container *ngIf="action === 'edit'">
                    <button class="delete-button text-red" (click)="onDeleteAccess(access)">
                        <mat-icon class="text-red">delete</mat-icon>
                    </button>
                </ng-container>
                </div>
            </li>
        </ul>
    </div>
    <div *ngIf="action === 'edit'">
        <div *ngIf="!createNewAccess" class="mt-11">
            <app-source-access-list (accessToAdd)="handleAccessList($event)"></app-source-access-list>
        </div>
    </div>
</div>