<div class="flex flex-col px-10 py-4">
    <p class="text-center"><span class="font-semibold">{{ name }}</span></p>
    <div class="flex justify-between">
        <p class="mb-0"><span class="font-semibold">Id</span>: {{ id }}</p>
        <p class="mb-0"><span class="font-semibold ">Url</span>: {{ url }}</p>
    </div>
    <div *ngIf="accessUsers && accessUsers.length > 0" class="mt-10">
        <p class="font-semibold">Gestori:</p>
        <ul class="access-list">
            <li *ngFor="let access of accessUsers" class="access-item">
                <div class="access-details">

                    <strong>Name</strong>: {{ access.name }} {{ access.surname }}
                    <span><strong>Email</strong>: {{ access.email }}</span>
                </div>
                <ng-container *ngIf="action === 'edit'">
                    <button class="delete-button text-red" (click)="onDeleteAccess(access)">
                        <mat-icon class="text-red">delete</mat-icon>
                    </button>
                </ng-container>
            </li>
        </ul>
    </div>
    <div *ngIf="action === 'edit'">
        <div *ngIf="!createNewAccess" class="mt-11">
            <app-data-access (accessToAdd)="handleAccessList($event)"></app-data-access>
        </div>
    </div>
</div>