<div class="basis-full">
  <nav class="flex justify-between" *ngIf="isLoaded">
    <button
      mat-flat-button
      (click)="prevPage()"
      [disabled]="page === 1"
      class="previous"
    >
      Prev
    </button>
    <button
      mat-flat-button
      (click)="nextPage()"
      [disabled]="page === totalPages"
      class="next"
    >
      Next
    </button>
  </nav>
  <pdf-viewer
    [src]="source"
    [original-size]="original_size"
    [render-text]="render_text"
    [rotation]="rotation"
    [show-all]="show_all"
    [fit-to-page]="fit_to_page"
    [zoom]="zoom"
    [zoom-scale]="zoom_scale"
    [external-link-target]="external_link_target"
    [autoresize]="autoresize"
    [show-borders]="show_borders"
    class="pdf-viewer"
    [page]="isLoaded ? page : 1"
    (after-load-complete)="afterLoadComplete($event)"
    (onError)="onPdfError($event)"
  ></pdf-viewer>
</div>
