<div class="relative mx-auto py-10 px-4 max-w-full">

    <app-statistics-filters (onDateFilter)="onDatesSelected($event)"/>
    <div *ngIf="merchants">
        <div *ngIf="merchants.length > 1">
            <select>
                <option (click)="changeMerchantView" *ngFor="let merch of merchants">{{ merch.name }}</option>
            </select>
        </div>

        <div *ngIf="isConsumedDataReady;"
             class="mb-12 bg-white shadow-md rounded-lg p-6 border">
            <div class="flex justify-between items-center mb-4">
                <h2 class="text-xl font-semibold">WOM Consumati</h2>

            </div>

            <div class="flex flex-wrap gap-6">
                <!-- Totals Section -->
                <div class="flex gap-2 items-center">
                    <p class="font-semibold">Totali:</p>
                    <ng-container *ngIf="totalConsumedAmount; else zeroConsumedAmount">
                        <app-animated-number
                                [finalNumber]="totalConsumedAmount"
                                [duration]="1000"
                        ></app-animated-number>
                    </ng-container>
                    <ng-template #zeroConsumedAmount>
                        <p>0</p>
                    </ng-template>
                </div>
            </div>

            <!-- Bar Chart for Consumption over Time -->
            <div class="flex justify-center gap-4">
                <div>
                    <ng-container *ngIf="totalConsumedOverTime">
                        <p class="mt-6 font-semibold">Consumo nel tempo</p>
                        <!-- <ngx-charts-bar-vertical
                                 [view]="view"
                                 [scheme]="colorScheme"
                                 [results]="totalConsumedOverTime"
                                 [gradient]="false"
                                 [xAxis]="true"
                                 [yAxis]="true"
                                 [legend]="true"
                                 [showXAxisLabel]="true"
                                 [showYAxisLabel]="true"
                                 [xAxisLabel]="'Data'"
                                 [yAxisLabel]="'Quantità'"
                                 (select)="onSelect($event)"
                         >
                         </ngx-charts-bar-vertical>-->
                    </ng-container>
                </div>
                <!-- BEGIN Pie Chart by Aim -->
                <div class="relative">
                    <ng-container
                            *ngIf="chartConsumedAmountByAim && chartConsumedAmountByAim.length > 0"
                    >
                        <p class="mt-6 font-semibold">Divisi per AIM:</p>
                        <!--  <div class="w-full max-w-full overflo">
                              <ngx-charts-pie-chart
                                      (window:resize)="onResize($event)"
                                      [view]="view"
                                      [scheme]="colorScheme"
                                      [results]="chartConsumedAmountByAim"
                                      [legend]="true"
                                      [labels]="true"
                              >
                              </ngx-charts-pie-chart>
                          </div>-->

                    </ng-container>
                </div>
            </div>
            <!-- END Pie Chart by Aim -->
            <!-- AVAILABLE WOM -->
            <div *ngIf="availableVouchers">
                <p><strong>Voucher disponibili:</strong> {{ availableVouchers }}</p>
            </div>
            <!-- BEGIN Merchant Ranking -->
            <div class="mt-6" *ngIf="rankMerchants && rankMerchants.length > 0">
                <h3 class="font-semibold mb-4">
                    <i class="fa-solid fa-star" style="color: #ffd43b"></i> Classifica
                    Merchant
                </h3>

                <!-- <ul class="list-disc pl-5 space-y-2">
                     <li *ngFor="let rank of rankMerchants | slice:0:displayLimit">
                         &lt;!&ndash; Conditional rendering for trophy icon based on rank &ndash;&gt;
                         <span *ngIf="rank.rank === 1">
             1) <i class="fa-solid fa-trophy" style="color: #ffd43b"></i>
           </span>
                         <span *ngIf="rank.rank === 2">
             2) <i class="fa-solid fa-trophy" style="color: #c0c0c0"></i>
           </span>
                         <span *ngIf="rank.rank === 3">
             3) <i class="fa-solid fa-trophy" style="color: #cd7f32"></i>
           </span>
                         <span *ngIf="rank.rank > 3"> {{ rank.rank }}) </span>

                         &lt;!&ndash; Merchant name and amount display &ndash;&gt;
                         {{ rank.name }}: <strong>{{ rank.amount }}</strong>
                         <span class="italic text-xs"> WOM</span>
                     </li>
                 </ul>

                 <div class="text-center mt-4">
                     <button
                             class="text-blue-500 hover:text-blue-700 underline"
                             (click)="toggleDisplay()"
                     >
                         {{ isExpanded ? 'Mostra meno' : 'Mostra di più' }}
                     </button>
                 </div>
             </div>-->
                <!-- END Merchant Ranking -->
            </div>
            <ng-template #loadingConsumption>
                <div class="flex flex-col gap-4 p-6 bg-white shadow-md rounded-lg">
                    <ngx-skeleton-loader
                            count="1"
                            appearance="line"
                            [theme]="{ height: '50px', width: '180px', 'border-radius': '20px' }"
                    ></ngx-skeleton-loader>
                    <div class="flex justify-around">
                        <ngx-skeleton-loader
                                count="1"
                                appearance="line"
                                [theme]="{ height: '300px', width: '300px', 'border-radius': '20px' }"
                        ></ngx-skeleton-loader>
                        <ngx-skeleton-loader
                                count="1"
                                appearance="circle"
                                [theme]="{ height: '300px', width: '300px'}"
                        ></ngx-skeleton-loader>
                    </div>
                    <ngx-skeleton-loader
                            count="5"
                            [theme]="{
        'border-radius': '5px',
        height: '50px'
      }"
                    ></ngx-skeleton-loader>
                </div>
            </ng-template>
            <div *ngFor="let merc of merchants">
                <p>{{ merc.name }}</p>
            </div>
        </div>
    </div>
    <div *ngIf="sources">
        <div *ngFor="let source of sources">
            <p>{{ source.name }}</p>
        </div>
    </div>
</div>


