<div class="dialog-view mb-4 text-center">
  <p class="font-semibold text-cyan-700 text-lg">{{ titleKey | translate }}</p>
</div>

<mat-dialog-content class="space-y-3">
  <!-- Errors -->
  @if (formInputError) {
    <mat-error>
      {{ inputErrorKey | translate }}
    </mat-error>
  }

  @if (formApiError) {
    <mat-error> {{ apiErrorKey | translate }} </mat-error>
  }

  <!-- Form -->
  <div class="bg-slate-50 p-4 rounded-lg">
    <app-form-merchant
      [(form)]="formMerchant"
      [merchant]="merchantData"
      [isAdmin]="isAdmin"
    ></app-form-merchant>
  </div>
</mat-dialog-content>

<!-- Actions -->
<mat-dialog-actions align="end" class="gap-2 mt-3">
  <button mat-button mat-dialog-close (click)="onCancel()">
    {{ cancelKey | translate }}
  </button>

  <button
    color="primary"
    mat-raised-button
    [disabled]="!formMerchant?.valid"
    (click)="onSubmit()"
    >
    {{ submitKey | translate }}
  </button>
</mat-dialog-actions>
