<div class="container" xmlns="http://www.w3.org/1999/html">
  <span class="page-title">{{ "MERCHANT.TITLE" | translate }}</span>
  <div fxLayout="row wrap" fxLayoutGap="20px grid">
    <div fxFlex="100%">
      <p
        class="page-secondary-title"
        [innerHTML]="'MERCHANT.SECTION_A.TITLE' | translate"
      ></p>
      <p [innerHTML]="'MERCHANT.SECTION_A.A' | translate"></p>
      <p [innerHTML]="'MERCHANT.SECTION_A.B' | translate"></p>
      <p [innerHTML]="'MERCHANT.SECTION_A.C' | translate"></p>
    </div>

    <!-- FILTERS -->
    <div fxFlex="100%">
      <p [innerHTML]="'MERCHANT.FILTERS.SEARCH.TITLE' | translate"></p>
      <input
        #mapSearchField
        placeholder="{{ 'MERCHANT.FILTERS.SEARCH.PLACEHOLDER' | translate }}"
        type="text"
      />
    </div>

    <!-- MAP -->
    <google-map
      fxFlex="75%"
      fxFlex.xs="100%"
      height="500px"
      width="100%"
      (mapDragend)="boundsChanged()"
      (zoomChanged)="boundsChanged()"
      [zoom]="zoom"
      [center]="center"
      [options]="options"
    >
      <map-marker
        #markerElem="mapMarker"
        *ngFor="let marker of markers"
        [position]="marker.getPosition()"
        [label]="marker.getLabel()"
        [title]="marker.getTitle()"
        [icon]="marker.getIcon()"
        (mapClick)="openInfo(markerElem, marker)"
      >
      </map-marker>

      <map-info-window [innerHTML]="infoContent"></map-info-window>
    </google-map>

    <div class="desktop-only" fxFlex="25%">
      <mat-selection-list
        [multiple]="false"
        (selectionChange)="onPosSelection($event)"
      >
        <mat-list-option *ngFor="let pos of posList" [value]="pos">{{
          pos.name
        }}</mat-list-option>
      </mat-selection-list>
    </div>

    <div class="mobile-only" fxFlex="100%">
      <mat-selection-list
        [multiple]="false"
        (selectionChange)="onPosSelection($event)"
      >
        <mat-list-option *ngFor="let pos of posList" [value]="pos">{{
          pos.name
        }}</mat-list-option>
      </mat-selection-list>
    </div>
    <!--
    <button (click)="zoomIn()">Zoom in</button>
    <button (click)="zoomOut()">Zoom out</button>
    <button (click)="logCenter()">Log center</button>
    <button (click)="addMarker()">Add marker</button>
    -->

    <div fxFlex="100%">
      <p
        class="page-secondary-title"
        [innerHTML]="'MERCHANT.SECTION_B.TITLE' | translate"
      ></p>
      <p [innerHTML]="'MERCHANT.SECTION_B.A' | translate"></p>
      <p [innerHTML]="'MERCHANT.SECTION_B.B' | translate"></p>
    </div>
  </div>
  <app-store-logos
    [appName]="'WOM POS '"
    [appleURL]="'https://apps.apple.com/it/app/wom-pos/id1468252634'"
    [googleURL]="'https://play.google.com/store/apps/details?id=social.wom.pos'"
  ></app-store-logos>
</div>
