<div *ngIf="filteredNavLinks" class="flex w-full min-h-[84vh]">
    <div class="loading-overlay" *ngIf="isLoading">
        <img src="/assets/gif/loading.gif" alt="Caricamento..." class="loading-image">
    </div>
    <div class="flex flex-col justify-between bg-user min-w-[250px] px-6 py-4">
        <div class="flex flex-col">
            <app-avatar [fullName]="username" [role]="role"></app-avatar>
            <ul class="flex flex-col gap-y-4 mt-6">
                <li *ngFor="let link of filteredNavLinks" routerLinkActive="active-link"
                    [routerLinkActiveOptions]="{exact: false}" class="px-2">
                    <div *ngIf="link.isActive; else notActive">
                        <a [routerLink]="link.path" class="flex items-center space-x-2 blue-wom">
                            <i [class]="link.icon" class="icon-sidenav"></i>
                            <span>{{ link.text }}</span>

                        </a>
                    </div>
                    <ng-template #notActive>
                        <p class="flex items-center space-x-2 mb-0">
                            <i class="fa-solid fa-ban icon-sidenav"></i>
                            <i [class]="link.icon" class="icon-sidenav"></i>
                            <span>{{ link.text }}</span>

                        </p>
                    </ng-template>
                </li>
            </ul>
        </div>
        <p class="mb-0"><i class="fa-regular fa-circle-question icon-sidenav "></i> FAQ</p>
    </div>
    <div class="relative flex w-full justify-center">
        <div class="flex w-full justify-center mx-10">
            <div class="flex justify-center">
                <router-outlet class=""></router-outlet>
            </div>
        </div>
    </div>

</div>