.mat-toolbar {
  background-color: #444558;
}
button.mat-menu-item {
  outline:none;
}

.example-spacer {
  flex: 1 1 auto;
}

.app-toolbar {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}

img {
  max-width: 100%;
  max-height: 50%;
}

.nav-button {
  color: white;
}

.nav-icon-button {
  color: white;
}

/* RESPONSIVE */
@media screen and (max-width: 768px) {
  .nav-button {
    display: none;
  }
}
@media (min-width: 769px) {
  .nav-icon-button {
    display: none;
  }
}
