<mat-card>
  <mat-card-content>
    <h2 class="h2-margin-bottom">{{ "SIGN_UP.TITLE" | translate }}</h2>
    <p [innerHTML]="'SIGN_UP.SUBTITLE' | translate"></p>
    <p>
      <a
        class="underline text-blue-400"
        [routerLink]="['/authentication/signin']"
        >{{ "SIGN_UP.BTN_ALREADY_REGISTERED" | translate }}</a
      >
    </p>
    <mat-error *ngIf="signupTimeout">
      {{ "SIGN_UP.TIMEOUT_ERROR" | translate }}
    </mat-error>
    <mat-error *ngIf="signupInvalid">
      {{ "SIGN_UP.FORM_ERROR" | translate }}
      <br />
      {{ errorMessage | translate }}
    </mat-error>
    <mat-horizontal-stepper [linear]="true" #stepper>
      <mat-step [stepControl]="formUser" [completed]="false">
        <ng-template matStepLabel>{{
          "SIGN_UP.REPRESENTATIVE.STEPPER_TITLE" | translate
        }}</ng-template>
        <!-- REPRESENTATIVE DATA -->
        <app-forms-user
          [(form)]="formUser"
          [disabled]="userRegistered"
        ></app-forms-user>
      </mat-step>

      <!-- OPTIONAL SECTION -->
      <!--
      <mat-step [stepControl]="formMerchant" [optional]="true">
        <ng-template matStepLabel>{{ 'SIGN_UP.MERCHANT.STEPPER_TITLE' | translate }}</ng-template>
        <mat-checkbox class="mat-checkbox-merchant" [(ngModel)]="requireMerchantRegistration">
          <mat-label>
            {{'SIGN_UP.MERCHANT.CHECKBOX' | translate}}
          </mat-label>
        </mat-checkbox>
      -->
      <!-- MERCHANT SECTION -->
      <!--
        <app-forms-merchant [(form)]="formMerchant" [merchant]="null" *ngIf="requireMerchantRegistration">

        </app-forms-merchant>
        <mat-divider [inset]="true"></mat-divider>
        -->
      <!-- POS SECTION -->
      <!--
        <mat-checkbox class="mat-checkbox-merchant" [(ngModel)]="requirePosRegistration" *ngIf="requireMerchantRegistration">
          <mat-label>
            {{'SIGN_UP.POS.CHECKBOX' | translate}}
          </mat-label>
        </mat-checkbox>
        <app-forms-pos [(form)]="formPos" *ngIf="requirePosRegistration && requireMerchantRegistration"></app-forms-pos>

        <div>
          <button mat-button matStepperPrevious>{{'SIGN_UP.BACK' | translate}}</button>
          <button mat-button matStepperNext>{{'SIGN_UP.NEXT' | translate}}</button>
        </div>
      </mat-step>
      -->
      <!-- CONFIRM SECTION -->
      <mat-step [stepControl]="formSubmit">
        <form [formGroup]="formSubmit">
          <ng-template matStepLabel>{{
            "SIGN_UP.DONE" | translate
          }}</ng-template>
          <mat-form-field appearance="fill">
            <h2 class="h2-margin-bottom">
              {{ "SIGN_UP.TERMS_CONDITIONS_TITLE" | translate }}
            </h2>
            <label>
              <textarea
                class="form-subgroup full-width-input"
                matInput
                formControlName="tcInfo"
              ></textarea>
            </label>
          </mat-form-field>
          <mat-form-field appearance="fill" style="height: 10px">
            <label>
              <input
                matInput
                formControlName="termsConditionsCheckbox"
                [hidden]="true"
              />
            </label>
            <mat-error>
              {{ "SIGN_UP.TC_ERROR" | translate }}
            </mat-error>
          </mat-form-field>

          <mat-checkbox
            class="example-margin"
            [checked]="termsConditionsChecked"
            formControlName="termsConditionsCheckbox"
          >
            {{ "SIGN_UP.TERMS_CONDITIONS" | translate }}
          </mat-checkbox>
          <br /><br />
          <mat-divider [inset]="true"></mat-divider>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-raised-button color="primary" (click)="onSubmit()">
              {{ "SIGN_UP.BTN_SIGN_UP" | translate }}
            </button>
          </div>
        </form>
      </mat-step>
    </mat-horizontal-stepper>
  </mat-card-content>
</mat-card>

<app-progress-spinner
  class="example-margin"
  [color]="color"
  [mode]="mode"
  [value]="value"
  [backdropEnabled]="true"
  [positionGloballyCenter]="true"
  [displayProgressSpinner]="displayProgressSpinner"
>
</app-progress-spinner>
