<mat-card>
    <mat-card-title>
        <h1>{{"RESET_PASSWORD.TITLE" | translate}}</h1>
    </mat-card-title>
    <mat-card-content>
        <form [formGroup]="form">
            <table class="full-width">
                <tr style="width:100%">
                    <td>
                        <mat-form-field>
                            <label>
                                <input  #password
                                        matInput
                                        minlength="8"
                                        type="password"
                                        placeholder="{{ 'SIGN_UP.REPRESENTATIVE.PASSWORD' | translate }}"
                                        formControlName="password"
                                        required>
                            </label>
                            <mat-hint align="start">{{password.value.length}} / {{password.minLength}}</mat-hint>
                            <mat-error>
                                {{'SIGN_UP.REPRESENTATIVE.PASSWORD_ERROR' | translate}}
                            </mat-error>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field>
                            <label>
                                <input matInput type="password" minlength="8"  placeholder="{{ 'SIGN_UP.REPRESENTATIVE.REPEAT_PASSWORD' | translate }}" formControlName="passwordRepeat" required>
                            </label>
                            <mat-error>
                                {{'SIGN_UP.REPRESENTATIVE.PASSWORD_ERROR' | translate}}
                            </mat-error>
                        </mat-form-field>

                    </td>
                </tr>
            </table>
            <mat-error *ngIf="expiredLink">
                {{'SIGN_UP.REPRESENTATIVE.EXPIRED_LINK_ERROR' | translate}}
            </mat-error>
            <mat-error *ngIf="passwordNoMatch">
                {{'SIGN_UP.REPRESENTATIVE.PASSWORD_NO_MATCH_ERROR' | translate}}
            </mat-error>
            <div>
                <button mat-raised-button color="primary" (click)="resetPassword()">{{ 'RESET_PASSWORD.RESET_BUTTON' | translate }}</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>
