<div class="container">
  <h1>Privacy Policy ‘WOM Point of Service’</h1>
  <p>Personal data collected for the following purposes and using the following services:</p>
  <ul>
    <li>
      Authentication: password and username
    </li>
    <li>
      Non-continuous geolocation: geographic location
    </li>
  </ul>

  <p>WOM POS will ask for the following permissions during regular operation:</p>
  <ul>
    <li>
      Location: using your device’s GPS to find current location (this permission is optional)
    </li>
  </ul>

  <p>Communication protocols with the WOM POS online service have been developed in order to be privacy-preserving by design:</p>
  <ul>
    <li>
      Unique identifiers of sessions and other sensitive data are never transmitted to the online service and are kept on the device;
    </li>
    <li>
      No personal information is ever stored on our servers.
    </li>
  </ul>
  <p>The service is compliant with the <a href="https://www.eugdpr.org/">EU General Data Protection Regulation.</a></p>
</div>
