<div *ngIf="merchants && merchants.length > 0; else noMerchant">
    <div class="my-6" *ngFor="let merchant of merchants; let i= index">
        <div
                class="bg-white rounded-lg shadow-md p-6 cursor-pointer"
                (click)="merchant.isOpen = !merchant.isOpen"

        >
            <app-editable-element
                    [valueEl]="merchant.name"
                    [action]="actions[i]"
                    [minLength]="8"
                    [maxLength]="100"
                    (onChangeElement)="onUpdateMerchant(i,'name', $event, true)"
                    (click)="$event.stopPropagation()"
                    class="font-semibold text-cyan-700"
            />
            <div class="merchant-data my-4">
                <p class="merchant-element">
                    <span class="text-slate-600 font-semibold">ID</span>: {{ merchant.id }}
                </p>
                <p class="merchant-element">
                    <span class="text-slate-600 font-semibold">CF</span>: {{ merchant.fiscalCode }}
                </p>
            </div>
            <div>
                <p class="flex items-center gap-2 mb-0 h-8">
                    <span class="text-slate-600 font-semibold">Abilitato: </span>
                    <span *ngIf="merchant.enabled; else notEnable">Attivo</span>
                    <ng-template #notEnable>Disattivato</ng-template>
                </p>
            </div>
            <div [@slideToggle]="merchant.isOpen ? 'open' : 'closed'">
                <div class="my-4 merchant-data">
                    <app-editable-element
                            [keyEl]="'Attività primaria'"
                            [valueEl]="merchant.primaryActivity"
                            [action]="actions[i]"
                            [typeEl]="'list'"
                            [option]="businessList"
                            (onChangeElement)="onUpdateMerchant(i,'primaryActivity', $event, true)"
                            (click)="$event.stopPropagation()"
                            class="merchant-element"
                    ></app-editable-element>
                    <app-editable-element
                            [keyEl]="'Indirizzo'"
                            [valueEl]="merchant.address"
                            [action]="actions[i]"
                            [typeEl]="'string'"
                            (onChangeElement)="onUpdateMerchant(i,'address', $event, false)"
                            (click)="$event.stopPropagation()"
                            class="merchant-element"
                    ></app-editable-element>
                    <app-editable-element
                            [keyEl]="'CAP'"
                            [valueEl]="merchant.zipCode"
                            [action]="actions[i]"
                            [pattern]="'^[0-9]{5}$'"
                            (onChangeElement)="onUpdateMerchant(i,'zipCode', $event, false)"
                            (click)="$event.stopPropagation()"
                            class="merchant-element"
                    />
                    <app-editable-element
                            [keyEl]="'Paese'"
                            [valueEl]="merchant.country"
                            [action]="actions[i]"
                            [typeEl]="'list'"
                            [option]="countryList"
                            (onChangeElement)="onUpdateMerchant(i,'country', $event, false)"
                            (click)="$event.stopPropagation()"
                            class="merchant-element"
                    ></app-editable-element>
                    <app-editable-element
                            [keyEl]="'URL'"
                            [valueEl]="merchant.url"
                            [action]="actions[i]"
                            [pattern]="
          '^(https?:\\/\\/)?([\\da-z\\.-]+)\\.([a-z\\.]+)(:[0-9]{1,5})?(\\/[^\\s]*)?$'
        "
                            [minLength]="10"
                            [maxLength]="100"
                            (onChangeElement)="onUpdateMerchant(i,'url', $event, false)"
                            (click)="$event.stopPropagation()"
                            class="merchant-element"
                    />
                </div>

                <p class="font-semibold mb-0 mt-6">Gestori:</p>
                <app-access-list [accessList]="merchant.accessList"
                                 [action]="merchant.access === 'Admin' ? 'edit' : 'view'"
                                 [showRole]="true"></app-access-list>


                <app-user-pos-list [merchantId]="merchant.id" [posList]="merchant.pos"
                                   [action]="actions[i]" class="mt-6"/>
            </div>
        </div>
    </div>
</div>
<ng-template #noMerchant>
    <div class="flex justify-center items-center">
        <h2>No merchant</h2>
    </div>
</ng-template>
