<div class="container">
    <h1 class="text-center">Statistiche <span class="text-[#477DFD]">{{ selectedMerchant.name }}</span></h1>
    <div class="flex justify-around">

        <div class="flex flex-col justify-center items-center mt-6">
            <h2>Totale WOM Consumati</h2>
            <div *ngIf="totalAmount">
                <app-animated-number [finalNumber]="totalAmount" [duration]="1000"/>
            </div>
        </div>

    </div>
    <div class="flex flex-wrap justify-center gap-4">
        <ng-container *ngFor="let pos of selectedMerchant.pos">

            <div class="border-2 rounded-sm border-black py-2 px-4">
                <div class="flex justify-between"><h2>{{ pos.name }}</h2>
                    <p>{{ posScore }}</p></div>
                <div>Offerte attive</div>
                <ul>
                    <ng-container *ngFor="let offer of offers">
                        <li><em>{{ offer.offerName }}</em> | {{ offer.amount }}</li>
                    </ng-container>
                </ul>
            </div>

            <ng-container *ngIf="offers && offers.length > 1">
                <h2>La migliore offerta è: {{ bestOffer.offerName }}</h2>
            </ng-container>
        </ng-container>
    </div>


    <!--
        <h2>Wom divisi per AIM</h2>
        <ngx-charts-pie-chart
                [view]="view"
                [scheme]="colorScheme"
                [results]="chartCreatedAmountByAim"
                [legend]="true"
                [labels]="true">
        </ngx-charts-pie-chart>
        <h2>WOM divisi per posizione</h2>
    -->


</div>
