<div>
  <div class="flex justify-center">
    <ngx-charts-linear-gauge
      [view]="viewAverage"
      [scheme]="colorsTotComparison"
      [value]="tot"
      [previousValue]="averageValue"
      [units]="units"
    >
    </ngx-charts-linear-gauge>
  </div>
  <!-- <ngx-charts-bar-vertical
    [view]="viewTotComparison"
    [scheme]="colorsTotComparison"
    [results]="totComparison"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [showXAxisLabel]="showXAxisLabel" <ngx-charts-bar-vertical
    [view]="viewTotComparison"
    [scheme]="colorsTotComparison"
    [results]="totComparison"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    (select)="onSelect($event)"
  >
  </ngx-charts-bar-vertical>
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    (select)="onSelect($event)"
  >
  </ngx-charts-bar-vertical> -->

  <div class="flex justify-center flex-col items-center margin-t-section">
    <ng-container *ngFor="let merchant of merchants">
      <h2 class="text-center">
        <span class="font-italic text-uppercase"
          >{{ merchant.name }}: {{ " " }}</span
        >Le Offerte attive
      </h2>
      <div>
        <ngx-charts-bar-horizontal
          [view]="view"
          [scheme]="colorsWOMConsumati"
          [results]="single"
          [gradient]="gradient"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [legend]="showLegend"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
          (select)="onSelect($event)"
        >
        </ngx-charts-bar-horizontal>
      </div>
    </ng-container>

    <!-- <ng-container *ngFor="let merchant of merchants">
      <div style="display: block">
        <h2>{{ merchant.name }}</h2>
        <ng-container *ngFor="let pos of merchant.pos">
          <div class="chart-container">
            <ngx-charts-advanced-pie-chart
              [results]="single"
              [label]="'WOM utilizzati per' + pos.name"
              [animations]="animate"
              [gradient]="gradient"
              [tooltipDisabled]="tooltipDisabled"
              (select)="onSelect($event)"
              (activate)="onActivate($event)"
              (deactivate)="onDeactivate($event)"
            >
            </ngx-charts-advanced-pie-chart>
          </div>
        </ng-container>
      </div>
    </ng-container> -->
  </div>
  <div class="margin-t-section">
    <div class="map margin-t-section">
      <h2 class="text-center">Mappa Transazioni</h2>
      <app-map></app-map>
    </div>
  </div>
</div>
