<!-- Date Filtering and CSV Download Section -->
<div class="relative">
  <ng-container *ngIf="!isDateFiltering; else filteringForDate">
    <button
      (click)="isDateFiltering = !isDateFiltering"
      class="flex items-center gap-2 px-4 py-2 border border-blue-500 text-blue-500 font-semibold rounded-lg shadow hover:bg-blue-100 focus:ring focus:ring-blue-400 transition"
    >
      <i class="fa-solid fa-calendar-days text-blue-500"></i>
      Filtra per data
    </button>
  </ng-container>
  <ng-template #filteringForDate>
    <button
      (click)="cancelDataFilter()"
      class="flex items-center gap-2 px-4 py-2 border border-red-500 text-red-500 font-semibold rounded-lg shadow hover:bg-red-100 focus:ring focus:ring-red-400 transition"
    >
      <i class="fa-solid fa-times text-red-500"></i>
      Annulla
    </button>
  </ng-template>
</div>

<!-- Datepicker -->
<ng-container *ngIf="isDateFiltering">
  <div class="mb-8">
    <app-datepicker (dates)="onDatesSelected($event)"></app-datepicker>
  </div>
</ng-container>
