<div class="container">
  <div class="page-title">
    <h1 [innerHTML]="'ABOUT.TITLE' | translate"></h1>
  </div>
  <p class="content" [innerHTML]="'ABOUT.SECTION_A.A' | translate"></p>
  <p class="content" [innerHTML]="'ABOUT.SECTION_A.B' | translate"></p>

  <div fxLayout="row wrap" fxLayoutGap="20px grid">
    <div fxFlex="100%">
      <p
        class="page-secondary-title"
        [innerHTML]="'ABOUT.SECTION_A_2.TITLE' | translate"
      ></p>
      <p [innerHTML]="'ABOUT.SECTION_A_2.A' | translate"></p>
      <p [innerHTML]="'ABOUT.SECTION_A_2.B' | translate"></p>
    </div>
    <div fxFlex="50%" fxFlex.xs="100%">
      <div>
        <p
          class="page-secondary-title"
          [innerHTML]="'ABOUT.SECTION_B.TITLE' | translate"
        ></p>
        <p [innerHTML]="'ABOUT.SECTION_B.A' | translate"></p>
        <p [innerHTML]="'ABOUT.SECTION_B.B' | translate"></p>
      </div>
    </div>
    <div class="justify-content-center" fxFlex="50%" fxFlex.xs="100%">
      <img
        fxFlex="50%"
        fxFlex.xs="100%"
        class="image"
        src="../../../../assets/images/wom_pocket.png"
        alt="WOM Pocket app"
      />
    </div>
    <div fxFlex="100%">
      <div>
        <p
          class="page-secondary-title"
          [innerHTML]="'ABOUT.SECTION_C.TITLE' | translate"
        ></p>
        <p [innerHTML]="'ABOUT.SECTION_C.A' | translate"></p>
      </div>
    </div>
  </div>
</div>
